<div class="viewport view-replace-page-name-here">  <!-- input view name to into class -->
  <div class="zone-alert">
    <div nc-alert type="info" closable="true">
      Hello World
    </div>
  </div>
  <zone-header historyback="false"> <!-- change historyback to "true" for back button-->
    <h1>Page Name</h1>
    <div class="action-btn-for-header">
        <button class="btn-primary btn-width-md">
            Button
        </button>
    </div>
  </zone-header>
  <div class="zone-body">
    <div class="container">

      <div class="card">
        <div class="card-body">
          <h2>Hello World</h2>
          <!-- Contetn Go Here -->
        </div>
      </div>

    </div>
  </div>

  <div class="floating-bar">
    <button class="btn-width-lg btn-primary">บันทึกข้อมูล</button>
  </div>

</div>
