<div class="view-replace-page-name-here">  <!-- input view name to into class -->
  <div class="header-zone">
    <div class="container">
      <div class="action-btn-for-header">
          <button class="btn-primary btn-width-md">
              <i class="fa fa-paper-plane"></i> Button
          </button>
      </div>
      <div class="page-header">
        <h1>Page Name</h1>
      </div>
    </div>
  </div>
  <div class="body-zone">
    <div class="container">

      <div nc-alert type="info" closable="true">
        Hello World
      </div>

      <!-- Contetn Go Here -->

    </div>
  </div>
</div>
