<div class="view-influencer-wallet">
    <zone-header historyback="true">
        <h1><i class="fa fa-instagram"></i> Token Management</h1>
    </zone-header>
    <div class="zone-body">
        <div class="container">
            <div class="card-transaction-header">

                <div class="card-body">
                    <strong>Your Current Token</strong>
                    <input type="text" class="form-control" readonly value="0ergerge40430ergerogerp24rgbrgbbo43004354300-34"/>
                    <strong>Status</strong>
                    <pre>Expired</pre>
                    <button class="btn btn-width-max btn-primary" style="font-size:100px"><i class="fa fa-american-sign-language-interpreting"></i> Reload </button>
                </div>
            </div>
        </div>
    </div>
</div>