<div class="viewport view-admin-influencer-list">
  <zone-header>
    <h1>All Influencers</h1>
  </zone-header>
  <div class="zone-body">
    <div class="container">
      <div class="card">
        <div class="card-body">
          <table ng-if="users.numberOfElements > 0" class="table" sorter ng-model="users" callback="load">
            <thead>
              <tr>
                <th class="col-name" sort="name">Influencer Name</th>
                <th sort="email">Email</th>
                <th class="text-center" sort="influencer.isVerify">Verification</th>
                <th class="col-button"></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="user in users.content">
                <td>{{user.name}}</td>
                <td>{{user.influencer.user.email}}</td>
                <td class="color-red text-center" ng-if="!user.influencer.isVerify">No</td>
                <td class="color-green text-center" ng-if="user.influencer.isVerify">Yes</td>
                <td>
                  <button ui-sref="admin-influencer-detail({userId: user.userId})" class="btn btn-secondary btn-width-md">ดูรายละเอียด</button>
                </td>
              </tr>
            </tbody>
          </table>
          <table-static ng-if="users.totalElements == 0">ไม่มี Influencer</table-static>
        </div>
      </div>
      <nav class="text-center" aria-label="Page navigation">
        <pagination ng-model="users" callback="load"></pagination>
      </nav>
    </div>
  </div>
</div>
