<div class="viewport view-admin-referral-code-list">
  <zone-header>
    <h1>Referral Payment</h1>
    <div class="action-btn-for-header">
      <form ng-submit="load(params, { search: search.value })" ng-model-options="{ debounce : { default : 500, blur : 0 }, allowInvalid: true}" novalidate>
        <div class="input-dropdown">
          <input class="form-control filter" ng-model="search.value" placeholder="ค้นหาด้วย Email"/>
        </div>
      </form>
    </div>
  </zone-header>
  <div class="zone-body">
    <div class="container">
      <div nc-alert="alert"></div>
      <div class="card">
        <cute-bunny></cute-bunny>
        <div class="card-body" cute-bunny-hide>
          <table ng-if="referrals.numberOfElements > 0" class="table" sorter ng-model="referrals" callback="load">
            <thead>
              <tr>
                <th class="col-name">Referral Code</th>
                <th class="col-name" sort="email">Email</th>
                <th class="">Brand</th>
                <th class="">Influencer</th>
                <th class="">Campaign</th>
                <th class="" sort="price">Price</th>
                <th class="" sort="fee">Profit</th>
                <th class="text-center">Commission (%)</th>
                <th class="text-center">Commission (฿)</th>
                <th class="col-date" sort="completeDate">Complete Date</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="ref in referrals.content">
                <td class="color-green"><a ui-sref="admin-workroom({proposalId: ref.proposalId})">{{ref.campaign.brand.user.referral.referralId}}</a></td>
                <td>{{ref.campaign.brand.user.referral.partner.email}}</td>
                <td>{{ref.campaign.brand.brandName}}</td>
                <td>{{ref.influencer.user.name}}</td>
                <td>{{ref.campaign.title}}</td>
                <td>{{ref.price | number}}</td>
                <td>{{ref.fee | number}}</td>
                <td class="text-center">{{ ref.campaign.brand.user.referral.commission | number }}%</td>
                <td class="text-center">{{ref.fee * ref.campaign.brand.user.referral.commission / 100  | number}}</td>
                <td class="col-date"><span ng-if="ref.completeDate">{{ref.completeDate | amDateFormat: 'll'}}</span><span ng-if="!ref.completeDate">n/a</span></td>
                <td class="col-button">
                  <button ng-if="ref.isReferralPay" class="btn-secondary-active btn-minimal">Paid</button>
                  <button ng-if="!ref.isReferralPay" class="btn-secondary btn-minimal" ng-click="save(ref)">Not Paid</button>
                </td>
              </tr>
            </tbody>
          </table>
          <table-static ng-if="referrals.totalElements == 0">ไม่มี referral payment</table-static>
        </div>
      </div>
      <nav class="text-center" aria-label="Page navigation">
        <pagination ng-model="referrals" callback="load"></pagination>
      </nav>
    </div>
  </div>
</div>
