<div class="view-admin-transaction-history">
  <zone-header historyback="false">
    <h1>Transaction History</h1>
  </zone-header>
  <div class="zone-body">
    <div class="container">
      <div class="card-inbox">
        <div class="card-body">
          <table ng-if="transactions.numberOfElements > 0" class="table" sorter ng-model="transactions" callback="load">
            <thead>
              <tr>
                <th class="col-date" sort="updatedAt">แก้ไขล่าสุด</th>
                <th class="col-campaign-name" sort="user.userId">Brand</th>
                <th class="col-status" sort="status">สถานะ</th>
                <th sort="transactionId">หมายเลขการสั่งซื้อ</th>
                <th class="text-center" sort="proposals">จำนวนข้อเสนอ</th>
                <th class="col-price" sort="amount">ราคารวม (บาท)</th>
                <th class="col-button"></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="transaction in transactions.content">
                <td class="col-date">{{ transaction.updatedAt | amDateFormat : 'D MMM YY' }}</td>
                <td class="col-campaign-name">{{ transaction.brandTransactionDocument.cart.proposals[0].campaign.brand.brandName }}</td>
                <td class="col-status">
                  <span class="color-yellow" ng-if="transaction.status == 'Pending'"><i class="fa fa-clock-o"></i> รอการชำระเงิน</span>
                  <span class="color-green" ng-if="transaction.status == 'Complete'"><i class="fa fa-check-circle-o"></i> ชำระแล้ว</span>
                  <span class="color-grey" ng-if="transaction.status == 'Expired'"><i class="fa fa-ban"></i> หมดอายุ</span>
                </td>
                <td class="text-center">{{ transaction.transactionNumber }}</td>
                <td class="col-rabbit-score">{{ transaction.brandTransactionDocument.cart.proposals.length || '0' }}</td>
                <td class="col-time">{{ transaction.amount | currency: '': 0 }}</td>
                <td class="col-button">
                  <button class="btn-secondary" ui-sref="admin-transaction-detail({transactionId: transaction.transactionId})">ดูรายละเอียด</button>
                </td>
              </tr>
            </tbody>
          </table>
          <table-static ng-if="transactions.totalElements == 0">ไม่มี Transaction</table-static>
        </div>
      </div>
      <nav class="text-center" aria-label="Page navigation">
        <pagination ng-model="transactions" callback="load"></pagination>
      </nav>
    </div>
  </div>
</div>
