<form name="form" novalidate>
    <div class="viewport view-admin-workroom workroom">
      <zone-header historyback="true">
      </zone-header>
        <div class="zone-body">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div nc-alert="alert"></div>
                        <div class="chatbox-card card"  ng-if="proposal.status == 'Complete'">
                            <div class="chatbox-header">
                                <h3>Add Link</h3>
                            </div>
                            <div class="card-body">
                                <div class="card-row">
                                    <div class="card-body-content-label with-input">
                                        Facebook Link
                                    </div>
                                    <div class="card-body-content">
                                        <div class="container-link" ng-repeat="link in links.facebook track by $index">
                                          <input type="text" required ng-model="link.url" class="form-control" maxlength="60" ng-disabled="link.socialPostId">
                                          <div class="save-link" ng-if="!link.socialPostId">
                                            <a ng-click="save(link, 'facebook')"><i class="fa fa-floppy-o"></i> Save</a>
                                          </div>
                                          <div class="delete-link" ng-if="link.socialPostId">
                                            <a ng-click="delete(link, 'facebook')"><i class="fa fa-trash"></i> Delete</a>
                                          </div>
                                        </div>
                                        <a ng-click="links.facebook.push({})">+ Add Another Link</a>
                                    </div>
                                </div>
                                <div class="card-row">
                                    <div class="card-body-content-label with-input">
                                        Instagram Link
                                    </div>
                                    <div class="card-body-content">
                                        <div class="container-link" ng-repeat="link in links.instagram track by $index">
                                          <input type="text" required ng-model="link.url" class="form-control" maxlength="60" ng-disabled="link.socialPostId">
                                          <div class="save-link" ng-if="!link.socialPostId">
                                            <a ng-click="save(link, 'instagram')"><i class="fa fa-floppy-o"></i> Save</a>
                                          </div>
                                          <div class="delete-link" ng-if="link.socialPostId">
                                            <a ng-click="delete(link, 'instagram')"><i class="fa fa-trash"></i> Delete</a>
                                          </div>
                                        </div>
                                        <a ng-click="links.instagram.push({})">+ Add Another Link</a>
                                    </div>
                                </div>
                                <div class="card-row">
                                    <div class="card-body-content-label with-input">
                                        Youtube Link
                                    </div>
                                    <div class="card-body-content">
                                        <div class="container-link" ng-repeat="link in links.google track by $index">
                                          <input type="text" required ng-model="link.url" class="form-control" maxlength="60" ng-disabled="link.socialPostId">
                                            <div class="save-link" ng-if="!link.socialPostId">
                                              <a ng-click="save(link, 'google')"><i class="fa fa-floppy-o"></i> Save</a>
                                            </div>
                                            <div class="delete-link" ng-if="link.socialPostId">
                                              <a ng-click="delete(link, 'google')"><i class="fa fa-trash"></i> Delete</a>
                                            </div>
                                        </div>
                                        <a ng-click="links.google.push({})">+ Add Another Link</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-9">
                        <div class="chatbox-card">
                            <div class="chatbox-header">
                                <h3>{{ proposal.influencer.user.name | truncate: 30 }} </h3>
                                <!-- <a class="link-view-profile" ui-sref="brand-influencer-profile({influencerId: proposal.influencer.influencerId, proposalId: proposal.proposalId })">
                                  ดูโปรไฟล์
                                </a> -->
                                <div class="chatbox-status">
                                    <span class="color-grey">สถานะ: </span>
                                    <span class="color-green" ng-if="proposal.status == 'Selection'">รอคุณคัดเลือก</span>
                                    <!-- tooltip-placement="bottom" uib-tooltip="ตกลงขอบเขตการทำงาน และ เลือกข้อเสนอ เพื่อชำระเงิน" -->
                                    <span class="color-green" ng-if="proposal.status == 'Working'">รอคุณอนุมัติงาน</span>
                                    <!-- tooltip-placement="bottom" uib-tooltip="รอตรวจสอบงานจาก Influencer และ อนุมัติงานเมื่อคุณพอใจ" -->
                                    <span class="color-green" ng-if="proposal.status == 'Complete'">เสร็จสิ้น</span>
                                    <!-- tooltip-placement="bottom" uib-tooltip="งานของคุณเสร็จสิ้นแล้ว" -->
                                </div>
                            </div>
                            <div class="message-area" scroll-glue="scroll">
                                <cute-bunny></cute-bunny>
                                <div cute-bunny-hide>
                                    <card-influencer-profile ng-model="proposal.influencer" show-social-data="false">
                                      <a ui-sref="brand-influencer-profile({influencerId: proposal.influencer.influencerId })" class="link-to-profile">ดูโปรไฟล์</a>
                                    </card-influencer-profile>

                                    <div class="message-past" ng-if="hasPastMessage()">
                                        <button class="btn-secondary-highlight btn-width-lg" ng-click="loadPastMessage()">แสดงข้อความก่อนหน้านี้</button>
                                    </div>
                                    <message ng-repeat="x in msglist" message-data="x" class="message-wrapper"></message>
                                </div>
                            </div>
                            <div class="message-input">
                                <textarea chatarea="sendMessage(formData.messageStr, formData.resources)" class="form-control" rows="4" ng-model="formData.messageStr"
                                    placeholder="พิมพ์ข้อความ..." autofocus maxlength="1000" disabled></textarea>
                                <!-- <div class="pull-left">
                                    <div>{{formData.messageStr.length || '0'}}/1000</div>
                                </div> -->
                                <div class="pull-right" form-error="form.resource">
                                    <div input-error class="pull-left"></div>
                                    <!-- <uploader-multi name="resource" template="components/templates/uploader-chat.html" ng-model="formData.resources" accept=".jpg,.png"
                                        ngf-pattern="'.jpg,.png'" ngf-max-size="10MB" ngf-max-files="1" is-loading="formData.isLoading"></uploader-multi> -->

                                    <button disabled class="btn-secondary-highlight btn-width-md btn-minimal disabled" ng-click="sendMessage(formData.messageStr, formData.resources)" ng-disabled="formData.isLoading">
                                    <i class="fa fa-paper-plane" aria-hidden="true"></i> ส่งข้อความ
                                  </button>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-3">

                      <div class="card-campaign-thumbnail" ui-sref="brand-campaign-detail-published({campaignId: proposal.campaign.campaignId })" cute-bunny-hide>
                          <div class="card-header">
                              <h3>Campaign</h3> <a href="#">ดูรายละเอียด</a>
                          </div>
                          <div class="card-thumbnail-image">
                              <img ng-src="{{proposal.campaign.mainResource.url || 'images/placeholder-campaign.png'}}" class="img-responsive" />
                          </div>
                          <div class="card-body">
                              {{ proposal.campaign.title | truncate: 60 }}
                          </div>
                      </div>

                      <card-proposal-detail ng-model="proposal" cute-bunny-hide>
                        <div class="how-to-text">
                           ถ้าคิดไม่ออกถามเพื่อนข้างๆ<br> ได้เลยจ้ะ :-)
                        </div>
                          <!-- <div class="info-text text-center">
                              <span ng-if="proposal.status == 'Selection' && proposal.cart.status == 'Incart'">คุณได้เลือกข้อเสนอนี้แล้ว</span>
                              <span ng-if="proposal.status == 'Selection' && proposal.cart.status == 'Checkout'">รอคุณชำระเงินก่อนเริ่มดำเนินการ</span>
                          </div>
                          <button class="btn-primary btn-width-max" ng-if="proposal.status == 'Selection' && !proposal.cartId" ng-click="selectProposal(proposal)">&nbsp เลือกข้อเสนอ <i class="fa fa-arrow-right"></i></button>
                          <button class="btn-primary btn-width-max" ng-if="proposal.status == 'Selection' && proposal.cart.status == 'Checkout'" ui-sref="brand-transaction-detail({cartId: proposal.cartId})">ดูรายละเอียดการสั่งซื้อ</button>
                          <button class="btn-primary btn-width-max" ng-if="proposal.status == 'Selection' && proposal.cartId && proposal.cart.status != 'Checkout'" ui-sref="brand-cart">ดูตะกร้า</button>
                          <button class="btn-primary btn-width-max" ng-if="proposal.status == 'Working'" ng-click="approveProposal(proposal)">&nbsp อนุมัติงาน <i class="fa fa-arrow-right"></i></button> -->
                      </card-proposal-detail>

                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
