<form name="form" novalidate>
    <div class="viewport view-brand-workroom workroom">
        <div class="zone-header">
            <div class="container">
                <div class="back-btn-for-header">
                    <span ng-click="history.back()"><i class="fa fa-arrow-left"></i> กลับไปหน้าก่อน</span>
                </div>
            </div>
        </div>
        <div class="zone-body">
            <div class="container">
                <div class="row">
                    <div class="col-xs-9">
                        <div class="chatbox-card">
                            <div class="chatbox-header">
                                <a class="link-view-profile" ui-sref="brand-influencer-profile({influencerId: proposal.influencer.influencerId })">
                                  <h3>{{ proposal.influencer.user.name | truncate: 30 }} </h3>
                                  <i class="fa fa-info-circle"></i>ดูโปรไฟล์
                                </a>
                                <div class="chatbox-status">
                                    <span class="color-grey">สถานะ: </span>
                                    <span class="color-green" ng-if="proposal.status == 'Selection'" tooltip-placement="bottom" uib-tooltip="ตกลงขอบเขตการทำงาน และ เลือกข้อเสนอ เพื่อชำระเงิน" >รอคุณคัดเลือก</span>
                                    <span class="color-green" ng-if="proposal.status == 'Working'" tooltip-placement="bottom" uib-tooltip="รอตรวจสอบงานจาก Influencer และ อนุมัติงานเมื่อคุณพอใจ" >รอคุณอนุมัติงาน</span>
                                    <span class="color-green" ng-if="proposal.status == 'Complete'" tooltip-placement="bottom" uib-tooltip="งานของคุณเสร็จสิ้นแล้ว" >เสร็จสิ้น</span>
                                </div>
                            </div>
                            <div class="message-area" scroll-glue="scroll">
                                <cute-bunny></cute-bunny>
                                <div cute-bunny-hide>
                                    <card-influencer-profile ng-model="proposal.influencer" show-social-data="false">
                                      <a ui-sref="brand-influencer-profile({influencerId: proposal.influencer.influencerId })" class="link-to-profile">ดูโปรไฟล์</a>
                                    </card-influencer-profile>

                                    <div class="message-past" ng-if="hasPastMessage()">
                                        <button class="btn-secondary-highlight btn-width-lg" ng-click="loadPastMessage()">แสดงข้อความก่อนหน้านี้</button>
                                    </div>
                                    <message ng-repeat="x in msglist" message-data="x" class="message-wrapper"></message>
                                    <div nc-alert="alert"></div>
                                </div>
                            </div>
                            <div class="message-input">
                                <textarea chatarea="sendMessage(formData.messageStr, formData.resources)" class="form-control" rows="4" ng-model="formData.messageStr"
                                    placeholder="พิมพ์ข้อความ..." autofocus maxlength="1000"></textarea>
                                <!-- <div class="pull-left">
                                    <div>{{formData.messageStr.length || '0'}}/1000</div>
                                </div> -->
                                <div class="pull-right" form-error="form.resource">
                                    <div input-error class="pull-left"></div>
                                    <uploader-multi name="resource" template="components/templates/uploader-chat.html" ng-model="formData.resources" accept=".jpg,.png"
                                        ngf-pattern="'.jpg,.png'" ngf-max-size="10MB" ngf-max-files="1" is-loading="formData.isLoading"></uploader-multi>

                                    <button class="btn-secondary-highlight btn-width-md" ng-click="sendMessage(formData.messageStr, formData.resources)" ng-disabled="formData.isLoading">
                                    <i class="fa fa-paper-plane" aria-hidden="true"></i> ส่งข้อความ
                                  </button>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <card-proposal-detail ng-model="proposal" cute-bunny-hide>
                            <div class="info-text text-center">
                                <span ng-if="proposal.status == 'Selection' && proposal.cart.status == 'Incart'">คุณได้เลือกข้อเสนอนี้แล้ว</span>
                                <span ng-if="proposal.status == 'Selection' && proposal.cart.status == 'Checkout'">รอคุณชำระเงินก่อนเริ่มดำเนินการ</span>
                            </div>
                            <button class="btn-primary btn-width-max" ng-if="proposal.status == 'Selection' && !proposal.cartId" ng-click="selectProposal(proposal)">เลือกข้อเสนอ</button>
                            <button class="btn-primary btn-width-max" ng-if="proposal.status == 'Selection' && proposal.cart.status == 'Checkout'" ui-sref="brand-transaction-detail({cartId: proposal.cartId})">ดูรายละเอียดการสั่งซื้อ</button>
                            <button class="btn-primary btn-width-max" ng-if="proposal.status == 'Selection' && proposal.cartId && proposal.cart.status != 'Checkout'" ui-sref="brand-cart">ดูตะกร้า</button>
                            <button class="btn-primary btn-width-max" ng-if="proposal.status == 'Working'" ng-click="approveProposal(proposal)">อนุมัติงาน</button>
                        </card-proposal-detail>
                        <div class="card-campaign-thumbnail" ui-sref="brand-campaign-detail-published({campaignId: proposal.campaign.campaignId })" cute-bunny-hide>
                            <div class="card-thumbnail-image">
                                <img ng-src="{{proposal.campaign.mainResource.url || 'images/placeholder-campaign.png'}}" class="img-responsive" />
                            </div>
                            <div class="card-body">
                                {{ proposal.campaign.title | truncate: 60 }}
                                <button class="btn-secondary btn-width-max">ดูรายละเอียด</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
