<form ng-submit="saveProfile(form, formData)" name="form">
<div class="view-brand-profile">
  <div class="header-zone">
    <div class="container">
      <h1>Profile ของฉัน</h1>
    </div>
  </div>
  <div class="body-zone">
    <div class="container">

      <alert-box type="alert-info" show-on="true" closable="false">
        ยิ่งใส่ข้อมูลเยอะ คนยิ่งสนใจ Campaign ของ Brand คุณมากขึ้น
      </alert-box>
      <alert-box type="alert-success" show-on="$root.state == states.SAVE_OK">
        บันทึกข้อมูลเรียบร้อย!
      </alert-box>
      <alert-box type="alert-danger" show-on="$root.state == states.SAVE_FAIL_VAL">
        กรุณากรอกข้อมูลให้ถูกต้อง
      </alert-box>
      <alert-box type="alert-danger" show-on="$root.state == states.ERROR">
        <strong>Oh my gawd!</strong> The D team has failed us!
      </alert-box>

      <div class="card">
        <div class="card-body">

          <div class="card-row">
            <div class="card-title col-xs-12">
              <div class="card-title-content">
                เกี่ยวกับ Brand
              </div>
            </div>
          </div>

          <div class="card-row">
            <div class="card-body-content-label with-input">
              รูปโลโก้ของ Brand
            </div>
            <div class="card-body-content">
              <uploader-thumb width="300" height="300" ng-model="formData.profilePicture">
                <i class="fa fa-camera"></i><br>เลือกรูป 
              </uploader-thumb>
            </div>
          </div>
          <div class="card-row">
            <div class="card-body-content-label with-input">
              ชื่อ Brand
            </div>
            <div class="card-body-content">
              <input type="text" ng-model="formData.brand.brandName" class="form-control">
            </div>
          </div>
          <div class="card-row">
            <div class="card-body-content-label with-input">
              เกี่ยวกับ Brand
            </div>
            <div class="card-body-content">
              <textarea class="form-control" rows="4" ng-model="formData.brand.about" placeholder="อธิบายเกี่ยวกับ Brand ของคุณ"></textarea>
            </div>
          </div>
          <div class="card-row">
            <div class="card-body-content-label with-input">
              เว็บไซน์ของ Brand
            </div>
            <div class="card-body-content">
              <input type="text" ng-model="formData.brand.website"  class="form-control">
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <div class="card-row">
            <div class="card-title">
              <div class="card-title-content">
                เกี่ยวกับผู้สมัคร
              </div>
            </div>
          </div>
          <div class="card-row">
            <div class="card-body-content-label with-input">
              ชื่อผู้สมัคร
            </div>
            <div class="card-body-content">
              <input type="text" ng-model="formData.name" class="form-control">
            </div>
          </div>
          <div class="card-row">
            <div class="card-body-content-label with-input">
              เบอร์ติดต่อ
            </div>
            <div class="card-body-content">
              <input type="text" ng-model="formData.phoneNumber" class="form-control">
            </div>
          </div>
          <div class="card-row">
            <div class="card-body-content-label with-input">
              อีเมล
            </div>
            <div class="card-body-content">
              <input type="text" ng-model="formData.email" class="form-control">
            </div>
          </div>
          <div class="card-row">
            <div class="card-body-content-label with-input">
              ตั้งรหัสผ่านใหม่
            </div>
            <div class="card-body-content">
              <input type="password" ng-model="formData.password" name="password" class="form-control">
            </div>
          </div>
          <div class="card-row">
            <div class="card-button-primary">
              <button class="btn-primary btn-width-max" ng-click="form.$submit()">บันทึกข้อมูล</button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
</form>