<div class="view-brand-inbox">
  <div class="header-zone">
    <div class="container">
      <div class="page-header">
        <div class="action-btn-for-header">
          <div class="card-body-content">
            <div class="input-dropdown">
              <select class="form-control filter">
                <option value="">แสดง Campaign ทั้งหมด</option>
                <option value="">แสดงเฉพาะ Campaign X</option>
              </select>
              <i class="fa fa-caret-down"></i>
            </div>
          </div>
        </div>
        <h1>Inbox</h1>
      </div>
    </div>
  </div>
  <div class="body-zone">
    <div class="container">
      <div class="card-inbox">
        <div class="tab-selector">
          <div class="tab active">
            <h5>คัดเลือก</h5>
            <h3>5</h3>
          </div>
          <div class="tab-next-step">
            <i class="fa fa-angle-right fa-2x"></i>
          </div>
          <div class="tab">
            <h5>ดำเนินการ</h5>
            <h3>5</h3>
          </div>
          <div class="tab-next-step">
            <i class="fa fa-angle-right fa-2x"></i>
          </div>
          <div class="tab">
            <h5>เสร็จสิ้น</h5>
            <h3>5</h3>
          </div>
        </div>
        <div class="card-body">
          <table class="table">
            <thead>
              <tr>
                <th>Influenccer <a href="#"><i class="fa fa-sort-desc"></i></a></th>
                <th>Campaign <a href="#"><i class="fa fa-sort-desc"></i></a></th>
                <th class="text-right">ราคาที่เสนอ <a href="#"><i class="fa fa-sort-desc"></i></a></th>
                <th class="text-center">Rabbit Score <i class="fa fa-question-circle"></i> <a href="#"><i class="fa fa-sort-desc"></i></a></th>
                <th class="text-center">ข้อความล่าสุด <a href="#" class="active"><i class="fa fa-sort-desc"></i></a></th>
                <th class="text-center">คุยงาน</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><img src="images/example-campaign/profile-pic-jon.jpg" class="profile-picture" /> Jon Snow</td>
                <td class="text-ellipsis">รีวิว Fukifilm Instax Mini รีวิว Fukifilm Instax Mini รีวิว Fukifilm Instax Mini รีวิว Fukifilm Instax Mini</td>
                <td class="text-right">50,000 บาท</td>
                <td class="text-center">81%</td>
                <td class="text-center">วันนี้ 18:00</td>
                <td class="text-center"><button class="btn-secondary">คุยงาน</button></td>
              </tr>
              <tr>
                <td><img src="images/example-campaign/profile-pic-jon.jpg" class="profile-picture" /> Jon Snow</td>
                <td class="text-ellipsis">รีวิว Fukifilm Instax Mini</td>
                <td class="text-right">50,000 บาท</td>
                <td class="text-center">81%</td>
                <td class="text-center">วันนี้ 18:00</td>
                <td class="text-center"><button class="btn-secondary">คุยงาน</button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
