<div class="view-brand-detail-example">

  <header-zone historyback="true">
    <h2>Morinaga Keoda รสใหม่</h2>
  </header-zone>

  <div class="body-zone">
    <div class="container">
      <div class="btn-floating-action" ui-sref="brand-campaign-detail-draft">
      </div>

      <nc-alert type="info">
        หน้านี้คือตัวอย่างของ Campaign อยากสร้างใหม่กดปุ่มข้างๆ เลย
      </nc-alert >

      <card-campaign-header campaign="exampleCampaign">
      </card-campaign-header>

      <div class="card-campaign-description">
        <div class="card-body">
          <div class="card-row">
            <div class="card-body-content-label">
              รายละเอียด
            </div>
            <div class="card-body-content">
              1. ถ่ายภาพให้เห็นผลิตภัณฑ์และชื่อแบรนด์อย่างชัดเจน<br>
              2. แนะนำพร้อมอธิบายข้อมูล และรายละเอียดของผลิตภัณฑ์<br>
              3. ถ่ายภาพ หรือ VDO ประกอบขณะใช้ผลิตภัณฑ์<br>
              4. ถ่ายภาพ Before และ After ให้เห็นความเปลี่ยนแปลงในการใช้ผลิตภัณฑ์<br>
              5. ถ่ายภาพ Finish look และเซลฟี่คู่กับผลิตภัณฑ์<br>
              6. บรรยายความรู้สึก และให้คะแนนความพอใจ<br>
              7. บอกเคล็ดลับในการปัดมาสคาร่า<br>
              8. แนะนำช่องทางติดตามข้อมูล และข่าวสารของ Belov<br>
              9. ห้ามรีวิวเปรียบเทียบกับแบรนด์อื่น<br>
              10. การ Share บทความรีวิว ต้องตั้งค่าสถานะ Facebook Post เป็น Public เท่านั้น
            </div>
          </div>
          <div class="card-row">
            <div class="card-body-content-label">
              Keyword สำคัญ
            </div>
            <div class="card-body-content">
              หมา, แมว, เป็ด
            </div>
          </div>
          <div class="card-row">
            <div class="card-body-content-label">
              เว็บไซต์ของสินค้า
            </div>
            <div class="card-body-content">
              <a href="#">www.pokemongo.com/summerworld</a>
            </div>
          </div>
          <div class="card-row">
            <div class="card-body-content-label">
              รูปประกอบ
            </div>
            <div class="card-body-content">
              <img src="images/example-campaign/content-picture.jpg" class="description-image"/>
              <img src="images/example-campaign/content-picture.jpg" class="description-image"/>
            </div>
          </div>
        </div>
      </div>

      <div class="card-brand-profile">
        <div class="card-body">
          <div class="card-image">
            <img src="images/example-campaign/brand-logo.jpg" class="img-responsive"/>
          </div>
          <div class="card-title">
            <div class="card-title-content">
              เกี่ยวกับ Morinaga Koeda
            </div>
          </div>
          <div class="col-xs-10">
            <p>
              Morinaga ถ่ายภาพให้เห็นผลิตภัณฑ์และชื่อแบรนด์อย่างชัดเจน ถ่ายภาพให้เห็นผลิตภัณฑ์และชื่อแบรนด์อย่างชัดเจน ถ่ายภาพให้เห็นผลิตภัณฑ์และชื่อแบรนด์อย่างชัดเจน ถ่ายภาพให้เห็นผลิตภัณฑ์และชื่อแบรนด์อย่างชัดเจน
            </p>
            <a href="#">www.pokemongo.com/summerworld</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
