<div ng-cloak class="view-brand-detail-published">
  <zone-header historyback="true" historyback-override="brand-campaign-list">
    <div class="action-btn-for-header with-back-btn">
        <button class="btn-primary btn-width-md" ui-sref="brand-campaign-detail-edit({ campaignId: campaignNee.campaignId })">
            <i class="fa fa-pencil"></i> แก้ไขข้อมูล
        </button>
        <button type="button" class="btn-secondary" data-toggle="modal" data-target="#message-modal">
          Modal Demo
        </button>
    </div>
    <h1 ng-bind="campaignNee.title | truncate: 50"></h1>
  </zone-header>

  <div class="zone-body">
    <div class="container">
      <div nc-alert="alert"></div>

      <card-campaign-header campaign="campaignNee">
      </card-campaign-header>

      <div class="card-campaign-description">
        <div class="card-body">
          <div class="card-row">
            <div class="card-body-content-label">
              รายละเอียด
            </div>
            <div class="card-body-content" ng-if="campaignNee.description.length > 0">
                {{ campaignNee.description }}
            </div>
          </div>
          <div class="card-row" ng-if="campaignNee.keyword.length > 0">
            <div class="card-body-content-label">
              Keyword สำคัญ
            </div>
            <div class="card-body-content">
              {{ campaignNee.keyword }}
            </div>
          </div>
          <div class="card-row" ng-if="campaignNee.website.length > 0">
            <div class="card-body-content-label">
              เว็บไซต์ของสินค้า
            </div>
            <div class="card-body-content">
              <a ng-href="{{campaignNee.website}}">{{ campaignNee.website }}</a>
            </div>
          </div>
          <div class="card-row">
            <div class="card-body-content-label">
              รูปประกอบ
            </div>
            <div class="card-body-content">
              <img ng-repeat="campaignImage in campaignNee.campaignResources" ng-src="{{ campaignImage.url }}" class="description-image"/>
            </div>
          </div>
        </div>
      </div>

      <card-brand-profile ng-model="campaignNee.brand"></card-brand-profile>

      <div class="card">
        <div class="card-body text-center">
          <button class="btn-secondary btn-width-lg btn-with-margin" ui-sref="brand-campaign-list">
            ดู Campaign อื่นๆ
          </button>
          <button class="btn-primary btn-width-lg btn-with-margin" ui-sref="brand-campaign-detail-edit({ campaignId: campaignNee.campaignId })">
            <i class="fa fa-pencil"></i> แก้ไขข้อมูล
          </button>
        </div>
      </div>

    </div>
  </div>
</div>


<!-- Message Modal -->
<div class="modal message-modal fade" id="message-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-body">
        <img src="images/hello-rabbit.png" class="hello-rabbit" />
        <h3>ยินดีด้วย! คุณได้เปิดรับข้อเสนอแล้ว</h3>
        <p>
          เราจะแจ้งเตือนคุณได้รับข้อเสนอจาก Influencer ที่<br>
          <span class="color-green">XXX@mail.com</span> หรือ เช็คได้ที่ <span class="color-green">Inbox</span> ของเรา
        </p>
        <button type="button" class="btn-secondary btn-width-lg" data-dismiss="modal">ดูรายละเอียด Campaign</button>
        <div class="checkbox">
          <label><input type="checkbox" value="">ไม่ต้องแสดงอีก</label>
        </div>
      </div>
    </div>
  </div>
</div>
