<form name="form" novalidate>
    <div class="viewport view-brand-workroom workroom">
      <zone-header historyback="true">
        <h1 class="mobile-only">{{proposal.campaign.title}}</h1>
      </zone-header>
        <div class="zone-body">
            <div class="container">
                <div class="row">
                  <div class="col-sm-3">

                      <card-workroom-campaign-thumbnail
                        ng-model="proposal"
                        ui-sref="brand-campaign-detail-published({campaignId: proposal.campaign.campaignId })"
                        cute-bunny-hide
                        class="desktop-only"
                        >
                      </card-workroom-campaign-thumbnail>

                      <card-proposal-detail ng-model="proposal" cute-bunny-hide>

                          <div ng-if="proposal.status == 'Selection' && !proposal.cartId">
                            <div class="how-to-text">
                              <ol>
                                <li>ดูข้อเสนอจาก Influencer</li>
                                <li>Influencer สามารถแก้ไขข้อเสนอให้คุณได้</li>
                                <li>ตกลงขอบเขตงานให้ชัดเจน</li>
                              </ol>
                              <p>
                                "เลือกข้อเสนอ" ใส่ตะกร้าเมื่อคุณพอใจ คุณสามารถแก้ไขตะกร้าได้ภายหลัง
                              </p>
                            </div>
                            <button class="btn-primary btn-width-max" ng-click="selectProposal(proposal)">&nbsp; เลือกข้อเสนอ <i class="fa fa-arrow-right"></i></button>
                          </div>

                          <div ng-if="proposal.status == 'Selection' && proposal.cart.status == 'Incart'">
                            <div class="how-to-text">
                              <p>
                                คุณได้เลือกข้อเสนอนี้เข้าตะกร้าแล้ว
                              </p>
                              <p>
                                คุณสามารถชำระเงินได้ทันที หรือ เลือกข้อเสนออื่นเพื่อชำระทีเดียว
                              </p>
                            </div>
                            <button class="btn-primary btn-width-max" ui-sref="brand-cart">&nbsp; ดูตะกร้า <i class="fa fa-arrow-right"></i></button>
                          </div>

                          <div ng-if="proposal.status == 'Selection' && proposal.cart.status == 'Checkout'">
                            <div class="how-to-text">
                              <ol>
                                <li>ชำระเงินตามขั้นตอนที่กำหนด</li>
                                <li>ระบบจะยืนยันการได้รับเงินภายใน 48 ชั่วโมง</li>
                                <li>Influencer จะเริ่มงานให้คุณทันที เมื่อระบบยืนยันการชำระเงิน</li>
                              </ol>
                            </div>
                            <button class="btn-primary btn-width-max" ui-sref="brand-transaction-detail({cartId: proposal.cartId})">ดูรายละเอียดการสั่งซื้อ</button>
                          </div>

                          <div ng-if="proposal.status == 'Working'" >
                            <div class="how-to-text">
                              <ol>
                                <li>รอรับงานจาก Influencer ภายใน {{ proposal.dueDate | date }}</li>
                                <li>ตรวจสอบงานที่ได้รับ</li>
                                <li>ขอรูปหลักฐานการโพสจาก Influencer</li>
                              </ol>
                              <p>
                                กด "อนุมัติงาน" เมื่อคุณพอใจกับโพสของ Influencer แล้ว
                              </p>
                            </div>
                            <button class="btn-primary btn-width-max" ng-click="approveProposal(proposal)">&nbsp; อนุมัติงาน <i class="fa fa-arrow-right"></i></button>
                          </div>

                          <div ng-if="proposal.status == 'Complete'" >
                            <div class="how-to-text">
                              <p>
                                ขอบคุณที่ใช้บริการค่ะ :)
                              </p>
                              <p>
                                ติดตามความสำเร็จของงานได้ที่ Dashboard
                              </p>
                            </div>
                            <button class="btn-primary btn-width-max" ui-sref="brand-dashboard({campaignId: proposal.campaign.campaignId})">ดู Dashboard</button>
                          </div>

                      </card-proposal-detail>

                  </div>
                  <div class="col-sm-9">
                      <div class="chatbox-card">
                          <div class="chatbox-header">
                              <h3>{{ proposal.influencer.user.name | truncate: 50 }} </h3>
                              <a class="link-view-profile" ui-sref="brand-influencer-profile({influencerId: proposal.influencer.influencerId, proposalId: proposal.proposalId })">
                                ดูโปรไฟล์
                              </a>
                              <div class="chatbox-status desktop-only">
                                  <span class="color-grey">สถานะ: </span>
                                  <span class="color-green" ng-if="proposal.status == 'Selection'">รอคุณคัดเลือก</span>
                                  <!-- tooltip-placement="bottom" uib-tooltip="ตกลงขอบเขตการทำงาน และ เลือกข้อเสนอ เพื่อชำระเงิน" -->
                                  <span class="color-green" ng-if="proposal.status == 'Working'">รอคุณอนุมัติงาน</span>
                                  <!-- tooltip-placement="bottom" uib-tooltip="รอตรวจสอบงานจาก Influencer และ อนุมัติงานเมื่อคุณพอใจ" -->
                                  <span class="color-green" ng-if="proposal.status == 'Complete'">เสร็จสิ้น</span>
                                  <!-- tooltip-placement="bottom" uib-tooltip="งานของคุณเสร็จสิ้นแล้ว" -->
                              </div>
                          </div>
                          <div class="message-area" scroll-glue="scroll">
                              <cute-bunny></cute-bunny>
                              <div cute-bunny-hide>
                                  <card-influencer-profile ng-model="proposal.influencer" show-all-data="false">
                                    <div class="for-proposal-detail">
                                      <small>ช่องทางที่จะโปรโมทให้</small>
                                      <div ng-repeat="imedia in intersectMedia(proposal.media, proposal.influencer.influencerMedias)">
                                          <span class="icon-{{imedia.mediaId}} social-icon"></span> {{ imedia.followerCount | number }} คน
                                      </div>
                                      <small>จะส่งงานภายใน</small>
                                      <span>{{proposal.completionTime.completionTime}}</span>
                                      <small>ราคาที่เสนอ</small>
                                      <h4 class="highlight">{{proposal.price | number}} บาท</h4>
                                    </div>
                                    <a ui-sref="brand-influencer-profile({influencerId: proposal.influencer.influencerId })" class="link-to-profile">ดูโปรไฟล์</a>
                                  </card-influencer-profile>

                                  <div class="message-past" ng-if="hasPastMessage()">
                                      <button class="btn-secondary-highlight btn-width-lg" ng-click="loadPastMessage()">แสดงข้อความก่อนหน้านี้</button>
                                  </div>
                                  <message ng-repeat="x in msglist" message-data="x" class="message-wrapper"></message>
                                  <div nc-alert="alert"></div>
                              </div>
                          </div>
                          <div class="message-input">
                              <textarea chatarea="sendMessage(formData.messageStr, formData.resources)" class="form-control" rows="4" ng-model="formData.messageStr"
                                  placeholder="พิมพ์ข้อความ..." autofocus maxlength="1000"></textarea>
                              <!-- <div class="pull-left">
                                  <div>{{formData.messageStr.length || '0'}}/1000</div>
                              </div> -->
                              <div class="pull-right" form-error="form.resource">
                                  <div input-error class="pull-left"></div>
                                  <uploader-multi name="resource" template="components/templates/uploader-chat.html" ng-model="formData.resources" accept=".jpg,.png"
                                      ngf-pattern="'.jpg,.png'" ngf-max-size="10MB" ngf-max-files="1" is-loading="formData.isLoading"></uploader-multi>

                                  <button id="brand-workroom-submit-btn" class="btn-secondary-highlight btn-width-md btn-minimal" ng-click="sendMessage(formData.messageStr, formData.resources)" ng-disabled="formData.isLoading">
                                  <i class="fa fa-paper-plane" aria-hidden="true"></i> ส่งข้อความ
                                </button>
                              </div>
                              <div class="clear"></div>
                          </div>
                      </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</form>
