<div class="view-brand-profile">
  <div class="header-zone">
    <div class="container">
      <h1>Profile ของฉัน</h1>
    </div>
  </div>
  <div class="body-zone">
    <div class="container">

      <alert-box type="alert-info" show-on="true">
        ยิ่งใส่ข้อมูลเยอะ คนยิ่งสนใจ Campaign ของ Brand คุณมากขึ้น
      </alert-box>

      <div class="card">
        <div class="card-body">

          <div class="card-row">
            <div class="card-title col-xs-12">
              <div class="card-title-content">
                เกี่ยวกับ Brand
              </div>
            </div>
          </div>

          <div class="card-row">
            <div class="card-body-content-label with-input">
              รูปโลโก้ของ Brand
            </div>
            <div class="card-body-content">
              <div class="input-upload-image">
                <i class="fa fa-camera"></i><br>
                เลือกรูป
              </div>
            </div>
          </div>
          <div class="card-row">
            <div class="card-body-content-label with-input">
              ชื่อ Brand
            </div>
            <div class="card-body-content">
              <input type="text" ng-model="formData.brand.brandName" class="form-control">
            </div>
          </div>
          <div class="card-row">
            <div class="card-body-content-label with-input">
              เกี่ยวกับ Brand
            </div>
            <div class="card-body-content">
              <textarea class="form-control" rows="4" placeholder="อธิบายเกี่ยวกับ Brand ของคุณ"></textarea>
            </div>
          </div>
          <div class="card-row">
            <div class="card-body-content-label with-input">
              เว็บไซน์ของ Brand
            </div>
            <div class="card-body-content">
              <input type="text" class="form-control">
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <div class="card-row">
            <div class="card-title">
              <div class="card-title-content">
                เกี่ยวกับผู้สมัคร
              </div>
            </div>
          </div>
          <div class="card-row">
            <div class="card-body-content-label with-input">
              ชื่อผู้สมัคร
            </div>
            <div class="card-body-content">
              <input type="text" ng-model="formData.name" class="form-control">
            </div>
          </div>
          <div class="card-row">
            <div class="card-body-content-label with-input">
              เบอร์ติดต่อ
            </div>
            <div class="card-body-content">
              <input type="text" ng-model="formData.phoneNumber" class="form-control">
            </div>
          </div>
          <div class="card-row">
            <div class="card-body-content-label with-input">
              อีเมล
            </div>
            <div class="card-body-content">
              <input type="text" ng-model="formData.email" class="form-control">
            </div>
          </div>
          <div class="card-row">
            <div class="card-body-content-label with-input">
              ตั้งรหัสผ่านใหม่
            </div>
            <div class="card-body-content">
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="card-row">
            <div class="card-button-primary">
              <button class="btn-primary btn-width-max">บันทึกข้อมูล</button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
