<div class="layout-sigin">
  <div class="header-zone">
    <div class="container">
      <div class="back-btn-for-header"  ng-click="$root.goTo('brand-campaign-list')">
        <i class="fa fa-arrow-left"></i> กลับไป Campaign List
      </div>
      <h2>Morinaga Keoda รสใหม่</h2>
    </div>
  </div>
  <div class="body-zone">
    <div class="container">

      <card-campaign-header campaign="emptyCampaign">
      </card-campaign-header>

      <div class="card">
        <div class="card-body">

          <div class="card-row">
            <div class="card-body-content-label with-input">
              ชื่อ Campaign
            </div>
            <div class="card-body-content">
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="card-row">
            <div class="card-body-content-label with-input">
              รูป Campaign
            </div>
            <div class="card-body-content">
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="card-row">
            <div class="card-body-content-label with-input">
              ช่องทางการโปรโมท
            </div>
            <div class="card-body-content">
              <div class="checkbox">
                <label><input type="checkbox" value=""><span class="icon-facebook"></span> Facebook</label>
              </div>
              <div class="checkbox">
                <label><input type="checkbox" value=""><span class="icon-instagram"></span> Instagram</label>
              </div>
              <div class="checkbox">
                <label><input type="checkbox" value=""><span class="icon-youtube"></span> YouTube</label>
              </div>
            </div>
          </div>
          <div class="card-row">
            <div class="card-body-content-label with-input">
              หมวดหมู่
            </div>
            <div class="card-body-content">
              <select class="form-control">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
              </select>
            </div>
          </div>
          <div class="card-row">
            <div class="card-body-content-label with-input">
              สิ่งที่อยากให้ทำ
            </div>
            <div class="card-body-content">
              <textarea class="form-control" rows="4"></textarea>
            </div>
          </div>
          <div class="card-row">
            <div class="card-body-content-label with-input">
              Keyword สำคัญ
            </div>
            <div class="card-body-content">
              <input type="text" class="form-control" placeholder="ถ้ามี">
            </div>
          </div>
          <div class="card-row">
            <div class="card-body-content-label with-input">
              เว็บไซต์ของสินค้า
            </div>
            <div class="card-body-content">
              <input type="text" class="form-control" placeholder="ถ้ามี">
            </div>
          </div>
          <div class="card-row">
            <div class="card-body-content-label with-input">
              รูปประกอบ
            </div>
            <div class="card-body-content">
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="card-row">
            <div class="card-body-content-label with-input">
              ค่าตอบแทน
            </div>
            <div class="card-body-content">
              <select class="form-control">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
              </select>
            </div>
          </div>
          <div class="card-row">
            <div class="card-body-content-label with-input">
              รับข้อเสนอถึงถึง
            </div>
            <div class="card-body-content">
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="card-row">
            <div class="card-body-button">
              <button class="btn-primary btn-width-lg">ลงประกาศ</button>
              <button class="btn-secondary btn-width-lg">บันทึกข้อมูล</button>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
