<div class="view view-brand-transaction-detail">
  <zone-header historyback="false">
    <div class="back-btn-for-header">
      <span ui-sref="brand-transaction-history"><i class="fa fa-arrow-left"></i> กลับที่รายการสั่งซื้อ<span>
    </div>
    <h2>รายละเอียดการสั่งซื้อ</h2>
  </zone-header>
  <div class="zone-body">
    <div class="container">
      <div nc-alert="alert"></div>
      <div class="card-transaction-header">
        <div class="card-body">
          <div class="row">
            <div class="card-info">
              <div class="card-info-label">
                หมายเลขการสั่งซื้อ
              </div>
              <div class="card-info-content" ng-bind="transaction.transactionNumber">
              </div>
            </div>
            <div class="card-info">
              <div class="card-info-label">
                สถานะ
              </div>
              <div class="card-info-content">
                <span class="color-yellow" ng-if="!isExpired() && transaction.status == 'Pending'"><i class="fa fa-clock-o"></i> รอการชำระเงิน</span>
                <span class="color-green" ng-if="!isExpired() && transaction.status == 'Complete'"><i class="fa fa-check-circle-o"></i> ชำระแล้ว</span> 
                 <span class="color-grey" ng-if="isExpired()"><i class="fa fa-ban"></i> หมดอายุ</span> 
              </div>
            </div>
            <div class="card-info"  ng-if="!isExpired() && transaction.status == 'Pending'">
              <div class="card-info-label">
                กรุณาชำระเงินภายใน
              </div>
              <div class="card-info-content">
                {{ timeLeft()[0] }} วัน {{ timeLeft()[1] }} ชั่วโมง {{ timeLeft()[2]}} นาที
              </div>
            </div>
            <div class="card-info" ng-if="isExpired()">
              <div class="card-info-label">
                หมดอายุวันที่
              </div>
              <div class="card-info-content">
                {{ transaction.expiredAt | date }} 
              </div>
            </div>
            <div class="card-info" ng-if="!isExpired() && transaction.status == 'Complete'">
              <div class="card-info-label">
                ชำระเงินวันที่
              </div>
              <div class="card-info-content">
                {{ transaction.completedAt | date }} 
              </div>
            </div>
            <div class="card-info">
              <div class="card-info-label">
                ราคารวม
              </div>
              <div class="card-info-content">
                <span class="color-green">{{ transaction.amount | number }} บาท</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card" ng-if="transaction.status != 'Complete'">
        <div class="card-body">

          <div class="card-row">
            <div class="card-title col-xs-12">
              <div class="card-title-content">
                ขั้นตอนการชำระเงิน
              </div>
            </div>
          </div>

          <div class="card-row">
            <div class="col-xs-12">

              <div class="media">
                <div class="media-left">
                  <span class="number-circle">1</span>
                </div>
                <div class="media-body">
                  โอนเงินผ่านช่องทางที่คุณสะดวก<br><br>
                  <table class="table">
                    <tr>
                      <td>
                        <img src="images/logo-kbank.png" class="bank-logo"/>
                        ธนาคารกสิกรไทย
                      </td>
                      <td>
                        นาย XXX
                      </td>
                      <td>
                        เลขที่บัญชี 493-3-23432-6
                      </td>
                      <td>
                        สาขา XXX
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <img src="images/logo-scb.png" class="bank-logo"/>
                        ธนาคารไทยพาณิชย์
                      </td>
                      <td>
                        นาย XXX
                      </td>
                      <td>
                        เลขที่บัญชี 493-3-23432-6
                      </td>
                      <td>
                        สาขา XXX
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <img src="images/logo-bbl.png" class="bank-logo"/>
                        ธนาคารกรุงเทพ
                      </td>
                      <td>
                        นาย XXX
                      </td>
                      <td>
                        เลขที่บัญชี 493-3-23432-6
                      </td>
                      <td>
                        สาขา XXX
                      </td>
                    </tr>
                  </table>
                </div>
              </div>

              <div class="media">
                <div class="media-left">
                  <span class="number-circle">2</span>
                </div>
                <div class="media-body">
                  เมื่อชำระเงินแล้ว กรุณาส่งหลักฐานมาให้ทาง ReachRabbit ตรวจสอบ กรุณาส่งหลักฐานพร้อม<br>
                  หมายเลขการสั่งซื้อ <b class="color-green">{{transaction.transactionNumber}}</b> มาได้ที่ &nbsp
                  <b class="color-green"><img src="images/logo-line.png" width="30" />&nbsp @reachrabbit</b>
                  &nbsp หรือ &nbsp
                  <b class="color-green"><img src="images/icon-email.png"> hi@reachrabbit.com</b>
                </div>
              </div>

              <div class="media">
                <div class="media-left">
                  <span class="number-circle">3</span>
                </div>
                <div class="media-body">
                  ReachRabbit จะส่งใบเสร็จรับเงินให้ที่อีเมล์ของคุณภายใน 6 ชั่วโมง
                </div>
              </div>
            </div>

            </div>
          </div>

        </div>

        <div class="card">

            <div class="card-body">

                <div class="card-row">
                  <div class="card-title col-xs-12">
                    <div class="card-title-content">
                       สรุปรายการสั่งซื้อ
                    </div>
                  </div>
                </div>

                <table class="table with-no-margin">
                  <thead>
                    <th>Influencer</th>
                    <th>Campaign</th>
                    <th class="text-align-right">ราคา (บาท)</th>
                  </thead>
                  <tbody>
                    <tr ng-repeat="proposal in transaction.brandTransactionDocument.cart.proposals">
                      <td class="col-name">
                        <img ng-src="{{ proposal.influencer.user.profilePicture.url || 'images/placeholder-profile-picture.png' }}" class="profile-picture"/>
                         {{ proposal.influencer.user.name | truncate: 15 }}
                      </td>
                      <td class="col-campaign-name">{{ proposal.campaign.title | truncate: 30}}</td>
                      <td class="text-align-right">{{ proposal.price | number: 0 }} </td>
                    </tr>
                    <tr class="total-price">
                      <td colspan="3">
                        <strong>ราคารวม ({{transaction.brandTransactionDocument.cart.proposals.length || 0}} รายการ) : {{ transaction.amount  | number:0 }} บาท</strong>
                      </td>
                    </tr>
                  </tbody>
                </table>

            </div>
        </div>


      </div>


    </div>
  </div>
</div>
