<form ng-model-options="{ updateOn: 'change blur' }" name="form">
  <div class="viewport view-brand-profile">
    <div class="zone-alert">
      <div nc-alert="alert"></div>
      <div class="desktop-only" nc-alert type="info" closable="false">
        ยิ่งใส่ข้อมูลครบ คนยิ่งสนใจงานที่คุณลงประกาศไว้มากขึ้น
      </div>
    </div>
    <zone-header>
      <h1>Profile ของฉัน</h1>
    </zone-header>
    <div class="zone-body">
      <div class="container">
        <form name="form" novalidate>
          <div class="card">
            <div class="card-body">
              <div class="card-row">
                <div class="card-title col-xs-12">
                  <div class="card-title-content">
                    เกี่ยวกับ Brand
                  </div>
                </div>
              </div>
              <div class="card-row" form-error="form.profilePicture" is-validate="isValidate($model, $error)">
                <div class="card-body-content-label with-input">
                  รูปโลโก้ของ Brand
                </div>
                <div class="card-body-content">
                  <uploader-thumb name="profilePicture"
                  ng-model="formData.profilePicture"
                  accept=".jpg,.png"
                  ngf-pattern="'.jpg,.png'"
                  ngf-max-size="10MB">
                  <i class="fa fa-camera"></i><br>เลือกรูป
                  </uploader-thumb>
                  <div input-error></div>
                </div>
              </div>
              <div class="card-row" form-error="form.brandName">
                <div class="card-body-content-label with-input">
                  ชื่อ Brand
                </div>
                <div class="card-body-content">
                  <input name="brandName" type="text" ng-model="formData.brand.brandName" class="form-control" maxlength="50">
                  <div input-error></div>
                </div>
              </div>
              <div class="card-row" >
                <div class="card-body-content-label with-input">
                  เกี่ยวกับ Brand
                </div>
                <div class="card-body-content">
                  <textarea class="form-control" rows="4" ng-model="formData.brand.about" placeholder="อธิบายเกี่ยวกับ Brand ของคุณ" maxlength="2500"></textarea>
                </div>
              </div>
              <div class="card-row">
                <div class="card-body-content-label with-input">
                  เว็บไซต์ของ Brand
                </div>
                <div class="card-body-content">
                    <input type="text" ng-model="formData.brand.website" class="form-control" maxlength="200" placeholder="www.mybrand.com or www.facebook.com/mybrand"/>
                </div>
              </div>
              <div class="card-row">
                <div class="card-body-content-label with-input">

                </div>
                <div class="card-body-content">
                  <div class="checkbox">
                    <label><input type="checkbox" ng-model="formData.brand.isCompany" ng-model-options="{ updateOn: 'default blur' }" ng-disabled="alreadyCompany">สมัครและออกใบเสร็จในนามนิติบุคคล</label>
                  </div>
                </div>
              </div>
              <div class="card-row" form-error="form.companyName" ng-if="formData.brand.isCompany">
                <div class="card-body-content-label with-input">ชื่อบริษัท</div>
                <div class="card-body-content">
                  <input name="companyName" class="form-control" required ng-model="formData.brand.companyName">
                  <div input-error></div>
                </div>
              </div>
              <div class="card-row" form-error="form.companyTaxId" ng-if="formData.brand.isCompany">
                <div class="desktop-only card-body-content-label with-input no-padding">เลขประจำตัวผู้เสียภาษี</div>
                <div class="mobile-only card-body-content-label with-input">เลขประจำตัวผู้เสียภาษี</div>
                <div class="card-body-content">
                  <input name="companyTaxId" class="form-control" required ng-model="formData.brand.companyTaxId">
                  <div input-error></div>
                </div>
              </div>
              <div class="card-row" form-error="form.companyAddress" ng-if="formData.brand.isCompany">
                <div class="card-body-content-label with-input">ที่อยู่บริษัท</div>
                <div class="card-body-content">
                  <textarea name="companyAddress" class="form-control" required ng-model="formData.brand.companyAddress"></textarea>
                  <div input-error></div>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <div class="card-row">
                <div class="card-title">
                  <div class="card-title-content">
                    เกี่ยวกับผู้สมัคร
                  </div>
                </div>
              </div>
              <div class="card-row" form-error="form.name">
                <div class="card-body-content-label with-input">
                  ชื่อผู้สมัคร
                </div>
                <div class="card-body-content">
                  <input type="text" name="name" ng-model="formData.name" class="form-control" maxlength="100">
                  <div input-error></div>
                </div>
              </div>
              <div class="card-row" form-error="form.phoneNumber">
                <div class="card-body-content-label with-input">
                  เบอร์ติดต่อ
                </div>
                <div class="card-body-content">
                  <input type="text" name="phoneNumber" ng-model="formData.phoneNumber" class="form-control" maxlength="20" ng-pattern-restrict="^[0-9]*$">
                  <div input-error></div>
                </div>
              </div>
              <div class="card-row" form-error="form.email">
                <div class="card-body-content-label with-input">
                  อีเมล
                </div>
                <div class="card-body-content">
                  <input type="text" name="email" ng-model="formData.email" class="form-control" maxlength="100">
                  <div input-error></div>
                </div>
              </div>

            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="floating-bar">
    <button class="btn-primary btn-width-lg btn-max-width-mobile btn-with-margin" ng-click="saveProfile(form, formData)">บันทึกข้อมูล</button>
  </div>
</form>
