<div class="viewport view-brand-inbox" ng-cloak>
  <zone-header>
  <div class="action-btn-for-header desktop-only">
    <form ng-submit="load(params, { search: search.value })" ng-model-options="{ debounce : { default : 500, blur : 0 }, allowInvalid: true}" novalidate>
      <div class="input-dropdown">
        <input class="form-control filter" ng-model="search.value" placeholder="ค้นหาด้วย ชื่องาน"/>
      </div>
    </form>
  </div>
  <h1 ng-if="statusFilter == 'Selection'">รอคุณคัดเลือกข้อเสนอ <span ng-if="inbox.selection.proposalCount >= 0">({{inbox.selection.proposalCount || '0'}})</span></h1>
  <h1 ng-if="statusFilter == 'Working'">รอคุณอนุมัติงาน <span ng-if="inbox.working.proposalCount >= 0">({{inbox.working.proposalCount || '0'}})</span></h1>
  <h1 ng-if="statusFilter == 'Complete'">เสร็จสิ้น <span ng-if="inbox.complete.proposalCount >= 0">({{inbox.complete.proposalCount || '0'}})</span></h1>
  </zone-header>
  <div class="zone-body">
    <div class="container">
      <div class="mobile-only">
        <form ng-submit="load(params, { search: search.value })" ng-model-options="{ debounce : { default : 500, blur : 0 }, allowInvalid: true}" novalidate>
          <div class="input-dropdown">
            <input class="form-control filter" ng-model="search.value" placeholder="ค้นหาด้วย ชื่องาน"/>
          </div>
        </form>
      </div>
      <cute-bunny></cute-bunny>
      <div class="card-inbox" cute-bunny-hide>
        <div class="card-body">
          <table ng-if="proposals.numberOfElements > 0" class="table" sorter ng-model="proposals" callback="load">
            <thead class="desktop-only">
              <tr>
                <th class="col-name" sort="influencer.influencerId">Influencer</th>
                <th class="desktop-only col-campaign-name" sort="campaign.campaignId">ชื่องาน</th>
                <th class="desktop-only col-price" sort="price">ราคา (บาท)</th>
                <th class="desktop-only" ng-if="params.status == 'Working'">วันที่กำหนดส่ง</th>
                <th class="desktop-only" ng-if="params.status == 'Complete'">วันที่เสร็จงาน</th>
                <th class="desktop-only col-rabbit-score" ng-if="params.status == 'Selection'"  sort="score">
                  Reach <i uib-tooltip="Reach ถูกคำนวณโดยการเอา ผู้ติดตามทุกช่องทาง มาบวกรวมกัน" tooltip-placement="top" class="fa fa-question-circle"></i>
                </th>
                <th class="desktop-only col-time" sort="messageUpdatedAt">ข้อความล่าสุด</th>
                <th class="col-button"></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="proposal in proposals.content">
                <td class="col-name">
                  <div class="media">
                    <div class="media-left">
                      <img ng-src="{{proposal.influencer.user.profilePicture.url  || 'images/placeholder-profile-picture.png'}}" class="profile-picture" />
                    </div>
                    <div class="media-body media-middle">
                      <div>{{proposal.influencer.user.name}}</div>
                      <div class="mobile-only col-info-label">{{proposal.price | currency:'':0 }} บาท</div>
                      <div ng-if="params.status == 'Selection' && proposal.cart" class="color-green">เลือกแล้ว <i class="fa fa-check"></i></div>
                    </div>
                  </div>
                </td>
                <td class="desktop-only col-campaign-name">{{proposal.campaign.title}}</td>
                <td class="desktop-only col-price">{{proposal.price | currency:'':0 }}</td>
                <td class="desktop-only" ng-if="params.status == 'Working'">{{ proposal.dueDate | date }}</td>
                <td class="desktop-only" ng-if="params.status == 'Complete'">{{ proposal.completeDate | date }}</td>
                <td class="desktop-only" ng-if="params.status == 'Selection'" class="col-rabbit-score">{{ calculateReach(proposal) | number: 0}} คน</td>
                <td class="desktop-only" class="col-time">{{lastMessageUpdated(proposal)}}</td>
                <td class="col-button">
                  <button class="btn-secondary btn-minimal btn-workroom btn-with-count" ui-sref="brand-workroom({proposalId: proposal.proposalId})">คุยงาน<span class="message-count" ng-if="proposal.unread > 0">{{proposal.unread > 99 ? '99+' : proposal.unread}}</span></button>
                  <button class="desktop-only btn-secondary btn-minimal" ui-sref="brand-influencer-profile({influencerId: proposal.influencer.influencerId, proposalId: proposal.proposalId })">ดูโปรไฟล์</button>
                </td>
              </tr>
            </tbody>
          </table>
          <table-static ng-if="proposals.totalElements == 0 && !(params.search.length > 0)">
            <div class="empty-state">
              <div ng-if="params.status == 'Selection'">
                <img src="images/icon-empty-folder.png"/>ยังไม่มีข้อเสนอให้คุณคัดเลือก กรุณารอ Influencer ส่งข้อเสนอให้คุณก่อนค่ะ
              </div>
              <div ng-if="params.status == 'Working'">
                <img src="images/icon-empty-folder.png"/>ยังไม่มีงานให้คุณอนุมัติ กรุณาคัดเลือก Influencer ที่ชอบและชำระเงินก่อนค่ะ
              </div>
              <div ng-if="params.status == 'Complete'">
                <img src="images/icon-empty-folder.png"/>ยังไม่มีงานที่เสร็จสิ้น กรุณาอนุมัติงานของ Influencer เพื่อปิดงานค่ะ
              </div>
            </div>
          </table-static>
          <table-static ng-if="proposals.totalElements == 0 && params.search.length > 0">
            <div class="empty-state">
              <img src="images/icon-empty-folder.png"/>ไม่พบห้องคุยงานที่คุณค้นหา
            </div>
          </table-static>
        </div>
      </div>
      <div class="info-text text-center">
        <h5 ng-if="params.status == 'Selection'">ห้องคุยงานที่ไม่ Active มากกว่า 21 วันจะถูกลบโดยอัตโนมัติ</h5>
        <h5 ng-if="params.status == 'Working'">ห้องคุยงานใน “รอคุณอนุมัติงาน” จะไม่ถูกลบ</h5>
        <h5 ng-if="params.status == 'Complete'">ห้องคุยงานใน “เสร็จสิ้น” จะไม่ถูกลบ</h5>
      </div>
      <nav class="text-center" aria-label="Page navigation">
      <pagination ng-model="proposals" callback="load"></pagination>
    </nav>
  </div>
</div>
</div>
