<div class="viewport view-brand-transaction-detail">
  <div class="zone-alert">
    <div nc-alert="alert"></div>
  </div>
  <zone-header historyback="false">
    <div class="back-btn-for-header">
      <span ui-sref="brand-transaction-history"><i class="fa fa-arrow-left"></i> กลับสู่รายการสั่งซื้อ<span>
    </div>
    <h2>รายละเอียดการสั่งซื้อ</h2>
  </zone-header>
  <div class="zone-body">
    <div class="container">
      <div class="card-transaction-header">
        <div class="card-body">
          <div class="row">
            <div class="card-info">
              <div class="card-info-label">
                หมายเลขการสั่งซื้อ
              </div>
              <div class="card-info-content" ng-bind="transaction.transactionNumber">
              </div>
            </div>
            <div class="card-info">
              <div class="card-info-label">
                สถานะ
              </div>
              <div class="card-info-content">
                <span class="color-yellow" ng-if="!isExpired() && transaction.status == 'Pending'"><i class="fa fa-clock-o"></i> รอการชำระเงิน</span>
                <span class="color-green" ng-if="transaction.status == 'Complete'"><i class="fa fa-check-circle-o"></i> ชำระแล้ว</span>
                 <span class="color-grey" ng-if="isExpired() && transaction.status !== 'Complete'"><i class="fa fa-ban"></i> หมดอายุ</span>
              </div>
            </div>
            <div class="card-info"  ng-if="!isExpired() && transaction.status == 'Pending'">
              <div class="card-info-label">
                กรุณาชำระเงินภายใน
              </div>
              <div class="card-info-content">
                {{ timeLeft()[0] }} วัน {{ timeLeft()[1] }} ชั่วโมง {{ timeLeft()[2]}} นาที
              </div>
            </div>
            <div class="card-info" ng-if="isExpired()">
              <div class="card-info-label">
                หมดอายุวันที่
              </div>
              <div class="card-info-content">
                {{ transaction.expiredAt | date }}
              </div>
            </div>
            <div class="card-info" ng-if="!isExpired() && transaction.status == 'Complete'">
              <div class="card-info-label">
                ชำระเงินวันที่
              </div>
              <div class="card-info-content">
                {{ transaction.completedAt | date }}
              </div>
            </div>
            <div class="card-info">
              <div class="card-info-label">
                ราคารวม
              </div>
              <div class="card-info-content">
                <span class="color-green">{{ transaction.amount | number }} บาท</span>
              </div>
            </div>
          </div>
        </div>
      </div>


      <card-payment-method
        ng-if="transaction.status != 'Complete'"
        ng-model="transaction">
      </card-payment-method>


        <div class="card">

            <div class="card-body">

                <div class="card-row">
                  <div class="card-title col-xs-12">
                    <div class="card-title-content">
                       สรุปรายการสั่งซื้อ
                    </div>
                  </div>
                </div>

                <table class="table with-no-margin">
                  <thead>
                    <th>Influencer</th>
                    <th>ชื่องาน</th>
                    <th class="text-align-right">ราคา (บาท)</th>
                  </thead>
                  <tbody>
                    <tr ng-repeat="proposal in transaction.brandTransactionDocument[0].cart.proposals">
                      <td class="col-name">
                        <img ng-src="{{ proposal.influencer.user.profilePicture.url || 'images/placeholder-profile-picture.png' }}" class="profile-picture"/>
                         {{ proposal.influencer.user.name | truncate: 15 }}
                      </td>
                      <td class="col-campaign-name">{{ proposal.campaign.title}}</td>
                      <td class="text-align-right">{{ proposal.price | number: 0 }} </td>
                    </tr>
                    <tr class="total-price">
                      <td colspan="3">
                        <span class="total-price-label">ราคารวม ({{transaction.brandTransactionDocument[0].cart.proposals.length || 0}} รายการ) :</span>
                        <span class="total-price-number">{{ baseDocument.amount  | number:0 }}</span>
                      </td>
                    </tr>
                    <tr class="total-price border-dashed" ng-if="taxDocument">
                      <td colspan="3">
                        <span class="total-price-label">หักภาษี ณ ที่จ่าย (3%) :</span>
                        <span class="total-price-number">{{ -taxDocument.amount  | number:0 }}</span>
                      </td>
                    </tr>
                    <tr class="total-price border-dashed">
                      <td colspan="3">
                        <span class="total-price-label">ค่าธรรมเนียม :</span>
                        <span class="total-price-number">ฟรี</span>
                      </td>
                    </tr>
                    <tr class="total-price">
                      <td colspan="3">
                        <strong class="color-green">
                          <span class="total-price-label">ยอดสุทธิ :</span>
                          <span class="total-price-number">{{ transaction.amount  | number:0 }}</span>
                        <strong>
                      </td>
                    </tr>
                  </tbody>
                </table>

            </div>
        </div>


      </div>


    </div>
  </div>
</div>
