<div class="layout-sigin">
  <div class="header-zone">
    <div class="container">
      <div class="back-btn-for-header"  ng-click="$root.goTo('brand-campaign-list')">
        <i class="fa fa-arrow-left"></i> กลับไป Campaign List
      </div>
      <h2>Morinaga Keoda รสใหม่</h2>
    </div>
  </div>
  <div class="body-zone">
    <div class="container">

      <card-campaign-header campaign="exampleCampaign">
      </card-campaign-header>

      <div class="card">
        <div class="card-body">

          <div class="card-row">
            <div class="card-title col-xs-12">
              <div class="card-title-content">
                เกี่ยวกับ Brand
              </div>
            </div>
          </div>

          <div class="card-row">
            <div class="card-body-content-label with-input">
              รูปโลโก้ของ Brand
            </div>
            <div class="card-body-content">
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="card-row">
            <div class="card-body-content-label with-input">
              ชื่อ Brand
            </div>
            <div class="card-body-content">
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="card-row">
            <div class="card-body-content-label with-input">
              เกี่ยวกับ Brand
            </div>
            <div class="card-body-content">
              <textarea class="form-control" rows="4" placeholder="อธิบายเกี่ยวกับ Brand ของคุณ"></textarea>
            </div>
          </div>
          <div class="card-row">
            <div class="card-body-content-label with-input">
              เว็บไซน์ของ Brand
            </div>
            <div class="card-body-content">
              <input type="text" class="form-control">
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <div class="card-row">
            <div class="card-title">
              <div class="card-title-content">
                เกี่ยวกับผู้สมัคร
              </div>
            </div>
          </div>
          <div class="card-row">
            <div class="card-body-content-label with-input">
              ชื่อผู้สมัคร
            </div>
            <div class="card-body-content">
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="card-row">
            <div class="card-body-content-label with-input">
              เบอร์ติดต่อ
            </div>
            <div class="card-body-content">
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="card-row">
            <div class="card-body-content-label with-input">
              อีเมล
            </div>
            <div class="card-body-content">
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="card-row">
            <div class="card-body-content-label with-input">
              ตั้งรหัสผ่านใหม่
            </div>
            <div class="card-body-content">
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="card-row">
            <div class="card-body-button">
              <button class="btn-primary btn-width-lg">บันทึกข้อมูล</button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
