<div class="viewport view-brand-campaign-detail-example">

  <div class="zone-alert">
      <nc-alert type="info">
        นี้คือตัวอย่างของประกาศงานที่ Influencer จะเห็น ถ้าอยากลงประกาศของคุณเอง กดปุ่มสีส้มเลย
      </nc-alert >
  </div>

  <zone-header historyback="true">
    <h1>รีวิว Rabbit Lipstick 7 Days 7 Looks</h1>
    <div class="action-btn-for-header with-back-btn">
        <button class="btn-primary btn-width-lg" ui-sref="brand-campaign-detail-draft">
            <i class="fa fa-plus"></i> ลงประกาศงาน
        </button>
    </div>
  </zone-header>

  <div class="zone-body">
    <div class="container">

      <card-campaign-header campaign="exampleCampaign">
      </card-campaign-header>

      <div class="card-campaign-description">
        <div class="card-body">
          <div class="card-row">
            <div class="card-title col-xs-12">
              <div class="card-title-content">
                เป้าหมาย
              </div>
            </div>
          </div>

          <div class="card-row">
            <div class="card-body-content-label">
              เป้าหมายของงาน
            </div>
            <div class="card-body-content">
              รีวิวสินค้า
            </div>
          </div>

          <div class="card-row">
            <div class="card-body-content-label">
              รูปแบบงาน
            </div>
            <div class="card-body-content work-type">
              <div class="work-type-item" >
                <i class="fa fa-picture-o"></i>
                <span>รูป</span>
              </div>
              <div class="work-type-item" >
                <i class="fa fa-play-circle-o"></i>
                <span>วิดีโอ</span>
              </div>
            </div>
          </div>

          <div class="card-row">
            <div class="card-body-content-label">
              สิ่งที่ต้องทำ
            </div>
            <div class="card-body-content">
              1. รีวิวลักษณะของผลิตภัณฑ์ Rabbit Lipstick<br>
              *การถ่ายภาพ หรือ VDO ในที่มีแสงสว่าง ภาพคมชัด ไม่เบลอ มองเห็นสีผลิตภัณฑ์ชัดเจน<br>
              - โชว์ผลิตภัณฑ์ให้เห็นชื่อแบรนด์และแพคเกจอย่างชัดเจน<br>
              - Swatch สีลิปส์ ลงบนผิว ให้ครบทุกสี เรียงจาก NO.1-NO.7 พร้อมบรรยายลักษณะของผลิตภัณฑ์ เนื้อลิป สีลิป ประกอบ<br>
              - บรรยายผลที่ได้หลังจากการทดลองใช้ พร้อมให้คะแนนความพอใจ<br><br>

              2. ครีเอทลุคส์ 7 ลุคส์ จาก 7 สี ลิปสติก<br>
              *การถ่ายภาพ หรือ VDO ในที่มีแสงสว่าง ภาพคมชัด ไม่เบลอ มองเห็นสีผลิตภัณฑ์ชัดเจน<br>
              - ถ่ายภาพหรือ VDO แต่ละลุคส์ โดยใช้ ลิป 1 สี 7ลุคส์ พร้อมบอกสีและเบอร์ของลิป ที่ใช้ในแต่ละลุคส์<br>
              - แนะนำเคล็ดลับวิธีใช้ผลิตภัณฑ์ในแต่ละลุคส์ (ถ้ามี)<br><br>

              3. แนะนำ Website และ Facebook ของ Rabbit Lipstick
            </div>
          </div>

        </div>
      </div>


      <div class="card-campaign-description">
        <div class="card-body">
          <div class="card-row">
            <div class="card-title col-xs-12">
              <div class="card-title-content">
                รายละเอียด
              </div>
            </div>
          </div>
          <div class="card-row">
            <div class="card-body-content-label">
              ชื่อสินค้า / บริการ
            </div>
            <div class="card-body-content">
              Rabbit Lipstick 7 Days 7 Looks
            </div>
          </div>
          <div class="card-row">
            <div class="card-body-content-label">
              รูปประกอบ
            </div>
            <div class="card-body-content">
              <img src="images/example-campaign/content-picture-1.png" class="description-image"/>
              <img src="images/example-campaign/content-picture-2.png" class="description-image"/>
            </div>
          </div>
          <div class="card-row">
            <div class="card-body-content-label">
              เว็บไซต์ของสินค้า
            </div>
            <div class="card-body-content">
              <a href="http://www.reachrabbit.com" target="_blank">http://www.reachrabbit.com</a>
            </div>
          </div>
        </div>
      </div>

      <div class="card-profile">
        <div class="card-body">
          <div class="card-image">
            <img src="images/example-campaign/brand-logo.png" class="img-responsive"/>
          </div>
          <div class="card-title">
            <div class="card-title-content">
              เกี่ยวกับ Rabbit Lipstick
            </div>
          </div>
          <div class="col-xs-10">
            <p>
              ที่ Rabbit Lipstick เรามุ่งมั่นพัฒนาสินค้าที่ดีที่สุดให้กับลูกค้า เราเน้นเรื่องของคุณภาพสินค้าเป็นพิเศษ และ ให้การใส่ใจดูแล ความรู้สึกของลูกค้าของเรา เรามั่นใจด้วยผลรางวัลการันตีความสำเร็จจากองค์กรชั้นนำมากมาย
            </p>
            <a href="http://www.reachrabbit.com" target="_blank">http://www.reachrabbit.com</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
