<div class="viewport view-brand-transaction-history">
  <zone-header historyback="false">
    <h1>รายการสั่งซื้อ</h1>
  </zone-header>
  <div class="zone-body">
    <div class="container">
      <div class="card">
        <cute-bunny></cute-bunny>
        <div class="card-body" cute-bunny-hide>
          <table ng-if="transactions.numberOfElements > 0" class="table" sorter ng-model="transactions" callback="load">
            <thead>
              <tr>
                <th class="desktop-only col-name" sort="updatedAt">วันที่แกไขล่าสุด</th>
                <th class="desktop-only col-status" sort="status">สถานะ</th>
                <th class="desktop-only text-center" sort="transactionId">หมายเลขการสั่งซื้อ</th>
                <th class="mobile-only col-name" sort="transactionId">หมายเลขการสั่งซื้อ</th>
                <th class="desktop-only col-rabbit-score" sort="proposals">จำนวนข้อเสนอ</th>
                <th class="desktop-only col-time" sort="amount">ราคารวม (บาท)</th>
                <th class="col-button"></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="transaction in transactions.content">
                <td class="desktop-only col-name">{{ transaction.updatedAt | amDateFormat : 'll' }}</td>
                <td class="desktop-only">
                  <span class="color-yellow" ng-if="transaction.status == 'Pending'"><i class="fa fa-clock-o"></i> รอการชำระเงิน</span>
                  <!-- For other status -->
                  <span class="color-green" ng-if="transaction.status == 'Complete'"><i class="fa fa-check-circle-o"></i> ชำระแล้ว</span>
                   <span class="color-grey" ng-if="transaction.status == 'Expired'"><i class="fa fa-ban"></i> หมดอายุ</span>
                </td>
                <td class="desktop-only text-center">{{ transaction.transactionNumber }}</td>
                <td class="mobile-only col-name">{{ transaction.transactionNumber }} <div class="col-info-label">{{ transaction.amount | currency: '': 0 }} บาท</div> </td>
                <td class="desktop-only col-rabbit-score">{{ transaction.brandTransactionDocument[0].cart.proposals.length || '0' }}</td>
                <td class="desktop-only col-time">{{ transaction.amount | currency: '': 0 }}</td>
                <td class="col-button">
                  <button class="btn-secondary btn-minimal" ui-sref="brand-transaction-detail({cartId: transaction.brandTransactionDocument[0].cart.cartId})">ดูรายละเอียด</button>
                </td>
              </tr>
            </tbody>
          </table>
          <table-static ng-if="transactions.totalElements == 0">
            <div class="empty-state">
              <img src="images/icon-empty-folder.png"/>ยังไม่มีรายการสั่งซื้อในขณะนี้
            </div>
          </table-static>
        </div>
      </div>
      <nav class="text-center" aria-label="Page navigation">
        <pagination ng-model="transactions" callback="load"></pagination>
      </nav>
    </div>
  </div>
</div>
