<div class="view-brand-inbox">

  <zone-header>
    <div class="action-btn-for-header">
      <div class="card-body-content">
        <div class="input-dropdown">
          <select class="form-control filter" ng-model="filter" ng-show="filters.length > 0" ng-options="x.campaignId as x.name for x in filters"></select>
          <i class="fa fa-caret-down"></i>
        </div>
      </div>
    </div>
    <h1>Inbox</h1>
  </zone-header>

  <div class="zone-body">
    <div class="container">

      <cute-bunny>
        โหลดดิ่งอยู่จ้า...
      </cute-bunny>

      <div class="card-inbox" cute-bunny-hide>
        <div class="tab-selector">
          <div class="tab" ui-sref="brand-inbox({status: 'Selection'})" ng-class="{'active': params.status == 'Selection'}">
            <h5>คัดเลือก</h5>
            <h3 ng-bind="statusCounts.selection || 0">-</h3>
          </div>
          <div class="tab-next-step">
            <i class="fa fa-angle-right fa-2x"></i>
          </div>
          <div class="tab" ui-sref="brand-inbox({status: 'Working'})" ng-class="{'active': params.status == 'Working'}">
            <h5>ดำเนินการ</h5>
            <h3 ng-bind="statusCounts.working || 0">-</h3>
          </div>
          <div class="tab-next-step">
            <i class="fa fa-angle-right fa-2x"></i>
          </div>
          <div class="tab" ui-sref="brand-inbox({status: 'Complete'})" ng-class="{'active': params.status == 'Complete'}">
            <h5>เสร็จสิ้น</h5>
            <h3 ng-bind="statusCounts.complete || 0">-</h3>
          </div>
        </div>
        <div class="card-body">
          <table ng-if="proposals.numberOfElements > 0" class="table" sorter ng-model="proposals" callback="load">
            <thead>
              <tr>
                <th class="col-name" sort="influencer.influencerId">Influencer</th>
                <th class="col-campaign-name" sort="campaign.campaignId">Campaign</th>
                <th class="col-price" sort="price">ราคา (บาท)</th>
                <th ng-if="params.status == 'Working'">วันที่กำหนดส่ง</th>
                <th ng-if="params.status == 'Complete'">วันที่เสร็จงาน</th>
                <th ng-if="params.status == 'Selection'" class="col-rabbit-score" sort="score">
                    Reach <i uib-tooltip="Reach ถูกคำนวณโดยการเอา ผู้ติดตามทุกช่องทาง มาบวกรวมกัน" tooltip-placement="top" class="fa fa-question-circle"></i>
                </th>
                <th class="col-time" sort="messageUpdatedAt">ข้อความล่าสุด</th>
                <th class="col-button">คุยงาน</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="proposal in proposals.content">
                <td class="col-name"><img src="{{proposal.influencer.user.profilePicture.url  || 'images/placeholder-profile-picture.png'}}" class="profile-picture" /> {{proposal.influencer.user.name}}</td>
                <td class="col-campaign-name">{{proposal.campaign.title}}</td>
                <td class="col-price">{{proposal.price | currency:'':0 }}</td>
                <td ng-if="params.status == 'Working'">{{ proposal.dueDate | date }}</td>
                <td ng-if="params.status == 'Complete'">{{ proposal.completeDate | date }}</td>
                <td ng-if="params.status == 'Selection'" class="col-rabbit-score">{{ calculateReach(proposal) | number: 0}} คน</td>
                <td class="col-time">{{lastMessageUpdated(proposal)}}</td>
                <td class="col-button">
                  <button class="btn-secondary" ui-sref="brand-workroom({proposalId: proposal.proposalId})">คุยงาน</button>
                  <!-- For next sprint -->
                  <span class="message-count" ng-if="proposal.unread > 0">{{proposal.unread > 99 ? '99+' : proposal.unread}}</span>
                </td>
              </tr>
            </tbody>
          </table>
          <table-static ng-if="proposals.totalElements == 0">
            <div class="empty-state">
              <img src="images/icon-empty-folder.png"/>ยังไม่มีห้องคุยงานในขั้นตอนนี้
            </div>
          </table-static>
        </div>
      </div>
      <div class="info-text text-center">
        <h5 ng-if="params.status == 'Selection'">ห้องคุยงานที่ไม่ Active มากกว่า 21 วันจะถูกลบโดยอัตโนมัติ</h5>
        <h5 ng-if="params.status == 'Working'">ห้องคุยงานใน “ดำเนินการ” จะไม่ถูกลบ</h5>
        <h5 ng-if="params.status == 'Complete'">ห้องคุยงานใน “เสร็จสิ้น” จะไม่ถูกลบ</h5>
      </div>
      <nav class="text-center" aria-label="Page navigation">
        <pagination ng-model="proposals" callback="load"></pagination>
      </nav>
    </div>
  </div>
</div>
