<div class="view-brand-login" ng-model-options="{ updatedOn: 'change blur'}">
  <div class="container">

    <div nc-alert='alert'></div>

    <form name="form" no-validate>
      <div class="card-portal">
        <div class="card-body">
          <div class="logo">
            <img src="images/logo-reachrabbit.png" alt="ReachRabbit logo" />
            <h3>มาโปรโมทสินค้าผ่าน Influencer กัน</h3>
          </div>
          <div class="form-group" form-error="form.username" is-validate="">
            <label>อีเมล</label>
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-envelope fa-fw"></i></span>
              <input name="username" type="email" class="form-control" placeholder="Username" ng-model="formData.username" maxlength="100" required>
            </div>
            <div input-error></div>
          </div>
          <div class="form-group" form-error="form.password">
            <label>รหัสผ่าน</label>
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-lock fa-fw"></i></span>
              <input name="password" type="password" class="form-control" placeholder="Password" ng-model="formData.password" maxlength="100" required>
            </div>
            <div input-error></div>
          </div>
          <button class="btn-primary" ng-click="login()">เข้าสู่ระบบ</button>
        </div>
      </div>
    </form>
    <div class="signup-pill">ยังไม่ได้เป็นสมาชิก? <a ui-sref="brand-signup">สมัครสมาชิก</a></div>
  </div>
</div>
