<div class="view-brand-campaign-list">
  <div class="header-zone">
    <div class="container">
      <div class="page-header">
        <h1>My Campaign</h1>
      </div>
    </div>
  </div>
  <div class="body-zone">
    <div class="container">
      <div class="btn-floating-action" ui-sref="brand-campaign-detail-draft">
      </div>

      <div nc-alert type="info" closable="true">
        เราได้สร้าง Campaign แรกให้คุณแล้ว เข้าไปแก้ไขข้อมูลได้เลย
      </div>

      <div ng-repeat="x in myCampaign.content">
        <card-campaign-list-item campaign='x' ui-sref="brand-campaign-detail-draft({campaignId: x.campaignId})"></card-campaign-list-item>
      </div>
      <nav class="text-center" aria-label="Page navigation">
        <pagination ng-model="myCampaign" callback="load"></pagination>
      </nav>

      <div class="example-campaign">
        <h2>ตัวอย่าง Campaign</h2>
        <div ng-repeat="x in exampleCampaign">
          <card-campaign-list-item campaign='x' ui-sref="brand-campaign-detail-example({ exampleId: $index })"></card-campaign-list-item>
        </div>
      </div>
    </div>
  </div>
</div>
