<div class="view-influencer-inbox">
  <div class="header-zone">
    <div class="container">
      <div class="page-header">
        <div class="action-btn-for-header">
          <div class="card-body-content">
            <div class="input-dropdown">
              <select class="form-control filter">
                <option value="">แสดง Campaign ทั้งหมด</option>
                <option value="">แสดงเฉพาะ Campaign X</option>
              </select>
              <i class="fa fa-caret-down"></i>
            </div>
          </div>
        </div>
        <h1>Inbox</h1>
      </div>
    </div>
  </div>
  <div class="body-zone">
    <div class="container">
      <div class="card-inbox">
        <div class="tab-selector">
          <div class="tab active">
            <h5>คัดเลือก</h5>
            <h3>5</h3>
          </div>
          <div class="tab-next-step">
            <i class="fa fa-angle-right fa-2x"></i>
          </div>
          <div class="tab">
            <h5>ดำเนินการ</h5>
            <h3>5</h3>
          </div>
          <div class="tab-next-step">
            <i class="fa fa-angle-right fa-2x"></i>
          </div>
          <div class="tab">
            <h5>เสร็จสิ้น</h5>
            <h3>5</h3>
          </div>
        </div>
        <div class="card-body">
          <table class="table">
            <thead>
              <tr>
                <th class="col-name">Influenccer <a href="#"><i class="fa fa-sort-desc"></i></a></th>
                <th class="col-campaign-name">Campaign <a href="#"><i class="fa fa-sort-desc"></i></a></th>
                <th class="col-price">ราคาที่เสนอ <a href="#"><i class="fa fa-sort-desc"></i></a></th>
                <th class="col-time">ข้อความล่าสุด <a href="#" class="active"><i class="fa fa-sort-desc"></i></a></th>
                <th class="col-button">คุยงาน</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="col-name"><img src="images/example-campaign/profile-pic-pokemon.png" class="profile-picture" /> Pokemon GX</td>
                <td class="col-campaign-name">รีวิว Fukifilm Instax Mini รีวิว Fukifilm Instax Mini รีวิว Fukifilm Instax Mini รีวิว Fukifilm Instax Mini</td>
                <td class="col-price">50,000 บาท</td>
                <td class="col-time">วันนี้ 18:00</td>
                <td class="col-button">
                  <button class="btn-secondary" ui-sref="influencer-workroom">คุยงาน</button>
                  <!-- For next sprint -->
                  <!-- <span class="message-count">5</span> -->
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="info-text text-center">
        <h5>ห้องคุยงานที่ไม่ Active มากกว่า 21 วันจะถูกลบโดยอัตโนมัติ</h5>
      </div>
    </div>

    <nav class="text-center" aria-label="Page navigation">
      <ul class="pagination">
        <li>
          <a href="#" aria-label="Previous">
            <i class="fa fa-angle-left" aria-hidden="true"></i>
          </a>
        </li>

        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">...</a></li>
        <li><a href="#">20</a></li>
        <li>
          <a href="#" aria-label="Next">
            <i class="fa fa-angle-right" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </nav>

  </div>
</div>
