<div class="view-influencer-wallet">
  <zone-header historyback="false">
    <h1>ประวัติการถอนเงิน</h1>
  </zone-header>
  <div class="zone-body">
    <div class="container">
      <div class="card">
        <div class="card-body">
          <table ng-if="transactions.numberOfElements > 0" class="table" sorter ng-model="transactions" callback="load">
            <thead>
              <tr>
                <th class="col-name" sort="updatedAt">วันที่แก้ไขล่าสุด</th>
                <th class="col-status" sort="status">สถานะ</th>
                <th sort="transactionId">รหัสการถอนเงิน</th>
                <th class="col-rabbit-score" sort="proposals">จำนวนรายการ</th>
                <th class="col-time" sort="amount">ยอดถอน(บาท)</th>
                <th class="col-button"></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="transaction in transactions.content">
                <td class="col-name">{{ transaction.updatedAt | date }}</td>
                <td class="col-status">
                  <span class="color-yellow" ng-if="transaction.status == 'Pending'"><i class="fa fa-clock-o"></i> รอรับเงิน</span>
                  <span class="color-green" ng-if="transaction.status == 'Complete'"><i class="fa fa-check-circle-o"></i> ได้รับเงินแล้ว</span>
                </td>
                <td>{{ transaction.transactionNumber }}</td>
                <td class="col-rabbit-score">{{ transaction.influencerTransactionDocument[0].wallet.proposals.length || 0 }}</td>
                <td class="col-time">{{ transaction.amount | number: 0 }}</td>
                <td class="col-button">
                  <button class="btn-secondary" ui-sref="influencer-payout-detail({transactionId: transaction.transactionId})">ดูรายละเอียด</button>
                </td>
              </tr>
            </tbody>
          </table>
          <table-static ng-if="transactions.totalElements == 0">
            <div class="empty-state">
              <img src="images/icon-empty-folder.png"/>ยังไม่มีประวัติการถอนเงินในขณะนี้
            </div>
          </table-static>
        </div>
      </div>
      <nav class="text-center" aria-label="Page navigation">
        <pagination ng-model="transactions" callback="load"></pagination>
      </nav>
    </div>
  </div>
</div>
