
<div class="viewport view-influencer-campaign-list">
  <div class="zone-header">
    <div class="container">
      <div class="row">
        <div class="step">
          <img src="images/influencer-onboarding-1.png"/>
          <h3>1. ส่งข้อเสนอ</h3>
          <img src="images/icon-next-step.png" class="next-step" />
        </div>
        <div class="step">
          <img src="images/influencer-onboarding-2.png" />
          <h3>2. ได้รับเลือก</h3>
          <img src="images/icon-next-step.png" class="next-step" />
        </div>
        <div class="step">
          <img src="images/influencer-onboarding-3.png"/>
          <h3>3. ส่งงาน</h3>
          <img src="images/icon-next-step.png" class="next-step" />
        </div>
        <div class="step">
          <img src="images/influencer-onboarding-4.png"/>
          <h3>4. รับเงิน</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="zone-body">
    <div class="container">
      <div class="page-header">
        <h1>Campaign</h1>
        <div class="form-group">
          <div class="input-dropdown">
              <select class="form-control filter" ng-model="filter" ng-options="x.mediaId as x.mediaName for x in filters"></select>
            <i class="fa fa-caret-down"></i>
          </div>
        </div>
      </div>

      <cute-bunny></cute-bunny>

      <div class="thumbnails" cute-bunny-hide>
        <card-campaign-thumbnail ng-repeat="cam in campaigns.content"
        on-click="handleUserClickThumbnail"
        campaign="cam"></card-campaign-thumbnail>
      </div>
      <nav class="text-center" aria-label="Page navigation">
        <pagination ng-model="campaigns" callback="load"></pagination>
      </nav>
    </div>
  </div>
</div>
