<div class="view-brand-detail-example">
  
  <div class="header-zone">
    <div class="container">
      <div class="page-header">
        <div class="back-btn-for-header"  ui-sref="brand-campaign-list">
          <i class="fa fa-arrow-left"></i> กลับไป Campaign List
        </div>
        <div style="float: right">
            <button class="btn-primary btn-width-md">
                <i class="fa fa-paper-plane"></i> ยื่นข้อเสนอ
            </button>
        </div>

        <h2>{{ campaignNee.title }}</h2>
        
        
      </div>
    </div>
  </div>
  <div class="body-zone">
    <div class="container">
      <div nc-alert="alert"></div>

      <card-campaign-header campaign="campaignNee">
      </card-campaign-header>

      <div class="card-campaign-description">
        <div class="card-body">
          <div class="card-row">
            <div class="card-body-content-label">
              รายละเอียด
            </div>
            <div class="card-body-content">
                {{ campaignNee.description }}
            </div>
          </div>
          <div class="card-row">
            <div class="card-body-content-label">
              Keyword สำคัญ
            </div>
            <div class="card-body-content">
              {{ (campaignNee.keywords || []).join(", ") }}
            </div>
          </div>
          <div class="card-row">
            <div class="card-body-content-label">
              เว็บไซต์ของสินค้า
            </div>
            <div class="card-body-content">
              <a ng-href="{{campaignNee.website}}">{{ campaignNee.website || "No Description" }}</a>
            </div>
          </div>
          <div class="card-row">
            <div class="card-body-content-label">
              รูปประกอบ
            </div>
            <div class="card-body-content">
              <img ng-repeat="campaignImage in campaignNee.resources" src="images/example-campaign/content-picture.jpg" class="description-image"/>
            </div>
          </div>
        </div>
      </div>

      <div class="card-brand-profile">
        <div class="card-body">
          <div class="card-image">
            <img src="images/example-campaign/brand-logo.jpg" class="img-responsive"/>
          </div>
          <div class="card-title">
            <div class="card-title-content">
              เกี่ยวกับ {{ campaign.brand.brandName }}
            </div>
          </div>
          <div class="col-xs-10">
            <p>
              Morinaga ถ่ายภาพให้เห็นผลิตภัณฑ์และชื่อแบรนด์อย่างชัดเจน ถ่ายภาพให้เห็นผลิตภัณฑ์และชื่อแบรนด์อย่างชัดเจน ถ่ายภาพให้เห็นผลิตภัณฑ์และชื่อแบรนด์อย่างชัดเจน ถ่ายภาพให้เห็นผลิตภัณฑ์และชื่อแบรนด์อย่างชัดเจน
            </p>
            <a href="#">www.pokemongo.com/summerworld</a>
          </div>
        </div>
      </div>
      
      <div class="card-brand-profile">
        <div class="card-body align-center">
            <button class="btn-secondary btn-width-lg" ui-sref="influencer-campaign-list">กลับไปดู Campaign อื่น</button>
            <button class="btn-primary btn-width-lg">
                <i class="fa fa-paper-plane"></i> ยื่นข้อเสนอ
            </button>
        </div>
      </div>

    </div>
  </div>
</div>
