<form name="form" novalidate>
<div class="viewport view-influencer-wallet">
  <div class="zone-alert" cute-bunny-hide>
    <div nc-alert="alert"></div>
    <div nc-alert type="warning" closable="false" ng-show="!isVerify">
      กรุณากรอกข้อมูลยืนยันตัวตนในหน้า Profile ให้ครบ ก่อนถอนเงิน <a ui-sref="influencer-profile({showVerify: true})">กดที่นี่เพื่อใส่ข้อมูลเพิ่ม</a>
    </div>
  </div>
  <zone-header historyback="false">
    <h1>My Wallet</h1>
  </zone-header>

  <div class="zone-body">
      <div class="container">
        <cute-bunny></cute-bunny>
        <div class="row" cute-bunny-hide>
          <div class="col-xs-8">
            <div class="card">
              <div class="card-header">
                รายได้ที่ยังไม่ได้ถอนออก
              </div>

              <div class="card-body">
                <table class="table with-no-margin" ng-if="wallet.proposals">
                  <thead>
                    <th>ชื่องาน</th>
                    <th class="text-align-right">ราคาที่เสนอ</th>
                    <!-- <th class="text-align-right hide">หักภาษี ณ ที่จ่าย</th> -->
                    <th class="text-align-right">รายได้ <a><i uib-tooltip="รายได้ของคุณได้ทำการหักค่าธรรมเนียมในการใช้ระบบ 18% หักภาษี ณ ที่จ่าย เราจะใช้ค่าธรรมเนียม เพื่อพัฒนาระบบ และหางานให้คุณอย่างต่อเนื่องค่ะ"
                      tooltip-placement="left" class="fa fa-question-circle color-grey"></i></a></th>
                  </thead>
                  <tbody>
                    <tr ng-repeat="proposal in wallet.proposals">
                      <td class="col-campaign-name">{{proposal.campaign.title}}</td>
                      <td class="text-align-right">{{ proposal.price | number:0 }}</td>
                      <!-- <td ng-if="proposal.campaign.brand.isCompany" ng-init="proposal.tax = proposal.price * BrandTaxFee " class="text-align-right">{{ proposal.tax | number:0 }}</td> -->
                      <!-- <td ng-if="!proposal.campaign.brand.isCompany" class="text-align-right">-</td> -->
                      <!-- Taxes Cannot be deleted - hidden is the solution for now -->
                      <td ng-if="proposal.campaign.brand.isCompany" class="text-align-right hide" ng-init='proposal.income = proposal.price - proposal.tax - (proposal.price * InfluencerFee)'>{{ proposal.income | number :0 }}</td>
                      <td ng-if="!proposal.campaign.brand.isCompany" class="text-align-right" ng-init='proposal.income = proposal.price * PostDeductionFeeMultiplier'>{{ proposal.income | number :0 }}</td>
                    </tr>
                    <tr class="total-price">
                      <td colspan="4">
                        <strong>รายได้รวม ({{ wallet.proposals.length | number: 0 }} รายการ ) : {{ $root.sumReduce(wallet.proposals, 'income') | number:0 }} บาท</strong>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <table-static>
                  <div class="empty-state" ng-if="!wallet.proposals">
                    <img src="images/icon-empty-folder.png"/>ยังไม่มียอดให้ถอดในขณะนี้
                  </div>
                </table-static>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                ขั้นตอนการถอนเงิน
              </div>
              <div class="card-body with-extra-padding">
                <div class="media">
                  <div class="media-left">
                    <span class="number-circle">1</span>
                  </div>
                  <div class="media-body">
                    <div class="card-row">
                      <div class="col-xs-12">
                        ระบุข้อมูลบัญชีที่ต้องการให้โอน
                      </div>
                    </div>
                    <div class="card-row-2-column">
                      <div class="col" form-error="form.bank">
                        <label>ธนาคาร</label>
                        <div class="input-dropdown">
                          <select class="form-control" ng-disabled="!wallet.proposals || !isVerify" name="bank" ng-model="formData.bank" ng-options="bank as bank.bankName for bank in bankOptions track by bank.bankId" required></select>
                          <i class="fa fa-caret-down"></i>
                          <div input-error></div>
                        </div>
                      </div>
                      <div class="col" form-error="form.accountNumber">
                        <label>เลขที่บัญชี</label>
                        <input class="form-control" ng-disabled="!wallet.proposals || !isVerify" name="accountNumber" ng-model="formData.accountNumber" ng-pattern-restrict="^[0-9]*$" required/>
                        <div input-error></div>
                      </div>
                    </div>
                    <div class="card-row-2-column">
                      <div class="col" form-error="form.accountName">
                          <label>ชื่อบัญชี</label>
                          <div class="input-dropdown">
                            <input class="form-control" ng-disabled="!wallet.proposals || !isVerify" name="accountName" ng-model="formData.accountName" required/>
                          </div>
                        <div input-error></div>
                      </div>
                      <div class="col">
                        <div class="checkbox">
                          <label><input type="checkbox" ng-model="formData.rememberBankDetail">จดจำรายละเอียดสำหรับครั้งหน้า</label>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
                <div class="media">
                  <div class="media-left">
                    <span class="number-circle">2</span>
                  </div>
                  <div class="media-body">
                    ตรวจสอบและกด ถอนเงิน
                  </div>
                </div>
                <div class="media">
                  <div class="media-left">
                    <span class="number-circle">3</span>
                  </div>
                  <div class="media-body">
                    ReachRabbit จะโอนเงินให้คุณภายใน 3 วันทำการ
                  </div>
                </div>

              </div>
            </div>
          </div>

          <div class="col-xs-4">
            <div class="card">
              <div class="card-header text-center">
                สรุปการถอนเงิน
              </div>
              <div class="card-body">
                <table class="table">
                  <tr>
                    <td class="no-top-border">
                      รายได้รวม
                    </td>
                    <td class="text-align-right no-top-border">
                      {{ $root.sumReduce(wallet.proposals, 'income') | number:0 }} บาท
                    </td>
                  </tr>
                  <tr>
                    <td>
                      ค่าธรรมเนียมการโอน
                    </td>
                    <td class="text-align-right">
                      {{TransferFee|number:0}} บาท
                    </td>
                  </tr>
                  <tr class="color-green">
                    <td>
                      <strong>ยอดถอน</strong>
                    </td>
                    <td class="text-align-right">
                      <strong ng-if="wallet.proposals">{{ $root.sumReduce(wallet.proposals, 'income') + TransferFee | number:0 }} บาท</strong>
                      <strong ng-if="!wallet.proposals">ยังไม่มี</strong>
                    </td>
                  </tr>
                </table>
                <p>
                  <button ng-disabled="!wallet.proposals || !isVerify" ng-click="requestPayout()" class="btn btn-primary btn-width-max">ถอนเงิน</button>
                </p>
                <div class="text-center">
                  <a ui-sref="influencer-payout-history">ดูประวัติการถอนเงิน</a>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
  </div>
</div>
</form>
