<div class="view-influencer-campaign-list">
  <div class="header-zone">
    <div class="container">
      <div class="row">
        <div class="step">
          <img src="images/influencer-onboarding-1.png"/>
          <h3>1. ส่งข้อเสนอ</h3>
          <img src="images/icon-next-step.png" class="next-step" />
        </div>
        <div class="step">
          <img src="images/influencer-onboarding-2.png" />
          <h3>2. ได้รับเลือก</h3>
          <img src="images/icon-next-step.png" class="next-step" />
        </div>
        <div class="step">
          <img src="images/influencer-onboarding-3.png"/>
          <h3>3. ส่งงาน</h3>
          <img src="images/icon-next-step.png" class="next-step" />
        </div>
        <div class="step">
          <img src="images/influencer-onboarding-4.png"/>
          <h3>4. รับเงิน</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="body-zone">
    <div class="container">
      <div class="page-header">
        <h1>Campaign</h1>
        <div class="form-group">
          <select class="form-control" ng-model="filter.mediaId">
            <option value="any">แสดงทั้งหมด</option>
            <option value="facebook">แสดงเฉพาะ Facebook</option>
            <option value="instagram">แสดงเฉพาะ Instagram</option>
            <option value="youtube">แสดงเฉพาะ YouTube</option>
          </select>
        </div>
      </div>

      <div class="thumbnails">
        <card-campaign-thumbnail ng-repeat="cam in campaigns.content" 
        on-click="handleUserClickThumbnail"
        campaign="cam"></card-campaign-thumbnail>
      </div>

      <nav class="text-center" aria-label="Page navigation">
        <ul class="pagination">
          <li>
            <a href="#" aria-label="Previous">
              <i class="fa fa-angle-left" aria-hidden="true"></i>
            </a>
          </li>
          
          <li class="active"><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">...</a></li>
          <li><a href="#">20</a></li>
          <li>
            <a href="#" aria-label="Next">
              <i class="fa fa-angle-right" aria-hidden="true"></i>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
