<div class="view-brand-detail-example">

  <zone-header historyback="true">
    <div class="action-btn-for-header with-back-btn" cute-bunny-hide>
        <button class="btn-primary btn-width-md" ng-if="!isApplied" ng-click="sendProposal()">
            <i class="fa fa-paper-plane"></i> ยื่นข้อเสนอ
        </button>
        <button class="btn-primary btn-width-md" ng-if="isApplied" ui-sref="influencer-workroom({proposalId: proposal.proposalId})">
            <i class="fa fa-paper-plane"></i> ส่งข้อความ
        </button>
    </div>
    <h1 ng-bind="campaignNee.title | truncate: 40"></h1>
  </zone-header>
  <div class="zone-body">

    <div class="container">
      <cute-bunny></cute-bunny>
      <div nc-alert="appliedAlert"></div>
      <div nc-alert="alert"></div>

      <div nc-alert type="info" closable="true" ng-if="isApplied">
        คุณได้ส่งข้อเสนอให้ Campaign นี้แล้ว
      </div>

      <card-campaign-header cute-bunny-hide campaign="campaignNee">
      </card-campaign-header>

      <div cute-bunny-hide class="card-campaign-description">
        <div class="card-body">
          <div class="card-row">
            <div class="card-body-content-label">
              รายละเอียด
            </div>
            <div class="card-body-content" ng-if="campaignNee.description.length > 0">
                {{ campaignNee.description }}
            </div>
          </div>
          <div class="card-row" ng-if="campaignNee.keyword.length > 0">
            <div class="card-body-content-label">
              Keyword สำคัญ
            </div>
            <div class="card-body-content">
              {{ campaignNee.keyword }}
            </div>
          </div>
          <div class="card-row" ng-if="campaignNee.website.length > 0">
            <div class="card-body-content-label">
              เว็บไซต์ของสินค้า
            </div>
            <div class="card-body-content">
              <a ng-href="{{campaignNee.website}}" target="_blank">{{ campaignNee.website }}</a>
            </div>
          </div>
          <div class="card-row">
            <div class="card-body-content-label">
              รูปประกอบ
            </div>
            <div class="card-body-content">
              <img ng-repeat="campaignImage in campaignNee.campaignResources" ng-src="{{ campaignImage.url }}" class="description-image"/>
            </div>
          </div>
        </div>
      </div>

      <card-brand-profile cute-bunny-hide ng-model="campaignNee.brand"></card-brand-profile>

      <div cute-bunny-hide class="card">
        <div class="card-body text-center">
            <button class="btn-secondary btn-width-lg btn-with-margin" ui-sref="influencer-campaign-list">
              กลับไปดู Campaign อื่น
            </button>
            <button class="btn-primary btn-width-lg btn-with-margin" ng-if="!isApplied" ng-click="sendProposal()">
                <i class="fa fa-paper-plane"></i> ยื่นข้อเสนอ
            </button>
            <button class="btn-primary btn-width-md" ng-if="isApplied" ui-sref="influencer-workroom({proposalId: proposal.proposalId})">
              <i class="fa fa-paper-plane"></i> ส่งข้อความ
          </button>
        </div>
      </div>

    </div>
  </div>
</div>
