<div class="viewport view-influencer-wallet">
  <zone-header historyback="true">
    <h1>รายละเอียดการถอนเงิน (รหัส: {{ payout.transactionNumber }})</h1>
  </zone-header>
  <div class="zone-body">

    <div class="container">

      <div class="row">
        <div class="col-xs-8">

            <div class="card">
                <div class="card-header">
                   รายได้ที่ยังไม่ได้ถอนออก
                </div>

                <div class="card-body">
                    <table class="table with-no-margin">
                      <thead>
                        <th>ชื่องาน</th>
                        <th class="text-align-right">ราคาที่เสนอ</th>
                        <th class="text-align-right hide">หักภาษี ณ ที่จ่าย</th>
                        <th class="text-align-right">รายได้ <a><i class="fa fa-question-circle color-grey" uib-tooltip="รายได้ของคุณได้ทำการหักค่าธรรมเนียมในการใช้ระบบ 18% และ หักภาษี ณ ที่จ่าย เราจะใช้ค่าธรรมเนียม เพื่อพัฒนาระบบ และหางานให้คุณอย่างต่อเนื่องค่ะ"
                          tooltip-placement="left"></i></a></th>
                      </thead>
                      <tbody>
                        <tr ng-repeat="row in tDoc">
                          <td class="col-campaign-name">{{row.title}}</td>
                          <td class="text-align-right">{{row.price | number:0}}</td>
                          <!-- Taxes Cannot be deleted - hidden is the solution for now -->
                          <td ng-if="row.tax" class="text-align-right hide">{{-row.tax | number:0}}</td>
                          <td ng-if="!row.tax" class="text-align-right hide">-</td>
                          <td class="text-align-right" ng-init='row.total = row.price + row.fee + (row.tax ? row.tax : 0) '>{{ (row.total ) | number: 0}}</td>
                        </tr>
                        <tr class="total-price">
                          <td colspan="4">
                            <strong>รายได้รวม (1 รายการ) : {{ $root.sumReduce(tDoc, 'total') | number }} บาท</strong>
                          </td>
                        </tr>
                      </tbody>
                    </table>

                </div>
            </div>
            <div class="card">
              <div class="card-header">
                ขั้นตอนการชำระเงิน
              </div>
              <div class="card-body with-extra-padding">
                  <div class="media">
                    <div class="media-left">
                      <span class="number-circle">1</span>
                    </div>
                    <div class="media-body">
                      <div class="card-row">
                        <div class="col-xs-12">
                          ระบุข้อมูลบัญชีที่ต้องการให้โอน
                        </div>
                      </div>
                      <div class="card-row-2-column">
                        <div class="col">
                          <label>ธนาคาร</label>
                          <div class="input-dropdown">
                              <input class="form-control" ng-model="payout.influencerTransactionDocument[0].bank.bankName" disabled/>
                              <i class="fa fa-caret-down"></i>
                          </div>
                        </div>
                        <div class="col">
                          <label>เลขที่บัญชี</label>
                              <input class="form-control" ng-model="payout.influencerTransactionDocument[0].accountNumber" disabled/>
                        </div>
                      </div>
                      <div class="card-row-2-column">
                        <div class="col">
                          <label>ชื่อบัญชี</label>
                          <div class="input-dropdown">
                              <input class="form-control" ng-model="payout.influencerTransactionDocument[0].accountName" disabled/>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                  <div class="media">
                    <div class="media-left">
                      <span class="number-circle">2</span>
                    </div>
                    <div class="media-body">
                      ตรวจสอบและกด ถอนเงิน
                    </div>
                  </div>
                  <div class="media">
                    <div class="media-left">
                      <span class="number-circle">3</span>
                    </div>
                    <div class="media-body">
                      ReachRabbit จะโอนเงินให้คุณภายใน 3 วันทำการ
                    </div>
                  </div>

              </div>
            </div>
        </div>

        <div class="col-xs-4">
            <div class="card">
              <div class="card-header text-center">
                สรุปการถอนเงิน
              </div>
              <div class="card-body">
                 <table class="table">
                   <tr>
                     <td colspan="2" ng-if="payout.slip.url" class="no-top-border">
                       <p>
                         หลักฐานการโอน
                       </p>
                       <img ng-src="{{ payout.slip.url }}" class="img-responsive" />
                     </td>
                   </tr>
                   <tr>
                     <td colspan="2" class="no-top-border text-center color-yellow" ng-if="payout.status == 'Pending'">
                       -- <i class="fa fa-clock-o"></i> กำลังดำเนินการโอนเงิน --
                     </td>
                   </tr>
                  <tr>
                    <td class="no-top-border">
                      รายได้รวม
                    </td>
                    <td class="text-align-right no-top-border">
                      {{ $root.sumReduce(tDoc, 'total') | number: 0}} บาท
                    </td>
                  </tr>
                  <tr>
                    <td>
                      ค่าธรรมเนียมการโอน
                    </td>
                    <td class="text-align-right">
                      {{transferFeeDoc.amount*-1| number}} บาท
                    </td>
                  </tr>
                  <tr class="color-green">
                    <td>
                      <strong>ยอดถอน</strong>
                    </td>
                    <td class="text-align-right">
                      <strong>{{payout.amount | number: 0}} บาท</strong>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
        </div>
      </div>


    </div>
  </div>
</div>
