<div class="view-signup-select-page">
  <div class="container">
    <div nc-alert type="danger">Yo</div>

    <form no-validate>
    <div class="card-portal">
      <div class="card-body">
        <div class="logo">
          <h1>เลือกบัญชีที่จะใช้สมัคร</h1>
        </div>
        <div class="radio-card">
          <label>
            <input type="radio" name="group" checked>
            <div class="radio-label">
              Page A
            </div>
            <div class="radio-info">
              มีผู้ติดตาม 604 คน
            </div>
            <img class="radio-image" src="images/example-campaign/profile-pic-jon.jpg" />
          </label>
        </div>
        <div class="radio-card">
          <label>
            <input type="radio" name="group">
            <div class="radio-label">
              Page B
            </div>
            <div class="radio-info">
              มีผู้ติดตาม 504 คน
            </div>
            <img class="radio-image" src="images/example-campaign/profile-pic-jon.jpg" />
          </label>
        </div>
        <div class="radio-card disabled">
          <input type="radio" name="group" disabled>
          <div class="radio-label">
            Page C
          </div>
          <div class="radio-info">
            มีผู้ติดตาม 4 คน
          </div>
          <img class="radio-image" src="images/example-campaign/profile-pic-jon.jpg" />
        </div>
        <button class="btn-primary" ng-click="$root.goTo('influencer-signup-confirmation')">เลือกบัญชี</button>
        <div class="info-text">
          คุณต้องมีคนติดตามอย่างน้อย 500 คนในการสมัคร
        </div>
      </div>
    </div>
    </form>
  </div>
</div>
