<div class="view-influencer-portal">
  <div class="container">
    <div nc-alert type="danger">Yo</div>

    <form no-validate>
    <div class="card-portal">
      <div class="card-body">
        <div class="logo">
          <img src="images/logo-reachrabbit.png" alt="ReachRabbit logo" />
          <h3>มารวมงานกับ Brand ชั้นนำกัน</h3>
        </div>
        <button class="btn-social btn-facebook" ng-click="$root.goTo('influencer-signup-select-page')">
          <!-- <img src="images/icon-facebook-lg.png"/>เข้าสู่ระบบด้วย Facebook -->
          เข้าสู่ระบบด้วย Facebook
        </button>
        <button class="btn-social btn-instagram">เข้าสู่ระบบด้วย Instagram</button>
        <button class="btn-social btn-youtube">เข้าสู่ระบบด้วย YouTube</button>
        <div class="info-text">
          คุณต้องมีคนติดตามอย่างน้อย 500 คนในการสมัคร
        </div>
      </div>
    </div>
    </form>
  </div>
</div>
