<div class="view-influencer-profile-published">
  <zone-header historyback="false">
    <h1 ng-bind="influencer.user.name | truncate: 50"></h1>
    <div class="action-btn-for-header">
        <button class="btn-primary btn-width-md" ui-sref="influencer-profile">
            <i class="fa fa-pencil"></i> แก้ไขข้อมูล
        </button>
    </div>
  </zone-header>
  <div class="zone-body">
    <div class="container">

      <card-influencer-profile ng-model="influencer"></card-influencer-profile>

      <uib-tabset active="activePill" type="tabs">
        <uib-tab ng-if="hasMedia('facebook')" index="0" heading="Facebook" class="facebook-tab">
          <uib-tab-heading>
            <span class="icon-facebook"></span>Facebook
          </uib-tab-heading>
          <div class="social-media-profile-wrapper">
            <facebook-profile ng-model="facebook"></facebook-profile>
          </div>
        </uib-tab>
        <uib-tab ng-if="hasMedia('instagram')" index="1" heading="Instagram" class="instagram-tab">
          <uib-tab-heading>
            <span class="icon-instagram"></span> Instagram
          </uib-tab-heading>
          <div class="social-media-profile-wrapper">
            <!-- instagram-tab -->
            <div class="instagram-profile">
              <div class="card-body">
                  <div class="card-row">
                    <div class="card-title col-xs-12">
                      <div class="card-title-content">
                          Instagram Account Name
                      </div>
                    </div>
                  </div>
                  <div class="card-overview card-row">
                    <div class="card-info">
                      <div class="card-info-label">จำนวน Follower</div>
                      <div class="card-content">
                        <strong>9,999</strong>
                        <small>คน</small>
                      </div>
                    </div>
                    <div class="card-info">
                      <div class="card-info-label">จำนวนโพสทั้งหทด</div>
                      <div class="card-content">
                        <strong>9,999</strong>
                        <small>โพส</small>
                      </div>
                    </div>
                    <div class="card-info">
                      <div class="card-info-label">ค่าเฉลี่ย Likes <i class="fa fa-question-circle"></i></div>
                      <div class="card-content">
                        <strong>999</strong>
                        <i class="fa fa-share-alt"></i>
                      </div>
                    </div>
                    <div class="card-info">
                      <div class="card-info-label">ค่าเฉลี่ย Commment <i class="fa fa-question-circle"></i></div>
                      <div class="card-content">
                        <strong>999</strong>
                        <i class="fa fa-commenting"></i>
                      </div>
                    </div>
                    <div class="card-button">
                      <button ng-click="gotoPage()" class="btn-secondary pull-right btn-width-md">ดูบน Instagram</button>
                    </div>
                  </div>
                  <div class="card-gallery card-row">
                    <div class="col-xs-3">
                      <div class="card-gallery-item">
                        <img src="images/example-campaign/brand-logo.jpg"/>
                        <div class="card-gallery-info">
                            <div class="card-info col-xs-6">
                              <div class="card-info-label">Likes</div>
                              <div class="card-content">99</div>
                            </div>
                            <div class="card-info col-xs-6">
                              <div class="card-info-label">Comments</div>
                              <div class="card-content">99</div>
                            </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-3">
                      <div class="card-gallery-item">
                        <img src="images/example-campaign/brand-logo.jpg"/>
                        <div class="card-gallery-info">
                            <div class="card-info col-xs-6">
                              <div class="card-info-label">Likes</div>
                              <div class="card-content">99</div>
                            </div>
                            <div class="card-info col-xs-6">
                              <div class="card-info-label">Comments</div>
                              <div class="card-content">99</div>
                            </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-3">
                      <div class="card-gallery-item">
                        <img src="images/example-campaign/brand-logo.jpg"/>
                        <div class="card-gallery-info">
                            <div class="card-info col-xs-6">
                              <div class="card-info-label">Likes</div>
                              <div class="card-content">99</div>
                            </div>
                            <div class="card-info col-xs-6">
                              <div class="card-info-label">Comments</div>
                              <div class="card-content">99</div>
                            </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-3">
                      <div class="card-gallery-item">
                        <img src="images/example-campaign/brand-logo.jpg"/>
                        <div class="card-gallery-info">
                            <div class="card-info col-xs-6">
                              <div class="card-info-label">Likes</div>
                              <div class="card-content">99</div>
                            </div>
                            <div class="card-info col-xs-6">
                              <div class="card-info-label">Comments</div>
                              <div class="card-content">99</div>
                            </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-3">
                      <div class="card-gallery-item">
                        <img src="images/example-campaign/brand-logo.jpg"/>
                        <div class="card-gallery-info">
                            <div class="card-info col-xs-6">
                              <div class="card-info-label">Likes</div>
                              <div class="card-content">99</div>
                            </div>
                            <div class="card-info col-xs-6">
                              <div class="card-info-label">Comments</div>
                              <div class="card-content">99</div>
                            </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-3">
                      <div class="card-gallery-item">
                        <img src="images/example-campaign/brand-logo.jpg"/>
                        <div class="card-gallery-info">
                            <div class="card-info col-xs-6">
                              <div class="card-info-label">Likes</div>
                              <div class="card-content">99</div>
                            </div>
                            <div class="card-info col-xs-6">
                              <div class="card-info-label">Comments</div>
                              <div class="card-content">99</div>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
            <!-- End instagram-tab -->
          </div>
        </uib-tab>
        <uib-tab ng-if="hasMedia('google')" index="2" heading="YouTube" class="youtube-tab">
          <uib-tab-heading>
            <span class="icon-youtube"></span> YouTube
          </uib-tab-heading>
          <div class="social-media-profile-wrapper">
            <youtube-profile ng-model="youtube"></youtube-profile>
          </div>
        </uib-tab>
        <uib-tab ng-if="influencer.influencerMedias.length < 3" index="3" heading="+ เชื่อมต่อช่องทางอื่น" class="plain-link" ui-sref="influencer-profile">
          <uib-tab-heading>
            + เชื่อมต่อช่องทางอื่น
          </uib-tab-heading>
        </uib-tab>
      </uib-tabset>

    </div>
  </div>
</div>
