<div class="view-influencer-workroom workroom">
  <div class="header-zone">
    <div class="container">
      <div class="back-btn-for-header"  ui-sref="brand-inbox">
        <i class="fa fa-arrow-left"></i> กลับไป Inbox
      </div>
    </div>
  </div>
  <div class="body-zone">
    <div class="container">

      <div class="row">
        <div class="col-xs-9">
          <div class="chatbox-card">
            <div class="chatbox-header">
              <h3>Pokemon GX</h3>
              <a class="link-view-profile"><i class="fa fa-info-circle"></i> ดูโปรไฟล์</a>
              <div class="chatbox-status">
                <span class="status active">คัดเลือก</span>
                <i class="fa fa-angle-right"></i>
                <span class="status">ดำเนินการ</span>
                <i class="fa fa-angle-right"></i>
                <span class="status">เสร็จสิ้น</span>
              </div>
            </div>
            <div class="message-area">

              <message ng-repeat="x in exampleMessage" message-data="x"></message>

            </div>
            <div class="message-input">
              <textarea class="form-control" rows="4" ng-model="formData.brand.about" placeholder="พิมพ์ข้อความ..." autofocus></textarea>
              <div class="pull-right">

                <div class="preview-item">
                  <div class="input-upload-image">
                    <i class="fa fa-times-circle btn-delete-image" ng-click="remove($index)"></i>
                    <img src="images/example-campaign/main-picture.png" />
                  </div>
                </div>

                <button class="btn-secondary btn-width-md" disabled><i class="fa fa-paperclip fa-flip-horizontal" aria-hidden="true"></i> อัพโหลดไฟล์</button>
                <button class="btn-secondary-highlight btn-width-md"><i class="fa fa-paper-plane" aria-hidden="true"></i> ส่งข้อความ</button>
              </div>
              <div class="clear"></div>
            </div>

          </div>
        </div>
        <div class="col-xs-3">
          <card-proposal-detail proposal-id="proposalId"></card-proposal-detail>
          
          <div class="card-campaign-thumbnail">
            <div class="card-thumbnail-image">
              <img ng-src="{{campaign.resources[0].url || 'images/placeholder-campaign.png'}}" class="img-responsive"/>
            </div>
            <div class="card-body">
              รีวิว Fukifilm Instax Mini 8 จำนวน 1 เครื่อง / คน
              <button class="btn-secondary btn-width-max">ดูรายละเอียด</button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
