<div class="view-influencer-profile-published">
  <zone-header historyback="true">
    <h1>Profile ของฉัน</h1>
  </zone-header>
  <div class="zone-body">
    <div class="container">

      <card-influencer-profile ng-model="influencer"></card-influencer-profile>

      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
          <a href="#facebook" class="facebook-tab" aria-controls="facebook" role="tab" data-toggle="tab" aria-expanded="true">
            <span class="icon-facebook"></span>Facebook
          </a>
        </li>
        <li role="presentation">
          <a href="#instagram" class="instagram-tab" aria-controls="instagram" role="tab" data-toggle="tab" aria-expanded="false">
            <span class="icon-instagram"></span>Instagram
          </a>
        </li>
        <li role="presentation">
          <a href="#youtube" class="youtube-tab" aria-controls="youtube" role="tab" data-toggle="tab" aria-expanded="false">
            <span class="icon-youtube"></span>YouTube
          </a>
        </li>
        <li role="presentation">
          <a class="plain-link" ui-sref="influencer-profile">
            + เชื่อมต่อช่องทางอื่น
          </a>
        </li>
      </ul>
      <div class="social-media-profile-wrapper">
        <facebook-profile ng-model="facebook"></facebook-profile>
      </div>

    </div>
  </div>
</div>
