<div class="viewport view-influencer-portal">
  <div class="container">
    <div nc-alert="alert"></div>

    <form no-validate>
      <div class="card-portal">
        <div class="card-body">
          <div class="logo">
            <img src="images/logo-reachrabbit.png" alt="ReachRabbit logo" />
            <h3>มาร่วมงานกับ Brand ชั้นนำกัน!</h3>
          </div>
          <button class="btn-social btn-facebook btn-width-max" ng-click="startAuthFlow('facebook')">
            สมัครสมาชิกด้วย Facebook
          </button>
          <!-- <button class="btn-social btn-instagram btn-width-max" ng-click="startAuthFlow('instagram')">
            เข้าสู่ระบบด้วย Instagram
          </button> -->
          <button class="btn-social btn-google btn-width-max" ng-click="startAuthFlow('google')">
            สมัครสมาชิกด้วย YouTube
          </button>
          <button class="btn-secondary-highlight btn-email btn-width-max" ui-sref="influencer-signup-email">
            สมัครสมาชิกด้วย Email
          </button>
          <div class="info-text">
            คุณต้องมีคนติดตามอย่างน้อย {{ minFollower}} คนในการสมัคร
          </div>
          <div ng-if="minFollowerError" class="has-error">
            <div class="help-block">ขอโทษค่ะ คุณต้องมีผู้ติดตามอย่างน้อย {{ minFollower }} คนเพื่อสมัครสมาชิก</div>
          </div>
        </div>
      </div>
    </form>
    <div class="signup-pill">มี Account อยู่แล้ว? <a ui-sref="influencer-login">เข้าสู่ระบบ</a></div>
  </div>
</div>
