<div class="view-login">
  <div class="container">
    <div class="logo-brand">
      <img src="images/logo-reachrabbit.png" alt="ReachRabbit logo" />
      <h1>Brand Portal</h1>
    </div>
    <div class="card-grey">
      <div class="card-body">
        <div class="form-group">
          <label>อีเมล</label>
          <input type="text" class="form-control">
        </div>
        <div class="form-group">
          <label>รหัสผ่าน</label>
          <input type="password" class="form-control">
        </div>
        <a href="brand.html#!/view2">
          <button class="btn-call-to-action">เข้าสู่ระบบ</button>
        </a>
        <button class="btn-clear">สมัครสมาชิก</button>
      </div>
    </div>
  </div>
</div>
