<div class="row">
  <div class="col-md-6">
    <form name="form" class="form-horizontal" novalidate>
      <fieldset>
         {{message}}
        <div class="control-group">
          <label class="control-label" for="username">ชื่อ</label>
          <div class="controls">
            <input type="text" id="username" name="username" placeholder="" class="form-control" data-ng-model="formData.name">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="contactnumber">เบอร์ติดต่อ</label>
          <div class="controls">
            <input type="text" id="contactnumber" name="contactnumber" placeholder="" class="form-control">
          </div>
        </div>
        <br>
        <div class="control-group">
          <label class="control-label" for="email">E-mail</label>
          <div class="controls">
            <input type="email"
              id="email"
              name="email"
              class="form-control"
              data-ng-model="formData.email">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="email">Confirm E-mail</label>
          <div class="controls">
            <input type="email" id="emailconfirm" name="emailconfirm" placeholder="" class="form-control">
          </div>
        </div>
        <br>
      </fieldset>
    </form>
    <div class="controls">
      <a data-ng-click="submit()"><button class="btn btn-success"><strong>สมัครสมาชิก</strong></button></a>
    </div>
  </div>
  <div class="col-md-4">
    <div class="fileinput fileinput-new" data-provides="fileinput">
          <div class="fileinput-new thumbnail" style="width: 250px; height: 250px;">
            <img src="{{formData.picture}}" width="250">
          </div>
          <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"></div>
          <div>
            <span class="btn btn-default btn-file">
                <span class="fileinput-new"><i class="glyphicon glyphicon-open-file"></i> Upload from computer</span>
                <span class="fileinput-exists">Change</span>
                <input type="file" name="slip" data-ngf-select="upload($file)"></span>
            <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
          </div>
        </div>
  </div>
</div>
