<div class="row">
  <div class="col-md-6">
    <form name="form" class="form-horizontal" novalidate>
      <fieldset>
          <md-input-container class="md-block">
            <label>Name</label>
            <input required md-no-asterisk name="name" ng-model="formData.name">
          </md-input-container>

           <md-input-container class="md-block">
            <label>Phone Number</label>
            <input md-maxlength="10" required md-no-asterisk name="contactnumber" ng-model="formData.phoneNumber">
          </md-input-container>

           <md-input-container class="md-block">
            <label>E-mail</label>
            <input required md-no-asterisk name="email" ng-model="formData.email">
          </md-input-container>

          <md-input-container class="md-block">
            <label>Confirm E-mail</label>
            <input required md-no-asterisk name="email" ng-model="formData.email">
          </md-input-container>
      </fieldset>
    </form>
  </div>
  <div class="col-md-4">
    <div class="fileinput fileinput-new" data-provides="fileinput" style="text-align:center">
          <div class="fileinput-new" style="width: 250px; height: 250px;">
            <img src="{{formData.picture || 'http://orig03.deviantart.net/561f/f/2014/315/9/c/rabbit_doubt_mask_avatar_for_facebook_by_facebookavatars-d8622bz.png'}}" width="250">
          </div>
          <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"></div>
            <md-button md-raised class=" btn-file">
                <span class="fileinput-new"><i class="glyphicon glyphicon-open-file"></i> Upload from PC</span>
                <span class="fileinput-exists">Change</span>
                <input type="file" name="slip" data-ngf-select="upload($file)"></span>
            <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
          </md-button>
          <div class="controls" style="text-align:right">
       <md-button data-ng-click="submit()" class="md-raised md-primary">Next</md-button>
    </div>
  </div>
</div>
