<md-content  class="md-padding">
<form class="form-horizontal" action="" method="POST">
  <div layout="row" layout-sm="column">
    <div layout="column" >
      <!-- file input TODO : move to directive -->
      <div class="fileinput fileinput-new" data-provides="fileinput">
        <div class="fileinput-new" style="width: 250px; height: 250px;">
          <img ng-show="!loadingImage" src="{{formData.profilePicture.url || 'http://orig03.deviantart.net/561f/f/2014/315/9/c/rabbit_doubt_mask_avatar_for_facebook_by_facebookavatars-d8622bz.png'}}" height="250" width="250">
          <div layout="row" layout-sm="column" ng-show="loadingImage" layout-align="space-around" style="padding-top: 100px">
            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
          </div>
        </div>
        <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"></div>
        <md-button md-raised class=" btn-file">
        <span class="fileinput-new"><i class="glyphicon glyphicon-open-file"></i> Upload from PC</span>
        <span class="fileinput-exists">Change</span>
        <input type="file" name="slip" data-ngf-select="upload($file)"></span>
        <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
        </md-button>
      </div>
      <!-- file input -->
    </div>
    <div layout="column" style="margin-left: 15px" flex>
      <md-input-container>
      <label>Name</label>
      <input type="text" ng-model="formData.name" required>
      </md-input-container>
      <md-input-container>
      <label>E-mail</label>
      <input type="text" ng-model="formData.email" required>
      </md-input-container>
      <md-input-container>
      <label>Contact Number</label>
      <input type="text" ng-model="formData.contactNumber" required>
      </md-input-container>
      <div class="controls">
        <button ng-disabled="linkedWith('facebook')" ng-click="linkWith('facebook')" class="btn btn-primary btn-sm btn-default">
        <i class="fa fa-facebook" aria-hidden="true"></i> Facebook</button>
        <button ng-disabled="linkedWith('instagram')" ng-click="linkWith('instagram')" class="btn btn-sm btn-default">
        <i class="fa fa-instagram" aria-hidden="true"></i> Instagram </button>
        <button ng-disabled="linkedWith('google')" ng-click="linkWith('google')" class="btn btn-sm btn-danger">
        <i class="fa fa-youtube" aria-hidden="true"></i> YouTube
        </button>
        <hr/>
      </div>




      <div flex>
        <form name="userForm" layout="column" >
          <md-input-container class="md-block">
          <label>About Yourself</label>
          <textarea ng-model="formData.about" md-maxlength="150" rows="1"></textarea>
          </md-input-container>

          <div layout="column" style="margin-left: 15px" flex>
             <label>Wot you rykeee</label> (Pick up to 3)
             <div layout="row" layout-wrap flex class="md-padding">
                      <div flex="25" ng-repeat="item in topics">
                        <md-checkbox class="md-primary" ng-disabled="topicDisabled(item, formData.selectedTopics)"
                        ng-checked="topicExists(item, formData.selectedTopics)"
                        ng-click="topicToggle(item, formData.selectedTopics)">
                          {{ item.name }}
                        </md-checkbox>
                      </div>
              </div>
          </div>

          <md-input-container class="md-block">
          <label>Bank Account Number</label>
          <input ng-model="formData.bankAccount" />
          </md-input-container>
        </form>
      </div>
      <md-checkbox ng-model="agreeTerm">
      I agree with term and condition.
      </md-checkbox>
    </div>
  </div>
</form>
</md-content>
<md-content layout="row" class="md-padding" layout-sm="column" layout-wrap>
<div flex></div>
<md-button class="md-raised md-primary">Save</md-button>
</md-content>
