<md-card-content class="md-padding" layout-paddin>
<div class="controls">
  <label class="control-label">Connect with</label><br/>
  <button ng-disabled="linkedWith('facebook')" ng-click="linkWith('facebook')" class="btn btn-primary btn-sm btn-default">
  <i class="fa fa-facebook" aria-hidden="true"></i> Facebook</button>
  <button ng-disabled="linkedWith('instagram')" ng-click="linkWith('instagram')" class="btn btn-sm btn-default">
  <i class="fa fa-instagram" aria-hidden="true"></i> Instagram </button>
  <button ng-disabled="linkedWith('google')" ng-click="linkWith('google')" class="btn btn-sm btn-danger">
  <i class="fa fa-youtube" aria-hidden="true"></i> YouTube
  </button>
</div>
<hr/>
<div>
  <form name="userForm">
    <div layout-gt-lg="row">
      <md-input-container class="md-block">
      <label>About Yourself</label>
      <textarea ng-model="formData.about" md-maxlength="150" rows="1"></textarea>
      </md-input-container>
    </div>
    <div layout-gt-lg="row">
      <md-input-container class="md-block">
      <label>Bank</label>
      <md-select ng-model="size">
      <md-option >Bangkok Bank</md-option>
      <md-option >Bank of Ayudhya</md-option>
      <md-option >Siam Commercial Bank</md-option>
      <md-option >Kasikorn Bank</md-option>
      </md-select>
      </md-input-container>
    </div>
    <br/>
    <div layout-gt-lg="row">
      <md-input-container class="md-block">
      <label>Bank Account Number</label>
      <input ng-model="formData.bankAccount" />
      </md-input-container>
    </div>
  </form>
</div>
<div style="text-align: right">
  <md-button data-ng-click="back()" class="md-raised">Back</md-button>
  <md-button data-ng-click="submit()" class="md-raised md-primary">Sign Up</md-button>
</div>
</md-card-content>
