<div class="container">
      <div class="jumbotron">
        <h1> <i class="fa fa-pied-piper"></i> </h1>
        <h2>ReachRabbit <small>Brands</small></h2>
        <p class="lead"><h4>
          Hire influencers to be your bitch. </h4>
          <a href="/#/influencer">I'm an influencer in need of quick dirty money.</a>
        </p>
        <p>
          <a class="btn btn-lg btn-primary" role="button" ng-click="signup()">Sign Up Today</a> 
          <a class="btn btn-lg btn-default" role="button" href="/brand#/signin">Sign In</a> 
        </p>
      </div>
</div>
<p><br/></p>