<md-progress-linear ng-if="loadingTop" class="md-warn"  md-mode="indeterminate" style="position:absolute; top:0; width:100%; left:0"></md-progress-linear>
<div class="cover-container">
    <div class="site-wrapper" >
      <div class="site-wrapper-inner">
          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">
                <img src="/static/logo.png" style="width:50%"/>
              </h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li class="active"><a href="#/influencer">For Influencers</a></li>
                  <li><a href="#/brand">For Brands</a></li>
                </ul>
              </nav>
            </div>

            <div class="inner cover">
              <h1 class="cover-heading">ネットアイドルの方</h1>
              <p class="lead">Post. Earn money. Change the world.</p>
              <br/>
              <p class="lead">
                <a class="btn btn-md btn-primary" role="button" data-ng-click="loginWithFB()">
                <i class="fa fa-facebook"></i>
                <strong>สมัครด้วย Facebook</strong></a>
                <a class="btn btn-md btn-danger" role="button" data-ng-click="loginWithYT()"><strong>
                <i class="fa fa-youtube"></i>
                สมัครด้วย YouTube</strong></a>
                <a class="btn btn-md btn-default" role="button" data-ng-click="loginWithIG()">
                <i class="fa fa-instagram"></i>
                <strong>สมัครด้วย IG</strong></a>
              </p>
            </div>



          </div>



          <div class="mastfoot">
            <div class="inner">
              <p>&copy; <a href="http://ahancer.com">Ahancer Corporation of America</a>. All Rights Reserved.</a>.</p>
            </div>
          </div>

        </div>

      </div>

    </div>
