<div class="container darkg">
        
      <div class="jumbotron">
        <h1><i class="fa fa-pied-piper"></i> </h1>
        <h2>ReachRabbit <small>Influencers</small></h2>
          <p class="lead"><h4>Earn quick underground cash.</h4>
      <a href="/#/brand">I'm a brand, looking for influencers.</a>
    </p>
        <p>
          <social-linker on-already-logged-in="onAlreadyLoggedIn" on-success="socialSelectionDone" ng-model="socialAcc"></social-linker>
        </p>
      </div>
</div>
<p>
<br/>
</p>