<div class="container">

      <div class="alert alert-warning" role="alert">After Milestone 1, we will move from Window 95 to Material Design.</div>

      <div class="jumbotron">
        <h2>For Brands</h2>
        <p class="lead">
          Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet.
          <a href="/#/influencer">I'm an influencer.</a>
        </p>
        <p>
          <a class="btn btn-lg btn-default" role="button" ng-click="signup()">Sign Up Today</a> or
          <a class="signin" href="/brand#/signin">Sign-in</a>
        </p>
      </div>

</div>
