<form class="form-horizontal">
  <fieldset>
    <div id="legend">
      <legend class="">Brand sign up</legend>
    </div>
    <image-thumb width="250" height="250" ng-model="formData.profilePicture"></image-thumb>
    <div class="control-group">
      <label class="control-label" for="brandname">Brand Name</label>
      <div class="controls">
        <input type="text" id="brandname" name="brandname" placeholder="" ng-model="formData.brand.brandName" class="form-control">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="username">Name</label>
      <div class="controls">
        <input type="text" id="username" name="username" placeholder="" ng-model="formData.name" class="form-control">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="contactnumber">Contact Number</label>
      <div class="controls">
        <input type="text" id="contactnumber" name="contactnumber" ng-model="formData.contactNumber" placeholder="" class="form-control">
      </div>
    </div>

    <br>
    <div class="control-group">
      <label class="control-label" for="email">E-mail</label>
      <div class="controls">
        <input type="email" id="email" name="email" placeholder="" ng-model="formData.email" class="form-control">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="email">Confirm E-mail</label>
      <div class="controls">
        <input type="email" id="emailconfirm" name="emailconfirm" placeholder="" class="form-control">
      </div>
    </div>

    <br>
    <div class="control-group">
      <label class="control-label" for="password">Password</label>
      <div class="controls">
        <input type="password" id="password" name="password" ng-model="formData.password" placeholder="" class="form-control">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="password_confirm">Password (Confirm)</label>
      <div class="controls">
        <input type="password" id="password_confirm" name="password_confirm" placeholder="" class="form-control">
      </div>
    </div>
    <br>
     <button ng-click="submit()" class="btn btn-success">Sign Up</button>
  </fieldset>
</form>
