<div id="legend">
  <legend class="">Influencer sign up detail</legend>
</div>
<social-linker ng-model="formData.influencer.socialAccounts" on-success="linkSuccess" on-fail="linkFail"></social-linker>
<div class="control-group">
  <label class="control-label" for="email">Your Website</label>
  <div class="controls">
    <input  type="text" placeholder="" class="form-control" ng-model="formData.influencer.web">
  </div>
</div>
<div class="control-group">
  <label class="control-label" for="aboutyourself">About Yourself</label>
  <div class="controls">
    <textarea type="text" id="aboutyourself" ng-model="formData.influencer.about" name="username" placeholder="" class="form-control" rows="3"></textarea>
  </div>
</div>
<div class="control-group">
  <label class="control-label" for="bankname">Gender</label>
  <select class="form-control" id="bankname" ng-model="formData.influencer.gender">
    <option>- Select Gender -</option>
    <option>Male</option>
    <option>Female</option>
    <option>Not Specified</option>
  </select>
</div>
<br>
<fs-interests-selector ng-model="formData.influencer.interests"></fs-interests-selector>
<br>
<fs-bank-selector ng-model="formData.bank"></fs-bank-selector>
<div class="control-group">
  <label class="control-label" for="banknumber">Bank Account Number</label>
  <div class="controls">
    <input type="text" placeholder="" ng-model="formData.influencer.bankAccount" class="form-control">
  </div>
</div>

<br>
<button data-ng-click="back()" class="btn btn-default">Back</button>
<button data-ng-click="submit()" class="btn btn-default">Sign Up</button>
