  <fieldset>
    <div id="legend">
      <legend class="">Influencer Sign Up</legend>
    </div>

    <image-thumb width="250" height="250" ng-model="formData.profilePicture"></image-thumb>

    <div class="control-group">
      <label class="control-label" for="username">Name</label>
      <div class="controls">
        <input type="text" id="username" name="username" ng-model="formData.name" placeholder="" class="form-control">
      </div>
    </div>

    <br>
    <div class="control-group">
      <label class="control-label" for="email">E-mail</label>
      <div class="controls">
        <input type="email" id="email" name="email" ng-model="formData.email" placeholder="" class="form-control">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="email">Confirm E-mail</label>
      <div class="controls">
        <input type="email" id="emailconfirm" name="emailconfirm" placeholder="" class="form-control">
      </div>
    </div>

    <br>
    <div class="control-group">
      <label class="control-label" for="contactnumber">Contact Number</label>
      <div class="controls">
        <input type="text" id="contactnumber" name="contactnumber" ng-model="formData.contactNumber" placeholder="" class="form-control">
      </div>
    </div>

    <br>
  </fieldset>

  <div class="controls">
    <div class="checkbox">
      <label><input type="checkbox" value="">I agree with the not-so-evil <a href="#">term and conditions</a></label>
    </div>
  </div>
  <br/>
  <div class="controls">
      <button class="btn btn-primary" data-ng-click="next()" >Next</button>
  </div>

