.DS_Store
test-report.json
node_modules
#bower_components
*.log
*.log.*
# vim tmp files
*.swp
*.un~

app/dist
test/browser/test.js

# env file
.env

# coverage test
coverage

public/assets
tmp

# eclipse project file
.project
.vscode
