<div class="fileinput fileinput-new" data-provides="fileinput">
    <div class="fileinput-new" style="width: {{width}}px; height:{{height}}px; text-align:center">
        <img ng-show="!loadingImage" src="{{ accessor(model) }}"
            height="{{height}}" width="{{width}}">
        <div layout="row" layout-sm="column" ng-show="loadingImage" layout-align="space-around" style="padding-top: 100px;">
           Please Wait..
        </div>
    </div>
    <br/>
    <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"></div>
    <label class="btn btn-default btn-md btn-file">
        <span class="fileinput-new"><i class="fa fa-folder-open"></i> Choose Image..</span>
        <span class="fileinput-exists">Change</span>
        <input type="file" name="slip" data-ngf-select="upload($file)"></span>
        <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
    </label>
</div>
