 <div class="panel panel-default" ng-repeat="card in model">

  <div class="media" >
    <div class="media-left">
      <img class="media-object" src="images/campaign-pokeland.jpg"  >
    </div>
    <div class="media-body">
      <a href="influencer-campaign-detail-open.html">
        <h4 class="media-heading">{{ card.title }} <i class="fa fa-{{card.media.mediaId}}"></i>
        <span class="pull-right">Campaign Status: {{ card.status }}</span></h4>
      </a>
      <div class="media-item">
        <h5>Reward</h5>
        <h4>No reward</h4>
      </div>
    </div>
  </div>
</div>
