 <div class="panel panel-default" ng-repeat="card in model">

  <div class="media" >
    <div class="media-left">
      <img class="media-object" src="images/campaign-pokeland.jpg"  >
    </div>
    <div class="media-body">
      <a href="influencer-campaign-detail-open.html">
        <h4 class="media-heading">Pokeland Summer Campaign <i class="fa fa-instagram"></i><span class="pull-right">Campaign Status: Open</span></h4>
      </a>
      <div class="media-item">
        <h5>Reward:</h5>
        <h4>500-1,5000</h4>
      </div>
      <div class="media-item">
        <h5>Deadline:</h5>
        <h4>16/06/2016 (30 Days left)</h4>
      </div>
      <div class="media-item">
        <h5>Category:</h5>
        <h4>Gaming</h4>
      </div>
    </div>
  </div>
</div>
