<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Choose Facebook Page you want to associate</h3>
  </div>
  <div class="panel-body" ng-if="pages.length == 0">
    You have no page to associate.
  </div>
  <div class="panel-body" ng-if="pages.length > 0">
    <div class="media" ng-repeat="item in pages" ng-click="choose(item)">
      <div class="media-left">
          <img width="100" ng-src="{{item.picture.url}}" class="media-object" alt="Profile Picture" />
      </div>
      <div class="media-body">
        <h4 class="media-heading">{{item.name}}</h4>
        <p>{{item.fan_count}} dudes liked this page.</p>
      </div>
    </div>
  </div>
</div>