/* General */
body{
  color: @color-black;
}
h1{
  font-family: 'Kanit', sans-serif;
  font-weight: 300;
}
label{
  font-weight: normal;
}
a{
  color: @color-theme-primary;
  cursor: pointer;
}
a:hover{
  color: @color-theme-primary;
}
a:active, a:focus, a:visited{
  color: @color-theme-primary;
}

.info-text{
  &:extend(.small);
  color: @color-grey-darker;
}

/* Form & Input */
.form-control{
  border-radius: 0px;
  border-color: @color-grey;
  box-shadow: none;
}
.input-group-addon{
  border-radius: 0px;
  background-color: @color-grey-lighter;
  border-color:@color-grey;
  border-right: none;
  color: @color-grey-darker;
}
// input:-webkit-autofill {
//     -webkit-box-shadow: 0 0 0px 1000px white inset;
// }


/* Card */
.card{
  &:extend(.panel);
  border: 0px;
  box-shadow: @global-shadow;
}
.card-body{
  &:extend(.panel-body);
  padding: 30px;
}

.card-grey{
  &:extend(.card);
  background-color:@color-grey-lighter;
}


/* Button */
.btn{
  padding: 6px;
}
.btn-primary {
  &:extend(.btn);
  .button-variant(@color-white, @color-theme-primary, @color-btn-border);
}
.btn-clear {
  &:extend(.btn);
  .button-variant(@color-theme-primary, @color-clear, @color-clear);
}

/* Alert Box */
.alert{
  border-radius: 0px;
  border: 0px;
  padding: 0px;
  box-shadow: @global-shadow;
  color: @color-black;
  .close{
    margin-top: 20px;
    margin-right: 15px;
  }
  .alert-icon{
    display: inline-table;
  }
  .alert-text{
    display: inline-table;
    vertical-align: middle;
    margin-left: 15px;
  }
}
.alert-danger{
  background: @color-red-lighter;
  .alert-icon{
    background: @color-red;
  }
}


/* Nav */
.navbar {
  background: @color-black;
  border-radius: 0px;
  border: 0px;
  margin-bottom: 0px;
  .navbar-brand{
    padding-right: 20px;
    img{
      height: 20px;
    }
  }
  li > a{
    padding: 15px 0px;
    margin: 0px 20px;
    color: @color-white;
  }
  li > a:hover, li > a:focus{
    background-color: @color-black;
    color: @color-theme-primary;
  }
  li.active > a{
    padding-bottom: 12px;
    border-bottom: @color-theme-primary 3px solid;
  }
  .navbar-right{
    li > a{
      padding:10px 0px;
      margin: 0px;
      .caret{
        margin-left: 5px;
      }
    }
    .profile-picture{
      width: 30px;
      height: 30px;
      margin-right: 10px;
    }
  }
  .dropdown-menu{
    background-color: @color-grey-darker;
    border: 0px;
    border-radius: 0px;
    li > a{
      padding-left: 15px;
    }
  }
  .open > a, .open > a:hover, .open > a:focus{
    background: @color-black;
    border: 0px;
  }
}
