/* General */
body{
  color: @color-black;
}
h1{
  font-family: 'Kanit', sans-serif;
  font-weight: 300;
}
label{
  font-weight: normal;
}
.form-control{
  border-radius: 0px;
  border-color:@color-grey;
}

/* Card */
.card{
  &:extend(.panel);
  border: 0px;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.20);
}
.card:hover{
  box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.20);
}
.card-body{
  &:extend(.panel-body);
  padding: 30px;
}

.card-grey{
  &:extend(.card);
  background-color:@color-grey-ligther;
}


/* Button */
.btn{
  padding: 6px;
}
.btn-primary {
  &:extend(.btn);
  .button-variant(@color-white, @color-theme-primary, @color-btn-border);
}
.btn-clear {
  &:extend(.btn);
  .button-variant(@color-theme-primary, @color-clear, @color-clear);
}

/* Nav */
.navbar {
  background: @color-black;
  border-radius: 0px;
  border: 0px;
  margin-bottom: 0px;
  .navbar-brand{
    padding-right: 20px;
    img{
      height: 20px;
    }
  }
  li > a{
    padding: 15px 20px;
    color: @color-white;
  }
  li > a:hover, li > a:focus{
    background-color: @color-black;
    color: @color-theme-primary;
  }
  .navbar-right{
    li > a{
      padding:10px 15px;
    }
    .profile-picture{
      width: 30px;
      height: 30px;
      margin-right: 10px;
    }
  }
  .dropdown-menu{
    background-color: @color-grey-darker;
    border: 0px;
    border-radius: 0px;
  }
  .open > a, .open > a:hover, .open > a:focus{
    background: @color-black;
    border: 0px;
  }
}
