/* Layout */

.layout-login{
  background: url("../images/bg-layout-login.png") #019386;
  .view-login{
    .logo-brand{
      width: 344px;
      margin: auto;
      text-align: center;
      img{
        &:extend(.img-responsive);
      }
      h1{
        font-size: 24px;
        margin-top: 10px;
        margin-bottom: 20px;
        color: @color-white;
      }
    }
    .container{
      margin-top: 140px;
      max-width: 374px;
    }
    .btn-call-to-action{
      margin-top: 20px;
      margin-bottom: 5px;
    }
  }
}
