/*---Layout Portal---*/
.layout-portal{
  background: url("../images/bg-layout-login.png") @color-theme-secondary-darker;
  .container{
    max-width: 430px;
  }
  .info-text{
    text-align: center;
    margin-top: 5px;
  }
  /* Specific View in Layout Portal */
  .view-brand-login{
    margin-top: 140px;
  }
  .view-brand-signup{
    margin-top: 50px;
  }
  .view-influencer-portal{
    margin-top: 140px;
  }
  .view-signup-select-page{
    margin-top: 140px;
    h3{
      font-style: normal;
    }
  }
  .view-influencer-signup-confirmation{
    margin-top: 90px;
  }
}

/*---Layout Brand---*/
.layout-brand{
  background-color: @color-grey-lighter;
  .container{
    width: 970px;
  }
  /* Specific View in Layout Portal */
  .view-brand-profile{
    .input-upload-image{
      width: 127px;
      height: 127px;
      .fa-camera{
        margin-top: 38px;
      }
    }
  }
  .view-brand-campaign-list{
    .example-campaign{
      margin-top: 30px;
      h2{
        margin-bottom: 20px;
      }
    }
  }
}

/*---Layout Influencer---*/
.layout-influencer{
  background-color: @color-grey-lighter;
  .container{
    width: 970px;
  }
  .navbar {
    background: @color-grey-lighter;
    li > a{
      color: @color-black;
    }
    li > a:hover, li > a:focus{
      background-color: @color-grey-lighter;
      color: @color-theme-primary;
    }
    .dropdown-menu{
      background-color: @color-grey;
    }
    .open > a, .open > a:hover, .open > a:focus{
      background: @color-grey-lighter;
    }
  }
  /* Specific View in Layout Influencer */
  .view-influencer-campaign-list{
    .header-zone{
      height: 200px;
    }
    .body-zone{
      margin-top: 0px;
    }
  }
  .view-influencer-profile{
    .input-upload-image{
      width: 127px;
      height: 127px;
      .fa-camera{
        margin-top: 38px;
      }
    }
  }
}
