/* Desktop = Large devices (LG) + Medium devices (MD) + Small devices (SM)  */
@media only screen and (min-width: 768px) {
  /*---Global---*/
  .mobile-only{
    display: none !important;
  }

  .layout-brand,.layout-influencer{
    .container{
      width: @max-container-width;
    }
  }
}

/*---Mobile = Extra Small devices (XS)---*/
@media only screen and (max-width: 767px) {

  /*---Global---*/
  html,body{
    height: 100%;
  }
  .layout-brand,.layout-influencer{
    position: relative;
  }
  .desktop-only{
    display: none !important;
  }
  .mobile-only{
    display:inherit;
  }
  h1{
    font-size: 24px;
  }

  /*---Button---*/
  .btn-mobile-menu{
    .button-variant(@color-white, @color-black, @color-grey);
    width: 60px;
    text-align: center;
    background: none;
    padding: 3px;
    margin: 10px;
  }

  /*---Navigation Bar---*/
  .navbar{
    .step-mushroom{
      top: 5px;
      right: 8px;
    }
    .left-navbar,.right-navbar{
      float: left;
      width: 25%;
    }
    .center-navbar{
      float: left;
      width: 50%;
      .logo{
        height: 20px;
        margin: 15px auto;
      }
    }
  }
  .mobile-menu{
    position:absolute;
    overflow-y: scroll;
    font-family: @font-primary;
    font-size: 16px;
    color: @color-white;
    top:0px;
    left:0px;
    z-index: 999;
    background: @color-black;
    height: 100%;
    box-shadow: @global-shadow-depth-3;
    /*-webkit-animation:slideIn 0.5s ease forwards;
    animation:slideIn 0.5s ease forwards;*/
    .logo{
      height: 20px;
      margin: 15px;
    }
    .menu-section{
      background: @color-grey-darker;
      padding: 3px 15px;
    }
    .menu-item{
      list-style: none;
      -webkit-padding-start: 0px;
      margin: 0px;
      li{
        border-bottom: 1px solid @color-grey-darker;
        position: relative;
        .number-circle{
          font-size: 14px;
          font-family: @font-secondary;
          text-align: center;
          width: 20px;
          margin:14px 15px;
        }
        .fa{
          width: 20px;
          height: 20px;
          margin:16px 15px 14px 15px;
          text-align: center;
        }
        .menu-text{
          position: relative;
          .step-mushroom{
            top: 0px;
            right: -10px;
          }
        }
        &.active{
          color: @color-theme-primary;
        }
      }
      li:after{
        position: absolute;
        opacity: 0.6;
        content: '';
        background: url("../images/icon-mobile-menu-arrow.png") 0 0 no-repeat;
        display: block;
        height: 40px;
        width: 40px;
        top:4px;
        right:0px;
      }
    }
  }
  .backdrop{
    position:fixed;
    top:0px;
    left:0px;
    z-index: 998;
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.8);
  }

  /*---Alert Box---*/
  .alert{
    height: 36px;
    .close{
      margin-top: 6px;
      margin-right: 5px;
    }
    .alert-icon{
      display: none;
    }
    .alert-text{
      display: inline-block;
      float: left;
      margin-top: 8px;
      margin-left: 8px;
    }
  }

  /*---Zone---*/
  .zone-alert{
    &:extend(.container);
    width:inherit;
    .alert{
      transform: translateY(20px);
    }
  }
  .zone-header{
    .action-btn-for-header{
      display: none;
    }
    .page-header{
      margin-top: 20px;
      margin-bottom: 10px;
    }
    .back-btn-for-header{
      margin-top: 0px;
    }
  }

  /*---Card---*/
  .card-body{
    .card-body-content-label{
      text-align: left;
      margin-bottom: 5px;
    }
    .card-row{
      margin-bottom: 15px;
    }
    .card-info{
      .card-info-label{
        margin-top: 20px;
      }
    }
    .card-info:first-child{
      .card-info-label{
        margin-top: 0px;
      }
    }
  }

  /*---Specific Card---*/
  .card-campaign-list-item{
    .card-title{
      .make-xs-column(12);
      margin: 15px 0px 15px 0px;
      text-align: center;
      .card-title-content{
        border-bottom: 0px;
        a{
          color: @color-black;
        }
      }
    }
    .card-image{
      .make-xs-column(12);
      height: auto;
    }
    .card-button{
      .make-xs-column(12);
      margin-top: 0px;
    }
    .card-button.status-draft{
      margin-top: 0px;
    }
  }

  .card-campaign-description{

  }

  /*---Floating Bart---*/
  .floating-bar{
    z-index: 800;
    padding: 7.5px 15px;
  }
  .btn-with-margin{
    margin: 0px;
  }
  .btn-max-width-mobile{
    width: 100%;
  }

  /*---Modal---*/
  .modal-dialog.modal-sm{
    width: auto;
  }
  .modal-help-open{
    .modal-dialog{
      margin: 40px 30px;
      .modal-content{
        background: none;
        box-shadow: none;
        border: 0px;
      }
    }
  }

  /*---Contact Us---*/
  .contact-us{
    z-index: 1000;
    position:relative;
    margin: auto;
    width: 230px;
    border-radius: 5px;
    padding: 10px 30px 5px 30px;
    right: auto;
    bottom: auto;
    .close{
      position: absolute;
      right: 10px;
      top: 5px;
      opacity: 0.3;
    }
    &:hover{
      bottom: auto;
      box-shadow: @global-shadow-depth-1;
    }
  }


  /*---Table---*/
  .table{
    .col-bank-name{
      img{
        margin-bottom: 5px;
      }
    }
  }

  /*---Layout Portal---*/
  .layout-portal{
    .container{
      max-width: 370px;
    }
    .card-portal{
      .card-body{
        padding: 15px;
      }
      .logo{
        width: 230px;
        margin-top: 5px;
        h3{
          margin-top: 5px;
          margin-bottom: 10px;
        }
      }
    }
    .view-brand-login{
      margin-top: 30px;
    }
    .view-brand-signup{
      margin-top: 15px;
    }
  }

  /*---Layout Brand---*/
  .layout-brand{
    .view-brand-campaign-list{
      .page-header{
        margin-top: 10px;
        margin-bottom: 5px;
      }
      .empty-state{
        text-align: center;
        height: auto;
        padding: 50px 30px;
        line-height: 24px;
        img{
          transform: translateY(0px);
          margin: auto;
          margin-bottom: 5px;
        }
        .btn{
          margin-top: 20px;
        }
      }
      .example-campaign{
        margin-top: 30px;
        .page-header{
          margin-bottom: 5px;
        }
      }
    }
  }

  .col-info-label{
    font-size: 12px;
    color: @color-grey-darker;
  }

  /*--- PoomWWW Speacial Code ---*/
  .input-dropdown .form-control.filter {
    width: 100% !important;
    margin-bottom: 20px;
    font-size: 16px;
  }

  .list {
    .list-item {
      width: 100%;
      border-bottom: 2px solid @color-grey;
      padding: 10px 16px;
    }
    .list-item-info {
      vertical-align: middle;
      margin-top:5px;
      .profile-name {
        font-size: 15px;
        vertical-align: top;
      }
      .profile-price {
        color: @color-grey-darker;
        display: block;
      }
    }
    .list-item-btn {
      button {
        float: right;
        margin-top:10px;
        font-size: 16px;
        padding-left:12px;
        padding-right:12px;
      }
    }
    .profile-picture {
      border-radius: 50%;
      width: 56px;
    }
  }
  .card-body.mobile-only {
    padding: 0 !important;
  }
  .empty-state {
    padding-top: 30px;
    padding-bottom: 20px;
    padding: 30px 5px 20px;
  }
  .empty-state-message {
    padding-top: 3px;
  }
}
/*--End of Extra Small devices (XS)--*/
