/* Desktop = Large devices (LG) + Medium devices (MD) + Small devices (SM)  */
@media only screen and (min-width: 768px) {
  /*---Global---*/
  .mobile-only{
    display: none !important;
  }
  .layout-brand,.layout-influencer{
    .container{
      width: @max-container-width;
    }
  }
}

/*---Mobile = Extra Small devices (XS)---*/
@media only screen and (max-width: 767px) {

  /*---Global---*/
  html,body{
    height: 100%;
  }
  .layout-brand,.layout-influencer{
    position: relative;
  }
  .desktop-only{
    display: none !important;
  }
  .mobile-only{
    display:inherit;
  }
  h1{
    font-size: 24px;
  }

  /*---Button---*/
  .btn-mobile-menu{
    .button-variant(@color-white, @color-black, @color-grey);
    width: 60px;
    text-align: center;
    background: none;
    padding: 3px;
    margin: 10px;
  }

  /*---Navigation Bar---*/
  .navbar{
    .step-mushroom{
      top: 5px;
      right: 8px;
    }
    .left-navbar,.right-navbar{
      float: left;
      width: 25%;
    }
    .center-navbar{
      float: left;
      width: 50%;
      .logo{
        height: 20px;
        margin: 15px auto;
      }
    }
  }
  .mobile-menu{
    position:fixed;
    font-family: @font-primary;
    font-size: 16px;
    color: @color-white;
    top:0px;
    left:0px;
    z-index: 999;
    background: @color-black;
    height: 100%;
    box-shadow: @global-shadow-depth-3;
    -webkit-animation:slideIn 0.5s ease forwards;
    animation:slideIn 0.5s ease forwards;
    .logo{
      height: 20px;
      margin: 15px;
    }
    .menu-section{
      background: @color-grey-darker;
      padding: 3px 15px;
    }
    .menu-item{
      list-style: none;
      -webkit-padding-start: 0px;
      margin: 0px;
      li{
        border-bottom: 1px solid @color-grey-darker;
        position: relative;
        .number-circle{
          font-size: 14px;
          font-family: @font-secondary;
          text-align: center;
          width: 20px;
          margin:14px 15px;
        }
        .fa{
          width: 20px;
          height: 20px;
          margin:16px 15px 14px 15px;
          text-align: center;
        }
        .menu-text{
          position: relative;
          .step-mushroom{
            top: 0px;
            right: -10px;
          }
        }
        &.active{
          color: @color-theme-primary;
        }
      }
      li:after{
        position: absolute;
        opacity: 0.6;
        content: '';
        background: url("../images/icon-mobile-menu-arrow.png") 0 0 no-repeat;
        display: block;
        height: 40px;
        width: 40px;
        top:4px;
        right:0px;
      }
    }
  }
  .backdrop{
    position:fixed;
    top:0px;
    left:0px;
    z-index: 998;
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.8);
  }

  /*---Alert Box---*/
  .alert{
    height: 36px;
    .close{
      margin-top: 6px;
      margin-right: 5px;
    }
    .alert-icon{
      display: none;
    }
    .alert-text{
      display: inline-block;
      float: left;
      margin-top: 8px;
      margin-left: 8px;
    }
  }

  /*---Zone---*/
  .zone-alert{
    &:extend(.container);
    width:inherit;
  }
  .zone-header{
    .action-btn-for-header{
      display: none;
    }
  }

  /*---Card---*/
  .card-body{
    .card-body-content-label{
      text-align: left;
    }
  }


  /*---Specific Card---*/
  .card-campaign-list-item{
    .card-title{
      .make-xs-column(12);
      margin: 15px 0px 15px 0px;
      text-align: center;
      .card-title-content{
        border-bottom: 0px;
        a{
          color: @color-black;
        }
      }
    }
    .card-image{
      .make-xs-column(12);
      height: auto;
    }
    .card-button{
      .make-xs-column(12);
      margin-top: 0px;
    }
    .card-button.status-draft{
      margin-top: 0px;
    }
  }

  .card-campaign-description{

  }

  /*---Floating Bart---*/
  .floating-bar{
    z-index: 800;
    padding: 7.5px 15px;
  }
  .btn-width-lg{

  }


  /*---Contact Us---*/
  .contact-us{
    z-index: 1000;
    position: fixed;
    width: 230px;
    border-radius: 5px !important;
    padding: 5px 30px;
    top: 30px;
    bottom: auto;
    left: 50%;
    margin-left: -115px;
  }


  /*---Layout Portal---*/
  .layout-portal{
    .container{
      max-width: 370px;
    }
    .card-portal{
      .card-body{
        padding: 15px;
      }
      .logo{
        width: 230px;
        margin-top: 5px;
        h3{
          margin-top: 5px;
          margin-bottom: 10px;
        }
      }
    }
    .view-brand-login{
      margin-top: 30px;
    }
    .view-brand-signup{
      margin-top: 15px;
    }
  }

  /*---Layout Brand---*/
  .layout-brand{
    .view-brand-campaign-list{
      .page-header{
        margin-top: 20px;
        margin-bottom: 5px;
      }
      .empty-state{
        text-align: center;
        height: auto;
        padding: 50px 30px;
        line-height: 24px;
        img{
          transform: translateY(0px);
          margin: auto;
          margin-bottom: 5px;
        }
        .btn{
          margin-top: 20px;
        }
      }
      .example-campaign{
        margin-top: 30px;
        .page-header{
          margin-bottom: 5px;
        }
      }
    }
  }

  .col-info-label{
    font-size: 12px;
    color: @color-grey-darker;
  }

}
/*--End of Extra Small devices (XS)--*/
