@color-theme-primary: #FF773E;
@color-theme-secondary: #16BBAC;
@color-theme-secondary-darker: #019386;

@color-black: #3E4A5E;
@color-grey-darker: #8692A8;
@color-grey: #D8DFE7;
@color-grey-lighter: #F9F9FB;
@color-white: #FFFFFF;

@color-facebook: #3B5998;
@color-youtube: #E62117;
@color-instagram: #DF3D79;

@color-btn-border: rgba(0, 0, 0, 0.1);
@color-clear: rgba(255, 255, 255, 0.0);
