/*---Layout Portal---*/
.layout-portal{
  background: url("../images/bg-layout-login.png") @color-theme-secondary-darker;
  .container{
    max-width: 430px;
  }
  .info-text{
    text-align: center;
    margin-top: 5px;
  }
  /* Specific View in Layout Portal */
  .view-brand-login{
    margin-top: 140px;
  }
  .view-brand-signup{
    margin-top: 60px;
    .info-text{
      a{
        color: @color-grey-darker;
        text-decoration: underline;
      }
    }
  }
  .view-influencer-portal{
    margin-top: 140px;
  }
  .view-influencer-signup-select-page{
    margin-top: 90px;
    h3{
      font-style: normal;
      margin-bottom: 10px;
    }
    .card-body{
      padding-bottom: 0px;
    }
    button{
      &:extend(.btn-width-lg);
    }
  }
  .view-influencer-signup-confirmation{
    margin-top: 90px;
    .info-text{
      a{
        color: @color-grey-darker;
        text-decoration: underline;
      }
    }
  }
  .view-admin-login{
    margin-top: 140px;
  }
}

/*---Layout Brand---*/
.layout-brand{
  background-color: @color-grey-lighter;
  .container{
    width: @max-container-width;
  }
  /* Specific View in Layout Brand */

  .view-brand-campaign-list{
    .page-header{
      h1{
        &:extend(h2);
      }
      .form-group, .btn{
        transform: translateY(-5px);
      }
    }
    .empty-state{
      border: 1px dashed @color-grey;
      &:extend(h3);
      color: @color-grey-darker;
    }
    .example-campaign{
      margin-top: 45px;
      .page-header{
        margin-bottom: 10px;
      }
    }
  }
  .view-brand-campaign-detail-example{
    .card-close{
      display: none;
    }
  }

  .view-brand-campaign-detail-published{
    .card-profile{
      a.link-to-profile{
        margin-top: -60px;
      }
    }
  }
  .view-brand-profile{
    .input-upload-image{
      width: 127px;
      height: 127px;
      .fa-camera{
        margin-top: 38px;
      }
    }
  }

}

/*---Layout Influencer---*/
.layout-influencer{
  background-color: @color-grey-lighter;
  .container{
    width: @max-container-width;
  }

  // .navbar {
  //   background: @color-grey-lighter;
  //   li > a{
  //     color: @color-black;
  //   }
  //   li > a:hover, li > a:focus{
  //     background-color: @color-grey-lighter;
  //     color: @color-theme-primary;
  //   }
  //   .dropdown-menu{
  //     background-color: @color-grey;
  //   }
  //   .open > a, .open > a:hover, .open > a:focus{
  //     background: @color-grey-lighter;
  //   }
  // }
  /* Specific View in Layout Influencer */
  .view-influencer-campaign-list{
    // .zone-header{
    //   height: 200px;
    // }
    // .zone-body{
    //   margin-top: 0px;
    // }
    .card-thumbnail{
      margin-bottom: 30px;
      .flag .status{
        left: 5px;
        top: 15px;
        padding-left: 12px;
        width: 110px;
      }
      .card-body{
        height: 93px;
      }
    }
  }
  .view-influencer-profile{
    padding-bottom: 80px;
    .input-upload-image{
      width: 127px;
      height: 127px;
      .fa-camera{
        margin-top: 38px;
      }
    }
    .btn-secondary-active[disabled]{
      opacity: 1;
    }
  }
}

/*---Layout Admin---*/
.layout-admin{
  background-color: @color-grey-lighter;
  .container{
    width: @max-container-width;
  }
  /* Specific View in Layout Portal */

}
