@import "mixins/_gradient.scss";

body{
  padding-top: 30px;
  @include gradient-directional(#20155a, #1d94ba, 45deg);
}

a, a:hover, a:focus {
  color: #fff;
}

.btn-america{
    @include gradient-directional(#30ba6e, #46954f, 45deg);
}

.btn-japan{
    @include gradient-directional(#ec7e40, #ec611d, 45deg);
}
.panel{
  border-radius: 0px!important;
}
.clear{
  clear: both;
}
.page-header button{
  margin-top: 20px;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}


.form-signin {
  .has-feedback label~.form-control-feedback {
      top: 28px;
  }
}

.layout-footer {
  width: 100%;
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
  padding-top: 30px;

  .inner {
    text-align: center;
  }
}

