<div class="select-proposal-modal">
    <div class="card-body">
        <h3 class="modal-title">ยืนยันการอนุมัติงาน</h3>
        <p class="pre color-grey">1. คุณได้ตรวจสอบงานเรียบร้อยแล้ว
2. งานเป็นไปตามสิ่งที่ตกลงกันไว้ในข้อเสนอ
3. คุณได้รับหลักฐานการโพสแล้ว

หลังจากคุณกดยืนยัน Influencer จะได้รับค่าตอบแทน
ใน 3 วันทำการ</p>
        <div class="text-center">
              <button class="btn-secondary btn-width-md btn-with-margin" ng-click="$dismiss()">ยกเลิก</button>
              <button class="btn-primary btn-width-md btn-with-margin" ng-click="yes()">ยืนยัน</button>
        </div>
    </div>
</div>
