<div class="modal-content">
      <div class="modal-body">
        <img src="images/hello-rabbit.png" class="hello-rabbit" />
        <h3>ยินดีด้วย! คุณได้เปิดรับข้อเสนอแล้ว</h3>
        <p>
          เราจะแจ้งเตือนคุณได้รับข้อเสนอจาก Influencer ที่<br>
          <span class="color-green">{{ email }}</span> หรือ เช็คได้ที่ <span class="color-green">Inbox</span> ของเรา
        </p>
        <button type="button" class="btn-secondary btn-width-lg" ng-click="dismiss()">ดูรายละเอียด Campaign</button>
        <div class="checkbox">
          <label><input type="checkbox" value="" ng-model="notify">ไม่ต้องแสดงอีก</label>
        </div>
      </div>
    </div>