<div class="select-proposal-modal">
    <div class="modal-header">
        <h4 class="modal-title">ยืนยันการเลือกข้อเสนอ</h4>
    </div>
    <div class="card-body">
        <div class="card-row-basic">
            Influencer จะเริ่มทำงานหลังคุณได้ยืนยันข้อเสนอ
        </div>

        <div class="card-row-basic text-center">
            <div class="button-bar">
                <button class="btn-secondary btn-width-lg" ng-click="$dismiss()">ยกเลิก</button>
                <button class="btn-primary btn-width-lg" ng-click="yes()">ยืนยัน</button>
            </div>
        </div>

    </div>



</div>
