<div class="card-proposal-detail">

  <uib-tabset type="pills">
    <uib-tab>
      <uib-tab-heading>
        สิ่งที่ต้องทำ
      </uib-tab-heading>
      <div class="card-body tab-how-to">
        <ng-transclude></ng-transclude>
      </div>
    </uib-tab>
    <uib-tab>
      <uib-tab-heading>
        ดูข้อเสนอ
      </uib-tab-heading>
      <div class="card-body tab-proposal-detail">
        <div class="card-info-label">
            ราคาที่เสนอ
        </div>
        <div class="card-info-content card-price">
            {{ proposal.price | number: 0 }} บาท
        </div>
        <div class="card-info-label">
            ช่องทางที่จะโปรโมทให้
        </div>
        <div class="card-info-content" ng-repeat="imedia in intersectMedia(proposal.media, proposal.influencer.influencerMedias)">
            <div class="social-info">
                <span class="icon-{{imedia.mediaId}}"></span>
                <span ng-if="!checkFacebookPrivate(imedia)">{{ imedia.followerCount | number }} คน</span>
                <span ng-if="checkFacebookPrivate(imedia)">บัญชีส่วนตัว</span>
            </div>
        </div>
        <div class="card-info-label" ng-if="proposal.status == 'Selection'">
            จะส่งงานภายใน
        </div>
        <div class="card-info-content" ng-if="proposal.status == 'Selection'">
            {{ proposal.completionTime.completionTime }}
        </div>
        <div class="card-info-label" ng-if="proposal.status == 'Working'">
          วันกำหนดส่งงาน
        </div>
        <div class="card-info-content" ng-if="proposal.status == 'Working'">
            {{ proposal.dueDate | date }}
        </div>
        <div class="card-info-label" ng-if="proposal.status == 'Complete'">
            วันที่เสร็จงาน
        </div>
        <div class="card-info-content" ng-if="proposal.status == 'Complete'">
            {{ proposal.completeDate | date }}
        </div>
        <ng-transclude></ng-transclude>
      </div>
    </uib-tab>
  </uib-tabset>

</div>
