<div class="card-profile">
  <div class="card-body">
    <div class="card-image desktop-only">
      <img ng-src="{{ profile.user.profilePicture.url || 'images/placeholder-profile-picture.png' }}" class="img-responsive"/>
    </div>
    <div class="card-title">
      <ng-transclude></ng-transclude>
      <div class="card-title-content">
        เกี่ยวกับ {{ profile.brandName }}
      </div>
    </div>
    <div class="card-image-mobile desktop-mobile">
      <img ng-src="{{ profile.user.profilePicture.url || 'images/placeholder-profile-picture.png' }}" class="img-responsive"/>
    </div>
    <div class="col-sm-10">
      <div class="static-textarea pre">{{ profile.about || "ยังไม่มีข้อมูล" }}</div>
      <a ng-href="{{profile.website | maskUrl }}" target="_blank"> {{ profile.website | maskUrl }}</a>
    </div>
  </div>
</div>
