<div class="card">
  <div class="card-body">

    <div class="card-row">
      <div class="card-title col-xs-12">
        <div class="card-title-content">
          ขั้นตอนการชำระเงิน
        </div>
      </div>
    </div>

    <div class="card-row">
      <div class="col-xs-12">

        <div class="media">
          <div class="media-left">
            <span class="number-circle">1</span>
          </div>
          <div class="media-body">
            โอนเงินผ่านช่องทางที่คุณสะดวก<br><br>
            <table class="table">
              <tr>
                <td class="col-bank-name">
                  <img src="images/logo-kbank.png" class="bank-logo"/>
                  ธนาคารกสิกรไทย &nbsp สาขา สาทร (เซนหลุยส์ 3)
                </td>
                <td>
                  นาย พลาวุฒิ เจริญจิตมั่น
                </td>
                <td>
                  เลขที่บัญชี &nbsp<b>018-3-17282-4</b>
                </td>
              </tr>
              <tr>
                <td class="col-bank-name">
                  <img src="images/logo-scb.png" class="bank-logo"/>
                  ธนาคารไทยพาณิชย์ &nbsp สาขา โรงพยาบาลเซนต์หลุยส์
                </td>
                <td>
                  นาย พลาวุฒิ เจริญจิตมั่น
                </td>
                <td>
                  เลขที่บัญชี &nbsp<b>191-209885-2</b>
                </td>
              </tr>
              <tr>
                <td class="col-bank-name">
                  <img src="images/logo-bbl.png" class="bank-logo"/>
                  ธนาคารกรุงเทพ &nbsp สาขา โรงพยาบาลเซนต์หลุยส์
                </td>
                <td>
                  นาย พลาวุฒิ เจริญจิตมั่น
                </td>
                <td>
                  เลขที่บัญชี &nbsp<b>002-7-16416-9</b>
                </td>
              </tr>
            </table>
          </div>
        </div>

        <div class="media">
          <div class="media-left">
            <span class="number-circle">2</span>
          </div>
          <div class="media-body">
            <p>
              เมื่อชำระเงินแล้ว กรุณาส่งหลักฐานมาให้ทาง ReachRabbit ตรวจสอบ กรุณาส่งหลักฐานพร้อม<br>
              หมายเลขการสั่งซื้อ <b class="color-green">{{transaction.transactionNumber}}</b> มาได้ที่ &nbsp
              <b class="color-green"><img src="images/logo-line.png" width="30" />&nbsp @reachrabbit</b>
              &nbsp หรือ &nbsp
              <b class="color-green"><img src="images/icon-email.png"> hello@reachrabbit.com</b>
            </p>
            <img src="images/line-payment-method.png" alt="LINE Payment Method" />
          </div>
        </div>

        <div class="media">
          <div class="media-left">
            <span class="number-circle">3</span>
          </div>
          <div class="media-body">
            ReachRabbit จะส่งใบเสร็จรับเงินให้ที่อีเมลของคุณภายใน 6 ชั่วโมง
          </div>
        </div>
      </div>

      </div>
    </div>

  </div>
