<div class="thumbnail-column" ng-click="onClick(campaign)">
  <div class="card-thumbnail">
    <div class="card-thumbnail-image" ng-class="{'expired':$root.isExpired(campaign.proposalDeadline) && !campaign.isApply }">
      <div class="flag">
        <span ng-if="campaign.isApply" class="status status-applied"><i class="fa fa-check-circle-o"></i> สมัครแล้ว<img src="images/flag-corner-applied.png" alt="" class="flag-corner"/></span>
        <span ng-if="!campaign.isApply && $root.isExpired(campaign.proposalDeadline)" class="status status-closed">ปิดรับข้อเสนอ<img src="images/flag-corner-closed.png" alt="" class="flag-corner"/></span>
      </div>
      <img ng-src="{{campaign.mainResource.url || 'images/placeholder-campaign.png'}}" class="campaign-image"/>
    </div>
    <div class="card-body">
      {{ campaign.title | truncate: 60 }}
      <div class="card-price">
        <span ng-if="campaign.budget"> {{campaign.budget.fromBudget | number}} - {{campaign.budget.toBudget | number}} บาท</span>
        <span ng-if="!campaign.budget">-</span>
      </div>
    </div>
    <div class="card-footer">
      <span ng-if="campaign.proposalDeadline">หมดเขต: {{ (campaign.proposalDeadline | date) }}</span>
      <span ng-if="!campaign.proposalDeadline">No Deadline</span>
      <div class="card-social-media">
        <span ng-repeat="media in campaign.media" class="icon-{{ media.mediaId }}"></span>
      </div>
    </div>
  </div>
</div>
