<div class="card-profile">
  <div class="card-body">
    <div class="card-image">
      <img ng-src="{{ influencer.user.profilePicture.url || 'images/placeholder-profile-picture.png' }}" class="img-responsive img-circle"
      />
    </div>
    <div class="col-xs-10">
        <small>เกี่ยวกับ {{ influencer.user.name }}</small>
      <p>
        {{influencer.about}}
      </p>
      <div ng-show="showSocialData">
        <small>จำนวนผู้ติดตาม</small>
      <h4>
         <span ng-repeat="imedia in influencer.influencerMedias">
         <span class="icon-{{imedia.mediaId}}"></span> {{ imedia.followerCount | number }} คน
       </span>
      </h4>
      </div>
      <small>ความสนใจ</small>
      <h4 ng-if="influencer.categories.length > 0 ">
        {{ joinCat(influencer.categories) }}
      </h4>
      <h4 ng-if="!influencer.categories.length || influencer.categories.length == 0">
        ยังไม่มีข้อมูลนี้
      </h4>
      <ng-transclude></ng-transclude>
    </div>
  </div>
</div>