<div class="card-campaign-list-item">
  <div class="card-body">
    <div class="card-image" ng-class="{'expired':campaign.status !== 'Draft' && $root.isExpired(campaign.proposalDeadline)}">
      <div class="flag">
        <span ng-if="campaign.status === 'Open'" class="status status-open">เปิดรับข้อเสนอ</span>
        <span ng-if="campaign.status === 'Draft'" class="status status-draft">ฉบับร่าง</span>
        <span ng-if="campaign.status !== 'Draft' && $root.isExpired(campaign.proposalDeadline)" class="status status-closed">ปิดรับข้อเสนอ</span>
        <!-- <span ng-if="!campaign.status" class="status status-example">ตัวอย่าง</span> -->
      </div>
      <img ng-src="{{campaign.mainResource.url || 'images/placeholder-campaign.png'}}" class="img-responsive" />
    </div>
    <div class="card-title" ng-if="(campaign.status == 'Draft')">
      <div class="card-title-content" ui-sref="brand-campaign-detail-draft({campaignId: campaign.campaignId})">
        <a ng-if="campaign.title">{{campaign.title | truncate: 60}}</a>
        <a ng-if="!campaign.title">ประกาศงาน</a>
        <span ng-repeat="media in campaign.media" class="icon-{{ media.mediaId }} desktop-only"></span>
      </div>
    </div>
    <div class="card-title" ng-if="(campaign.status == 'Open')">
      <div class="card-title-content" ui-sref="brand-campaign-detail-published({campaignId: campaign.campaignId})">
        <a ng-if="campaign.title">{{campaign.title | truncate: 60}}</a>
        <a ng-if="!campaign.title">ประกาศงาน</a>
        <span ng-repeat="media in campaign.media" class="icon-{{ media.mediaId }} desktop-only"></span>
      </div>
    </div>
    <div class="card-info card-info-1 desktop-only">
      <div class="card-info-label">
        ค่าตอบแทน (บาท)
      </div>
      <div class="card-info-content">
        <span ng-if="campaign.budget">สูงสุด {{campaign.budget.toBudget | number}}</span>
        <span ng-if="!campaign.budget">-</span>
      </div>
    </div>
    <div class="card-info card-info-2 desktop-only">
      <div class="card-info-label">
        เปิดรับข้อเสนอถึง
      </div>
      <div class="card-info-content">
        <span ng-if="campaign.proposalDeadline">{{campaign.proposalDeadline | date}}</span>
        <span ng-if="!campaign.proposalDeadline">-</span>
      </div>
    </div>
    <div class="card-info card-info-3 desktop-only">
      <div class="card-info-label">
        หมวดหมู่
      </div>
      <div class="card-info-content desktop-only">
        <span ng-if="campaign.category.categoryName">{{campaign.category.categoryName}}</span>
        <span ng-if="!campaign.category.categoryName">-</span>
      </div>
    </div>
    <div class="card-button status-draft" ng-if="campaign.status == 'Draft'">
      <button class="btn-secondary btn-width-max btn-minimal" ui-sref="brand-campaign-detail-draft({campaignId: campaign.campaignId})"><i class="fa fa-pencil"></i> ใส่รายละเอียด</button>
    </div>
    <div class="card-button status-draft" ng-if="!campaign.status">
      <button class="btn-secondary btn-width-max btn-minimal" ui-sref="brand-campaign-detail-draft({campaignId: campaign.campaignId})"><i class="fa fa-file-text fa-fw"></i> ดูรายละเอียด</button><br>
    </div>
    <div class="card-button" ng-if="(campaign.status == 'Open')">
      <button class="btn-secondary btn-width-max btn-minimal" ui-sref="brand-campaign-detail-published({campaignId: campaign.campaignId})"><i class="fa fa-file-text fa-fw"></i> ดูรายละเอียด</button><br>
      <button class="btn-secondary btn-width-max btn-minimal btn-open-dashboard desktop-only" ui-sref="brand-dashboard({campaignId: campaign.campaignId})"><i class="fa fa-line-chart fa-fw"></i> ดู Dashboard</button>
    </div>
  </div>
</div>
