<div class="thumbnail-column">
  <div class="card-thumbnail">
    <div class="card-thumbnail-image">
      <img src="images/example-campaign/main-picture.png"/>
    </div>
    <div class="card-body">
      รีวิว FUJIFILM Instax Mini 8 จำนวน 1 เครื่อง ต่อ 1 คน
      <div class="card-price">
        10,000 - 50,000 บาท
      </div>
    </div>
    <div class="card-footer">
      หมดเขตุ: 6 ธ.ค. 59
      <div class="card-social-media">
        <span class="icon-facebook"></span>
        <span class="icon-instagram"></span>
      </div>
    </div>
  </div>
</div>
