<div class="card-campaign-header">
  <div class="card-body">
    <div class="card-image">
      <img ng-src="{{campaign.image}}" class="img-responsive"/>
    </div>
    <div class="card-info card-info-1">
      <div class="card-info-label">
        ช่องทางการโปรโมท
      </div>
      <div class="card-info-content">
        <span class="icon-facebook"></span><span class="icon-instagram"></span><span class="icon-youtube"></span>
      </div>
    </div>
    <div class="card-info card-info-2">
      <div class="card-info-label">
        เปิดรับข้อเสนอถึง
      </div>
      <div class="card-info-content">
        {{campaign.openUntilDate}}
      </div>
    </div>
    <div class="card-info card-info-3">
      <div class="card-info-label">
        Brand
      </div>
      <div class="card-info-content">
        {{campaign.brand}}
      </div>
    </div>

    <div class="col-xs-8">
    </div>

    <div class="card-info card-info-4">
      <div class="card-info-label">
        ค่าตอบแทน
      </div>
      <div class="card-info-content">
        {{campaign.price}}
      </div>
    </div>
    <div class="card-info card-info-5">
      <div class="card-info-label">
        หมวดหมู่
      </div>
      <div class="card-info-content">
        {{campaign.category}}
      </div>
    </div>
  </div>
</div>
