<div class="card-profile">
  <div class="card-body">
    <div class="card-image">
      <img ng-src="{{ profile.user.profilePicture.url || 'images/placeholder-profile-picture.png' }}" class="img-responsive img-circle"
      />
    </div>
    <div class="card-title for-proposal-detail">
      <div class="card-title-content">
        ข้อเสนอจาก {{ profile.user.name }}
      </div>
    </div>
    <div class="col-xs-10">
      <small>เกี่ยวกับ {{ profile.user.name }}</small>
      <p ng-if="profile.about.length > 0" >
        <span ng-bind-html="profile.about | newlinify">
        </span>
        <span class="profile-web"  ng-if="profile.web">
          <a ng-href="{{profile.web | maskUrl }}" target="_blank"> {{ profile.web }}</a>
        </span>
      </p>
      <p ng-if="!isInfluencer && (!profile.about || profile.about.length == 0)">
        -
      </p>
      <p ng-if="isInfluencer && (!profile.about || profile.about.length == 0)">
        "ยังไม่มีข้อมูล" คุณสามารถเพิ่มข้อมูลเกี่ยวกับตัวคุณเพื่อช่วยในการตัดสินใจของ Brand</span>
      </p>

      <div ng-show="showAllData">
        <small>จำนวนผู้ติดตาม</small>
        <h4>
           <span ng-repeat="imedia in profile.influencerMedias" class="social-info">
             <span class="icon-{{imedia.media.mediaId}} social-icon"></span> {{ imedia.followerCount | number }} คน
           </span>
        </h4>

        <small>ความสนใจ</small>
        <h4 ng-if="profile.categories.length > 0 ">
          {{ joinCat(profile.categories) }}
        </h4>
      </div>
      <h4 ng-if="!profile.categories || profile.categories.length == 0">
        -
      </h4>
      <ng-transclude></ng-transclude>
    </div>
  </div>
</div>
