<div class="card-campaign-list-item">
  <div class="card-body">
    <div class="card-image" ng-class="{'expired':$root.isExpired(campaign.proposalDeadline)}">
      <div class="flag">
        <span ng-if="campaign.status === 'Open'" class="status status-open">เปิดรับข้อเสนอ</span>
        <span ng-if="campaign.status === 'Draft'" class="status status-open">ฉบับร่าง</span>
        <span ng-if="campaign.status !== 'Draft' && $root.isExpired(campaign.proposalDeadline)" class="status status-closed">ปิดรับข้อเสนอ</span>
        <span ng-if="!campaign.status" class="status status-example">ตัวอย่าง Campaign</span>
      </div>
      <img ng-src="{{campaign.mainResource.url || 'images/placeholder-campaign.png'}}" class="img-responsive" />
    </div>
    <div class="card-title">
      <div class="card-title-content">
        <a ng-if="campaign.title">{{campaign.title | truncate: 60}}</a>
        <a ng-if="!campaign.title">Campaign ใหม่</a>
        <span ng-repeat="media in campaign.media" class="icon-{{ media.mediaId }}"></span>
        <!-- <div class="card-status">
          <span ng-if="campaign.status == 'Open'">สถานะ: เปิดรับข้อเสนอ</span>
          <span ng-if="campaign.status == 'Draft'">สถานะ: ฉบับร่าง</span>
          <span ng-if="campaign.status == 'Closed'">สถานะ: ปิดรับข้อเสนอ</span>
          <span ng-if="!campaign.status">ตัวอย่าง Campaign</span>
        </div> -->
      </div>
    </div>
    <div class="card-info card-info-1">
      <div class="card-info-label">
        ค่าตอบแทน
      </div>
      <div class="card-info-content">
        <span ng-if="campaign.budget"> {{campaign.budget.fromBudget | number}} - {{campaign.budget.toBudget | number}}</span>
        <span ng-if="!campaign.budget">-</span>
      </div>
    </div>
    <div class="card-info card-info-2">
      <div class="card-info-label">
        เปิดรับข้อเสนอถึง
      </div>
      <div class="card-info-content">
        <span ng-if="campaign.proposalDeadline">{{campaign.proposalDeadline | date}}</span>
        <span ng-if="!campaign.proposalDeadline">-</span>
      </div>
    </div>
    <div class="card-info card-info-3">
      <div class="card-info-label">
        หมวดหมู่
      </div>
      <div class="card-info-content">
        <span ng-if="campaign.category.categoryName">{{campaign.category.categoryName}}</span>
        <span ng-if="!campaign.category.categoryName">-</span>
      </div>
    </div>
    <div class="card-button status-draft" ng-if="campaign.status == 'Draft'">
      <button class="btn-secondary btn-width-max"><i class="fa fa-pencil"></i> ใส่รายละเอียด</button>
    </div>
    <div class="card-button" ng-if="!(campaign.status == 'Draft')">
      <button class="btn-secondary btn-width-max"><i class="fa fa-file-text fa-fw"></i> ดูรายละเอียด</button><br>
      <button uib-tooltip="เรากำลังพัฒนา Dashboard ให้คุณได้ติดตามแคมเปญของคุณ เร็วๆนี้! เราจะทำตามสัญญา ขอเวลาอีกไม่นาน" tooltip-placement="top"
        class="btn-secondary btn-width-max" disabled><i class="fa fa-line-chart fa-fw"></i> ดู Dashboard</button>
      </div>
  </div>
</div>
