
	<div class="facebook-dashboard">
		<div class="card-body">
	    <div class="card-overview row ">
	    	<div class="card-info">
	    		<div class="card-info-label">
	          จำนวน Influencer
	        </div>
	    		<div class="card-content">
	    			<strong>95</strong>
	    			<small>คน</small>
	    		</div>
	    	</div>
	    	<div class="card-info">
	        <div class="card-info-label">
	          จำนวนผู้ติดตาม
	        </div>
	    		<div class="card-content">
	    			<strong>9,5000</strong>
	          <small>คน</small>
	    		</div>
	    	</div>
	    	<div class="card-info">
	        <div class="card-info-label" uib-tooltip="Like + Comment + Share" tooltip-placement="top">
	          ยอด Engagement <i class="fa fa-question-circle"></i>
	        </div>
	    		<div class="card-content">
	    			<strong>1,000</strong>
	          <small>คน</small>
	    		</div>
	    	</div>
	      <div class="card-info">
	        <div class="card-info-label">
	          ยอด Like
	        </div>
	        <div class="card-content">
	          <strong>3,030</strong>
	          <i class="fa fa-thumbs-up"></i>
	        </div>
	      </div>
	      <div class="card-info">
	        <div class="card-info-label">
	          ยอด Comment
	        </div>
	        <div class="card-content">
	          <strong>2,030</strong>
	          <i class="fa fa-commenting"></i>
	        </div>
	      </div>
	    	<div class="card-info">
	        <div class="card-info-label">
	          ยอด Share
	        </div>
	    		<div class="card-content">
	    			<strong>800</strong>
	    			<i class="fa fa-share-alt"></i>
	    		</div>
	    	</div>
	    </div>
	    <div class="row">
	      <div class="col-xs-12">
	        <hr>
	      </div>
	    </div>
	    <div class="row">
	      <div class="col-xs-3">
	        <div class="form-group">
	          <small>เลือก Metric</small>
	          <div class="input-dropdown">
	              <select class="form-control"></select>
	              <i class="fa fa-caret-down"></i>
	          </div>
	        </div>
	      </div>
	      <div class="col-xs-3">
	        <div class="form-group">
	          <small>วิธีแสดงผล</small>
	          <div class="input-dropdown">
	              <select class="form-control"></select>
	              <i class="fa fa-caret-down"></i>
	          </div>
	        </div>
	      </div>
	    </div>
	    <div class="row">
	      <div class="dashboard-graph">
					<canvas id="line" height="100" class="chart chart-line" chart-data="data" chart-labels="labels" chart-series="series" chart-dataset-override="chartoptions">
	        </canvas>
					<!-- Empty State -->
					<!-- <div class="empty-state">
						<i class="fa fa-line-chart fa-2x"></i> ยังไม่มีข้อมูล
					</div> -->
	      </div>
	    </div>
	    <div class="row">
	      <div class="col-xs-12">
	        <h3>Influencers ที่โพสบน Facebook</h3>
	        <table class="table" sorter ng-model="data">
	          <thead>
	            <tr>
	              <th class="col-name" sort="influencer.influencerId">Influencer</th>
	              <th class="" sort="">ผู้ติดตาม</th>
	              <th class="" sort="">Like</th>
	              <th class="" sort="">Comment</th>
	              <th class="" sort="">Share</th>
	              <th class="text-align-right" sort="">Engagement Rate</th>
	            </tr>
	          </thead>
	          <tbody>
	            <tr>
	              <td class="col-name">
	                <div class="media">
	                  <div class="media-left">
	                    <img ng-src="images/placeholder-profile-picture.png" class="profile-picture" />
	                  </div>
	                  <div class="media-body media-middle">
	                    Jon Snow Jon Snow Jon Snow Jon Snow
	                  </div>
	                </div>
	              </td>
	              <td>
	                50,000
	              </td>
	              <td>
	                50,000
	              </td>
	              <td>
	                50,000
	              </td>
	              <td>
	                50,000
	              </td>
	              <td class="text-align-right">
	                50%
	              </td>
	            </tr>
	            <tr>
	              <td class="col-name">
	                <div class="media">
	                  <div class="media-left">
	                    <img ng-src="images/placeholder-profile-picture.png" class="profile-picture" />
	                  </div>
	                  <div class="media-body media-middle">
	                    Jane Lava
	                  </div>
	                </div>
	              </td>
	              <td>
	                1,000
	              </td>
	              <td>
	                1,000
	              </td>
	              <td>
	                1,000
	              </td>
	              <td>
	                1,000
	              </td>
	              <td class="text-align-right">
	                99%
	              </td>
	            </tr>
							<tr>
	              <td class="col-name">
	                <div class="media">
	                  <div class="media-left">
	                    <img ng-src="images/placeholder-profile-picture.png" class="profile-picture" />
	                  </div>
	                  <div class="media-body media-middle">
	                    June Absense
	                  </div>
	                </div>
	              </td>
	              <td colspan="5" class="color-grey">
	                [ระบบจะเริ่มเก็บข้อมูลภายใน 48 ชม. หลังคุณอนุมัติงาน]
	              </td>
	            </tr>
	          </tbody>
	        </table>
	      </div>
	    </div>
	  </div>
	</div>
