<div class="modal-content">
      <div class="modal-body">
        <img src="images/hello-rabbit.png" class="hello-rabbit" />
        <h3>คุณได้ส่งข้อเสนอให้ Brand แล้ว</h3>
        <p>
          หากคุณผ่านการคัดเลือก เราจะแจ้งเตือนคุณที่<br>
          <span class="color-green">{{ email }}</span> หรือ เช็คได้ที่ <span class="color-green" ui-sref="influencer-inbox" ng-click="dismiss()">Inbox</span> ของเรา
        </p>
        <button id="influencer-propsal-message-dismiss-btn" type="button" class="btn-secondary-highlight btn-width-lg" ng-click="dismiss()">ดูห้องคุยงาน</button>
        <div class="checkbox">
          <label><input type="checkbox" value="" ng-model="notify" >ไม่ต้องแสดงอีก</label>
        </div>
      </div>
    </div>
