<div class="proposal-modal">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$dismiss()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">เลือกบัญชีที่จะใช้ทำการเชื่อมต่อ</h4>
    </div>
    <div class="card-body">
      <!--div class="logo">
          <h3>เลือกบัญชีที่จะใช้สมัคร</h3>
        </div-->
        <div class="radio-card" ng-repeat="page in pages">
          <label>
            <input type="radio"  ng-value="page" ng-model="formData.selectedPage">
            <div class="radio-label">
              {{ page.name }}
            </div>
            <div class="radio-info">
              มีผู้ติดตาม {{page.count | number}} คน
            </div>
            <img class="radio-image" ng-src="{{ page.picture }}" />
          </label>
        </div>
        <button class="btn-primary" ng-click="choosePage(formData.selectedPage)">เลือกบัญชี</button>
        <div class="info-text">
          คุณต้องมีคนติดตามอย่างน้อย {{ minFollower }} คนในการสมัคร
        </div>
      </div>
    </div>
</div>
