<div class="proposal-modal">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$close()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">ส่งข้อเสนอ</h4>
      </div>
    <div class="card-body">

        <div class="card-row-basic">
            ช่องทางการโปรโมท
        </div>

        <div class="card-row-basic">
            <label class="promotion-medium">
                <input type="checkbox"/>
                <img ng-src="images/icon-facebook-lg.png" class="profile-social-media-icon" /> Facebook
            </label>
        </div>
        <div class="card-row-basic">
            <label class="promotion-medium">
                <input type="checkbox"/>
                <img ng-src="images/icon-instagram-lg.png" class="profile-social-media-icon" /> Instagram
            </label>
          </div>
          <div class="card-row-basic">
              <label class="promotion-medium disabled">
                <input type="checkbox" disabled/>
                <img ng-src="images/icon-google-lg.png" class="profile-social-media-icon" /> YouTube คุณยังไม่ได้เชื่อมต่อ <a href="#">เชือมต่อช่องทางนี้</a>
              </label>
        </div>

        <div class="card-row-basic">
            ระยะเวลาทำงาน
        </div>
        <div class="card-row-basic input-dropdown">
            <select class="form-control">
                    <option>2-5</option>
                </select>
            <i class="fa fa-caret-down"></i>
        </div>
        <p class="help-block">เริ่มนับจากวันที่ได้คัดเลือก</p>
        <div class="card-row-basic">
            ราคาที่คุณเสนอ
        </div>
        <div class="card-row-basic input-group">
            <input type="text" class="form-control" value="10,000,000"/>
            <span class="input-group-addon" id="basic-addon1">บาท</span>
        </div>

        <div class="card-row-basic">
            คุณจะได้รับ
        </div>
        <div class="card-row-basic input-group">
            <input type="text" class="form-control" value="9,875,500" disabled/>
            <span class="input-group-addon" id="basic-addon1">บาท</span>
        </div>
        <p class="help-block">หลังหักค่าทำเนียม</p>

        <div class="card-row-basic">
            ข้อความ
        </div>
        <textarea class="form-control" rows="4" placeholder="คุณจะช่วยโปรโมท Brand อย่างไร และทำไม Brand ถึงควรเลือกคุณ?"></textarea>

        <div class="card-row-basic text-center">
            <div class="button-bar">
                <button class="btn-primary btn-width-lg">ส่งข้อเสนอ</button>
                <p class="help-block">ข้อเสนอนี้จะสามารถแก้ไขได้ภายหลัง</p>
            </div>
        </div>

    </div>



</div>
