<div class="message">
  <div class="message-left">
    <img class="media-object" ng-src="{{message.user.profilePicture.url || 'images/placeholder-profile-picture.png'}}">
  </div>
  <div class="message-body">
    <div class="message-heading">
      <h4>{{message.user.name}}</h4>
      <div class="message-time">{{message.createdAt | amDateFormat: $root.formats[4]}}</div>
      <div class="clear"></div>
    </div>
    <div class="message-content">
      <div ng-transclude></div>
      <span>{{message.message}}</span>
      <img ng-repeat="resource in message.resources" ng-src="{{resource.url}}">
    </div>
  </div>
</div>
