<div class="message" ng-class="{'bot-message': message.user.role === 'Bot' }">
  <div class="message-left">
    <img class="media-object" ng-src="{{message.user.profilePicture.url || 'images/placeholder-profile-picture.png'}}">
  </div>
  <div class="message-body">
    <div class="message-heading">
      <h4>{{message.user.name}}</h4>
      <div class="message-time">
        <span ng-if="message.messageId">{{message.createdAt | amDateFormat: $root.formats[4]}}
        </span>
        <span ng-if="!message.messageId"><i class="fa-li fa fa-spinner fa-spin"></i></span>
      </div>
      <div class="clear"></div>
    </div>
    <div class="message-content">
      <div ng-transclude></div>
      <div ng-bind="message.message"></div>
      <img ng-repeat="resource in message.resources" ng-src="{{resource.url}}">
    </div>
  </div>
</div>
