<div>
  <ul class="pagination" ng-if="model && model.totalPages > 1">
    <li>
      <a ng-click="prev()" aria-label="Previous">
        <i class="fa fa-angle-left"></i>
      </a>
    </li>
    <li ng-repeat="n in counter() track by $index" ng-class="{ 'active' : model.number === $index}">
      <a ng-click="goto($index)">{{$index+1}}</a>
    </li>
    <li>
      <a ng-click="next()" aria-label="Next">
        <i class="fa fa-angle-right"></i>
      </a>
    </li>
  </ul>
  <div class="pagination input-dropdown pull-right">
    <select class="form-control paginator" ng-options="x as x for x in sizeOptions" ng-model="model.size" ng-change="update({size: model.size})"></select>
    <i class="fa fa-caret-down"></i>
  </div>
</div>
