<div class="select-proposal-modal">
    <div class="card-body">
        <h3 class="modal-title text-center">เลือกจ่าย Payment นี้?</h3>
        <p class="text-center">เมื่อตกลงการจ่ายแล้ว จะไม่สามารถย้อนกลับได้
        </p>
        <div class="text-center">
              <button class="btn-secondary btn-width-md btn-with-margin" ng-click="$dismiss()">ยกเลิก</button>
              <button class="btn-primary btn-width-md btn-with-margin" ng-click="$close()">ตกลง</button>
        </div>
    </div>
</div>
