<div  ng-cloak>
    <div class="card-row" ng-repeat="media in mediaList">
        <div class="card-body-content-label with-input">
            {{ media.mediaName }}
        </div>
        <div class="card-body-content">
            <div class="media" ng-if="!hasMedia(media.mediaId)">
                <div class="media-left">
                    <img ng-src="images/icon-{{media.mediaId}}-lg.png" class="profile-social-media-icon" />
                </div>
                <div class="media-body">
                    <button class="btn-secondary btn-width-lg" ng-click="startAuthFlow(media.mediaId)">เชื่อมต่อกับ {{ media.mediaName }}</button>
                </div>
            </div>
            <div class="media" ng-if="hasMedia(media.mediaId)">
                <div class="media-left">
                    <img ng-src="images/icon-{{media.mediaId}}-lg.png" class="profile-social-media-icon" />
                </div>
                <div class="media-body">
                    <button class="btn-secondary-active btn-width-lg" disabled ng-click="startAuthFlow(media.mediaId)">
                        <i class="glyphicon glyphicon-ok" aria-hidden="true"></i> เชื่อมต่อช่องทางนี้แล้ว</button>
                </div>
            </div>
        </div>
    </div>
</div>
