<div>
    <div class="card-row" ng-repeat="media in mediaList">
        <div class="card-body-content-label with-input">
            {{ media.mediaName }}
        </div>
        <div class="card-body-content">
            <div class="media">
                <div class="media-left">
                    <img ng-src="images/icon-{{media.mediaName}}-lg.png" class="profile-social-media-icon" />
                </div>
                <div class="media-body">
                    <button class="btn-secondary btn-width-lg" ng-click="startAuthFlow(media.mediaId)">เชื่อมต่อกับ {{ media.mediaName }}</button>
                </div>
            </div>

        </div>
    </div>
<pre>{{model|json}}</pre>
</div>