<div>
    <div class="card-row">
        <div class="card-body-content-label with-input">
            Facebook
        </div>
        <div class="card-body-content">


            <div class="media">
                <div class="media-left">
                    <img src="images/icon-facebook-lg.png" class="profile-social-media-icon" />
                </div>
                <div class="media-body">
                    <button class="btn-secondary btn-width-lg">เชื่อมต่อ Facebook</button>
                </div>
            </div>

        </div>
    </div>

    <div class="card-row">
        <div class="card-body-content-label with-input">
            Instagram
        </div>
        <div class="card-body-content">

            <div class="media">
                <div class="media-left">
                    <img src="images/icon-instagram-lg.png" class="profile-social-media-icon" />
                </div>
                <div class="media-body">
                    <h5 class="social-link-title">Connected to @nattamoto<br/>
                        <small>4,000 followers</small>
                    </h5>
                </div>
            </div>

        </div>
    </div>

    <div class="card-row">
        <div class="card-body-content-label with-input">
            YouTube
        </div>
        <div class="card-body-content">

            <div class="media">
                <div class="media-left">
                    <img src="images/icon-youtube-lg.png" class="profile-social-media-icon" />
                </div>
                <div class="media-body">
                    <h5 class="social-link-title">Connected to softpomz<br/>
                        <small>100,000 followers</small>
                    </h5>
                </div>
            </div>

        </div>
    </div>
</div>