<div class="cropTool">
      <div ngf-pattern="image/*" class="cropArea">
      <!--thumbFile | ngfDataUrl-->
            <img-crop area-type="rectangle" result-image-quality="1.0" result-image-size="'max'" aspect-ratio="cropOption.aspectRatio" image="resizedBlobUrl"  result-image="croppedDataUrl" ng-init="croppedDataUrl=''">
            </img-crop>
      </div>
      <div class="toolbar text-center">
            <button ng-click="dismiss()" class="btn btn-secondary btn-width-md btn-with-margin">ยกเลิก</button>
            <button class="done-crop-btn btn btn-primary btn-width-md btn-with-margin" ng-click="$close(croppedDataUrl)" >Crop & Upload</button>
      </div>

</div>
