<div>

    <div class="input-upload-image-sm">
        <i class="fa fa-camera "></i> เพิ่มรูปประกอบ (JPG หรือ PNG ขนาดเท่าไรก็ได้)
    </div>
    <div class="input-upload-image-sm-preview">
        <div class="preview-item">
            <div class="preview-image">
                <img src="images/example-campaign/main-picture.png">
            </div>
            <a href="#">img03256.jpg <i class="fa fa-times-circle"></i></a>
        </div>
        <div class="preview-item">
            <div class="preview-image">
                <img src="images/example-campaign/main-picture.png">
            </div>
            <a href="#">img03256.jpg <i class="fa fa-times-circle"></i></a>
        </div>
        <div class="preview-item">
            <div class="preview-image">
                <img src="images/example-campaign/main-picture.png">
            </div>
            <a href="#">img03256.jpg <i class="fa fa-times-circle"></i></a>
        </div>
        <div class="preview-item">
            <div class="preview-image">
                <img src="images/example-campaign/main-picture.png">
            </div>
            <a href="#">img03256.jpg <i class="fa fa-times-circle"></i></a>
        </div>
        <div class="preview-item">
            <div class="preview-image">
                <img src="images/example-campaign/main-picture.png">
            </div>
            <a href="#">img03256.jpg <i class="fa fa-times-circle"></i></a>
        </div>
        <div class="preview-item">
            <div class="preview-image">
                <img src="images/example-campaign/main-picture.png">
            </div>
            <a href="#">img03256.jpg <i class="fa fa-times-circle"></i></a>
        </div>
    </div>
</div>