<!-- youtube-tab -->
<div class="youtube-profile">
    <div class="card-body">
        <div class="card-row">
            <div class="card-title col-xs-12">
                <div class="card-title-content">
                    {{data.channel.snippet.title}}
                </div>
            </div>
        </div>
        <div class="card-overview card-row">
            <div class="card-info">
                <div class="card-info-label">จำนวน Subscriber</div>
                <div class="card-content">
                    <strong>{{ data.channel.statistics.subscriberCount | number: 0 }}</strong>
                    <small>คน</small>
                </div>
            </div>
            <div class="card-info">
                <div class="card-info-label">ยอด View ทั้งหมด</div>
                <div class="card-content">
                    <strong>{{ data.channel.statistics.viewCount | number: 0 }}</strong>
                    <i class="fa fa-eye"></i>
                </div>
            </div>
            <div class="card-info">
                <div class="card-info-label">ค่าเฉลี่ย View <i class="fa fa-question-circle"></i></div>
                <div class="card-content">
                    <strong>{{ data.channel.statistics.viewCount/data.channel.statistics.subscriberCount | number: 0 }}</strong>
                    <i class="fa fa-eye"></i>
                </div>
            </div>
            <div class="card-info">
                <div class="card-info-label">ค่าเฉลี่ย Like <i class="fa fa-question-circle"></i></div>
                <div class="card-content">
                    <strong>999</strong>
                    <i class="fa fa-share-alt"></i>
                </div>
            </div>
            <div class="card-button">
                <button ng-click="gotoPage()" class="btn-secondary pull-right btn-width-md">ดูบน YouTube</button>
            </div>
        </div>
        <div class="card-gallery card-row">

            <div class="col-xs-6" ng-repeat="item in data.videos">
                <div class="card-gallery-item">
                    <img ng-src="{{item.snippet.thumbnails.high.url}}" />
                    <div class="card-gallery-info">
                        <div class="card-gallery-message col-xs-12">
                            {{item.snippet.title | truncate: 50}}
                        </div>
                        <div class="card-info col-xs-3 col-xs-offset-3">
                            <div class="card-info-label">Views</div>
                            <div class="card-content">{{item.statistics.viewCount | number: 0}}</div>
                        </div>
                        <div class="card-info col-xs-3">
                            <div class="card-info-label">Like</div>
                            <div class="card-content">{{item.statistics.likeCount | number: 0}}</div>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>
</div>
<!-- End youtube-tab -->
