<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>ReachRabbit</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="images/favicon.png">
  <link rel="stylesheet" href="css/app.css">
  <link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.9.0/loading-bar.min.css' type='text/css' media='all' />

</head>
<body class="layout-portal" ng-model-options="{ debounce : { default : 300, blur : 0 }, allowInvalid: true}">

  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
    <br/>
    <div class="container" style="margin-top:10%">
      <div class="card-portal">
        <div class="card-body">
          <div class="logo">
            <img src="images/logo-reachrabbit.png" alt="ReachRabbit logo">
            <h3>This is a fake landing page</h3>
          </div>
          <div class="form-group">
             <a href="/portal.html#/brand-login"><button class="btn-primary" ng-click="login(username, password)">I'm a Brand</button></a>
             <a href="/portal.html#/influencer-portal"><button class="btn-primary" ng-click="login(username, password)">I'm an influencers</button>
             <a href="/portal.html#/influencer-god-login"><button class="btn-secondary">I'm god</button></a>
            </div>
      </div>
  </div>
  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-scroll-glue/src/scrollglue.js"></script>
  <script src="bower_components/ngSmoothScroll/dist/angular-smooth-scroll.min.js"></script>
  <script src="bower_components/angular-i18n/angular-locale_th-th.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
  <script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
  <script src="bower_components/satellizer/dist/satellizer.min.js"></script>
  <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="bower_components/ng-pattern-restrict/src/ng-pattern-restrict.min.js"></script>

  <script src='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.9.0/loading-bar.min.js'></script>
  <script src="bower_components/ng-file-upload/ng-file-upload-all.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.14.1/lodash.min.js"></script>
  <script type="text/javascript" src="bower_components/ng-tags-input/ng-tags-input.js"></script>

</body>
</html>
