<div class="container-fluid text-center" style="height: 300px; background-image:url(/static/404.png);background-repeat:no-repeat; background-position-x: 63%">
</div>
<div class="container text-center">
<h1>Error {{ code }}</h1>
<p>The rabbits are fucking with us...</p>
<p ng-if="code == 401"><strong>Our guess is that you are not logged in.</strong></p>
<a class="btn btn-primary" href="/">กลับบ้านเกิด</a>
</div>
<br/>
<div class="container">
<div class="row">
<div class="col-md-6 col-md-offset-3">
<hr/>
<code>
{{ description | json }}
</code>
</p>
</div>
</div>
