<md-card flex="50" flex-xs="100">
  <md-card-content class="md-padding" layout="row" layout-align="left none">
    <div class="md-padding" flex>
      <form name="form"
        class="form-horizontal"
        ng-submit="submit(form)"
        novalidate>
        <fieldset>
            <md-input-container class="md-block">
              <label>Email</label>
              <input required md-no-asterisk name="email" ng-model="formData.email">
            </md-input-container>
            <md-input-container class="md-block">
              <label>Password</label>
              <input required md-no-asterisk name="email" ng-model="formData.password">
            </md-input-container>
            <div flex-xs flex="50">
              <md-checkbox md-no-ink class="md-primary" ng-model="formData.rememberMe">Remember me</md-checkbox>
            </div>
            <div layout="column" layout-align="center center">
              <md-button class="md-raised md-primary">Sign-in</md-button>
            </div>
        </fieldset>
      </form>
    </div>
  </md-card-content>
</md-card>
