<div class="container">

      <div class="page-header">
        <h2 class="pull-left">Transaction List</h2>
        <div class="clear"></div>
      </div>

      <div class="filter">
        Filter: <a href="#" class="active">All (1)</a> | <a href="#">Wait to Confirm (1)</a> | <a href="#">Paid (0)</a> | <a href="#">Cancelled (0)</a>
        <br><br>
      </div>

      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12">
              <table class="table">
                <thead>
                  <tr>
                    <th>Campaign</th>
                    <th>Status</th>
                    <th>Date &amp; Time</th>
                    <th class="table-item-price">Price</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="r in transactions">
                    <td><a href="brand-transaction-detail.html">{{ r.campaign.title }}</a></td>
                    <td>{{ r.status }}</td>
                    <td>{{ r.updatedAt | date : 'd/M/y H:m'}}</td>
                    <td class="table-item-price">{{ r.amount  | number: 2}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

</div>
