  <div class="container">

      <div class="page-header">
        <h2 class="pull-left">Campaign Detail (PRODUCTION)</h2>
        <div class="pull-right">
          <a ui-sref="^" class="btn btn-default">
            Back to Campaign List
          </a>
        </div>
        <div class="clear"></div>
      </div>

      <scientific-card ng-model="campaigns" card-type="influencer-campaign-detail"></scientific-card>

      <div class="panel panel-default">
        <div class="panel-body">
          <h3>Proposal Detail</h3>
          {{ campaign.campaignProposals[0].description }}
          <br><br>
          <h3>Proposed Price: {{ campaign.campaignProposals[0].proposePrice | number : 2}} Baht</h3>
          <h4>Status: {{ campaign.campaignProposals[0].status }}</h4><br>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-body">
          <h3>Jon Snow's Submission #1</h3>
          Here is me and my pikachu trying to conquer the north back. Hope you like it.
          <br><br>
          <img src="images/submission-jon.jpg" alt="" />
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-body">
          <h3>Brand Comment on your Submission #1</h3>
          <blockquote>
            Yo Jon. We kind of like your crazy look. But you steal the scene from our Pikachu. Can you step back a little bit?
          </blockquote>
        </div>
      </div>

      <div class="panel panel-default">
          <div class="panel-body">
            <div class="row">
              <div class="col-md-8">
                <form class="form-horizontal" action="" method="POST">
                    <h3>Submission #2</h3>
                    <fieldset>
                      <div class="control-group">
                        <label class="control-label" >Description</label>
                        <div class="controls">
                          <textarea type="text" placeholder="" class="form-control" ng-model="submission.description" rows="3"></textarea>
                        </div>
                      </div>
                      <br>

                      <label for="attachment">Image Attachment:</label><br/>
                      <image-thumb ng-model="submission.resources[0]" height="300" width="auto"></image-thumb>
                      <br>
                      <label for="attachment">Video Attachment:</label>
                      <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                        <div class="form-control" data-trigger="fileinput"><i class="glyphicon glyphicon-file fileinput-exists"></i> <span class="fileinput-filename"></span></div>
                        <span class="input-group-addon btn btn-default btn-file"><span class="fileinput-new">Select file</span><span class="fileinput-exists">Change</span><input type="file" name="..."></span>
                        <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
                      </div>
                      <br>
<!--                       <div class="control-group">
                        <label class="control-label" for="brandname">Link Attachment</label>
                        <div class="controls">
                          <input type="text" placeholder="" ng-model="submission.resources[1]" class="form-control"></input>
                        </div>
                      </div>
 -->

                    </fieldset>
                  </form>

                  <br>

                  <div class="controls">
                    <a ng-click="submitWork(submission)" class="btn btn-success">Submit</a>
                  </div>
                </div>
            </div>
          </div>
      </div>


    </div>
