 <div class="container">
      <div class="page-header">
        <h2 class="pull-left">My Campaign</h2>
        <div class="clear"></div>
      </div>

      <div class="filter">
        Filter: <a href="#" class="active">All (3)</a> | <a href="#">Applied (1)</a> | <a href="#">Production (0)</a> | <a href="#">Complete (0)</a>
        <br><br>
      </div>

      <div class="alert alert-success">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Success!</strong> you have done something positive.
      </div>

      <div class="panel panel-default">
        <div class="media">
          <div class="media-left">
            <img class="media-object" src="images/campaign-pokeland.jpg"  >
          </div>
          <div class="media-body">
            <a href="influencer-campaign-detail-applied.html">
              <h4 class="media-heading">Pokeland Summer Campaign <i class="fa fa-instagram"></i><span class="pull-right">Campaign Status: Applied</span></h4>
            </a>
            <div class="media-item">
              <h5>Reward:</h5>
              <h4>500-1,5000</h4>
            </div>
            <div class="media-item">
              <h5>Proposal Status:</h5>
              <h4 class="color-yellow">Wait for Review</h4>
            </div>
            <div class="media-item">
              <h5>Deadline:</h5>
              <h4>16/06/2016 (30 Days left)</h4>
            </div>
            <div class="media-item">
              <h5>Proposal Result:</h5>
              <h4>20/06/2016</h4>
            </div>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="media">
          <div class="media-left">
            <img class="media-object" src="images/campaign-pokeland.jpg"  >
          </div>
          <div class="media-body">
            <a href="influencer-campaign-detail-applied.html">
              <h4 class="media-heading">Pokeland Summer Campaign <i class="fa fa-instagram"></i><span class="pull-right">Campaign Status: Applied</span></h4>
            </a>
            <div class="media-item">
              <h5>Reward:</h5>
              <h4>500-1,5000</h4>
            </div>
            <div class="media-item">
              <h5>Proposal Status:</h5>
              <h4 class="color-red">Need Revision</h4>
            </div>
            <div class="media-item">
              <h5>Deadline:</h5>
              <h4>16/06/2016 (30 Days left)</h4>
            </div>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="media">
          <div class="media-left">
            <img class="media-object" src="images/campaign-pokeland.jpg"  >
          </div>
          <div class="media-body">
            <a href="influencer-campaign-detail-production.html">
              <h4 class="media-heading">Pokeland Summer Campaign <i class="fa fa-instagram"></i><span class="pull-right">Campaign Status: Production</span></h4>
            </a>
            <div class="media-item">
              <h5>Reward:</h5>
              <h4>500-1,5000</h4>
            </div>
            <div class="media-item">
              <h5>Submission Status:</h5>
              <h4>Wait for Submission</h4>
            </div>
            <div class="media-item">
              <h5>Deadline:</h5>
              <h4>16/06/2016 (30 Days left)</h4>
            </div>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="media">
          <div class="media-left">
            <img class="media-object" src="images/campaign-pokeland.jpg"  >
          </div>
          <div class="media-body">
            <a href="influencer-campaign-detail-production.html">
              <h4 class="media-heading">Pokeland Summer Campaign <i class="fa fa-instagram"></i><span class="pull-right">Campaign Status: Production</span></h4>
            </a>
            <div class="media-item">
              <h5>Reward:</h5>
              <h4>500-1,5000</h4>
            </div>
            <div class="media-item">
              <h5>Submission Status:</h5>
              <h4 class="color-red">Need Revision</h4>
            </div>
            <div class="media-item">
              <h5>Deadline:</h5>
              <h4>16/06/2016 (30 Days left)</h4>
            </div>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="media">
          <div class="media-left">
            <img class="media-object" src="images/campaign-pokeland.jpg"  >
          </div>
          <div class="media-body">
            <a href="influencer-campaign-detail-production.html">
              <h4 class="media-heading">Pokeland Summer Campaign <i class="fa fa-instagram"></i><span class="pull-right">Campaign Status: Production</span></h4>
            </a>
            <div class="media-item">
              <h5>Reward:</h5>
              <h4>500-1,5000</h4>
            </div>
            <div class="media-item">
              <h5>Submission Status:</h5>
              <h4 class="color-yellow">Wait for Review</h4>
            </div>
            <div class="media-item">
              <h5>Deadline:</h5>
              <h4>16/06/2016 (30 Days left)</h4>
            </div>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="media">
          <div class="media-left">
            <img class="media-object" src="images/campaign-pokeland.jpg"  >
          </div>
          <div class="media-body">
            <a href="influencer-campaign-detail-production-post.html">
              <h4 class="media-heading">Pokeland Summer Campaign <i class="fa fa-instagram"></i><span class="pull-right">Campaign Status: Production</span></h4>
            </a>
            <div class="media-item">
              <h5>Reward:</h5>
              <h4>500-1,5000</h4>
            </div>
            <div class="media-item">
              <h5>Submission Status:</h5>
              <h4>Wait for Post</h4>
            </div>
            <div class="media-item">
              <h5>Post Date:</h5>
              <h4>20/07/2016 (20 Days left)</h4>
            </div>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="media">
          <div class="media-left">
            <img class="media-object grayscale" src="images/campaign-pokeland.jpg">
          </div>
          <div class="media-body">
            <a href="influencer-campaign-detail-complete.html">
              <h4 class="media-heading">Pokeland Summer Campaign <i class="fa fa-instagram"></i><span class="pull-right">Campaign Status: Complete</span></h4>
            </a>
            <div class="media-item">
              <h5>Reward:</h5>
              <h4>500-1,5000</h4>
            </div>
            <div class="media-item">
              <h5>Submission Status:</h5>
              <h4 class="color-green">Posted</h4>
            </div>
            <div class="media-item">
              <h5>Post Date:</h5>
              <h4>20/07/2016 (20 Days left)</h4>
            </div>
          </div>
        </div>
      </div>

    </div>
