
    <div class="container">
      <div class="page-header">
        <h2 class="pull-left">Open Campaign</h2>
        <div class="clear"></div>
      </div>

      <div class="filter">
        Filter: <a href="#" class="active">All (3)</a> | <a href="#">Instagram (1)</a> | <a href="#">Facebook (0)</a> | <a href="#">YouTube (0)</a>
        <br><br>
      </div>

      <div class="alert alert-success">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Success!</strong> you have done something positive.
      </div>

      <scientific-card ng-model="campaigns" card-type="influencer-campaign"/>

    </div>
