 <div class="container">
      <div class="page-header">
        <h2 class="pull-left">My Campaign</h2>
        <div class="clear"></div>
      </div>

      <div class="filter">
        Filter: <a href="#" class="active">All (3)</a> | <a href="#">Applied (1)</a> | <a href="#">Production (0)</a> | <a href="#">Complete (0)</a>
        <br><br>
      </div>

      <nc-alert nc-model="alert"></nc-alert>

      <span ng-if="campaigns.length == 0">
        No open campaign available.
      </span>
       <div class="panel panel-default" ng-repeat="card in campaigns">
          <div class="media" >
            <div class="media-left">
              <img ng-if="card.resources.length > 0" class="media-object" src="{{ card.resources[0].url }}"  >
            </div>
            <div class="media-body">
              <a ui-sref="my-campaign.{{ $root.getRouteByStatusApplied(card) }}({ campaignId: card.campaignId })">
                <h4 class="media-heading">{{ card.title }} <i class="fa fa-{{card.media[0].mediaId}}"></i>
                <span class="pull-right">Campaign Status:
                <span ng-if="card.status === 'payment pending'">Applied</span>
                <span ng-if="card.status === 'open'">Applied</span>
                <span ng-if="card.status === 'production'">Production</span>
                <span ng-if="card.status === 'complete'">Complete</span>
                <span ng-if="card.status === 'wait for payment'">Applied</span>
                <span ng-if="card.status === 'wait for confirm'">Applied</span>
                </span></h4>
              </a>
              <div class="media-item">
                <h5>Reward</h5>
                <h4>{{ card.budget || 'N/A' }}</h4>
              </div>
              <div class="media-item" ng-if="card.status != 'production'">
                <h5>Proposal Status</h5>
                <h4 ng-class="{'color-red': getMyLatestProposal(card).status == 'need revision',
                'color-yellow': getMyLatestProposal(card).status == 'wait for review'
                }">
                  {{ getMyLatestProposal(card).status }}
                </h4>
              </div>
              <div class="media-item" ng-if="card.status == 'production'">
                <h5>Submission Status</h5>
                <h4 ng-if="getMyLatestSubmission(card)">
                  {{ getMyLatestSubmission(card).status }}
                </h4>
                <h4 ng-if="!getMyLatestSubmission(card)">
                  Wait for Submission
                </h4>
              </div>
              <div class="media-item" ng-if="card.status != 'production'">
                <h5>Proposal Deadline</h5>
                <h4>{{ card.proposalDeadline | date }}</h4>
              </div>
              <div class="media-item" ng-if="card.status == 'production'">
                <h5>Submission Deadline</h5>
                <h4>{{ card.submissionDeadline | date }}</h4>
              </div>
              <div class="media-item" ng-show="card.category">
                <h5>Category</h5>
                <h4>{{ card.category }}</h4>
              </div>
              <div class="media-item">
                <h5>Proposal Result</h5>
                <h4>Soon</h4>
              </div>
            </div>
          </div>
        </div>



    </div>
