<md-toolbar class="md-primary">
 <div class="md-toolbar-tools">
 <h3>Choose Facebook Page you want to associate</h3>
 </div>
</md-toolbar>
<md-list>
  <md-list-item class="md-2-line" ng-if="pages.length == 0">
    <div class="md-list-item-text">
      <h3>You have no page.</h3>
      <p>To sign up with facebook you need to have atleast one facebook page.</p>
    </div>
  </md-list-item>
  <md-list-item class="md-2-line" ng-repeat="item in pages" ng-click="choose(item)">
    <img ng-src="{{item.picture}}" class="md-avatar"  />
    <div class="md-list-item-text">
      <h3>{{item.name}}</h3>
      <p>{{item.fan_count}} person liked this page.</p>
    </div>
  </md-list-item>
</md-list>
