<div class="container">

      <div class="page-header">
        <h2 class="pull-left">Campaign Detail (PRODUCTION)</h2>
        <div class="pull-right">
          <a href="brand-campaign-list.html" class="btn btn-default">
            Back to Campaign List
          </a>
        </div>
        <div class="clear"></div>
      </div>

      <div class="panel panel-default">
        <div class="media">
          <div class="media-left">
            <img class="media-object" src="images/campaign-pokeland.jpg">
          </div>
          <div class="media-body">
            <h4 class="media-heading">
              Pokeland Summer Campaign <i class="fa fa-instagram"></i>
              <span class="pull-right">
                <a href="#"  data-toggle="modal" data-target="#modal-view-detail">View Detail</a>
              </span>
            </h4>
            <div class="media-item">
              <h5>Status:</h5>
              <h4>Production</h4>
            </div>
            <div class="media-item">
              <h5>Reward:</h5>
              <h4>500-1,5000</h4>
            </div>
            <div class="media-item">
              <h5>Production Deadline:</h5>
              <h4>30/06/2016 (30 Days left)</h4>
            </div>
            <div class="media-item">
              <h5>Category:</h5>
              <h4>Beauty</h4>
            </div>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="media">
          <div class="media-body">
            <div class="media-item">
              <h5>Selected Proposals:</h5>
              <h4>2</h4>
            </div>
            <div class="media-item">
              <h5>Posted:</h5>
              <h4>0</h4>
            </div>
            <div class="media-item">
              <h5>Budget:</h5>
              <h4>1,000</h4>
            </div>
            <div class="media-item">
              <h5>Potential Reach</h5>
              <h4>2.5 Million+ Users</h4>
            </div>

          </div>
        </div>
      </div>


      <div class="page-header">
        <h3 class="pull-left">Submissions</h3>
        <div class="clear"></div>
      </div>

      <div class="filter">
        Filter: <a href="#" class="active">All (2)</a> | <a href="#">Wait for Submission (0)</a> | <a href="#">Need Revision (1)</a> | <a href="#">Wait for Review (1)</a> | <a href="#">Wait for Post (0)</a> | <a href="#">Posted (0)</a>
        <br><br>
      </div>

      <div class="panel panel-default">
        <div class="media">
          <div class="media-left">
            <img class="media-object" src="images/profile-pic-jon.jpg">
          </div>
          <div class="media-body">
            <a href="brand-submission-detail.html">
              <h4 class="media-heading">
                  Jon Snow
                  <span class="pull-right">Status: Wait for Review</span>
              </h4>
            </a>

            <div class="media-item">
              <h5>Submission Number:</h5>
              <h4>1</h4>
            </div>
            <br>
            <div class="media-item">
              <h5>Submitted on:</h5>
              <h4>10/10/16</h4>
            </div>

          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="media">
          <div class="media-left">
            <img class="media-object" src="images/profile-pic-daenerys.jpg">
          </div>
          <div class="media-body">
            <a href="brand-submission-detail-revised.html">
              <h4 class="media-heading">
                  Daenerys Targaryen
                  <span class="pull-right">Status: Need Revision</span>
              </h4>
            </a>

            <div class="media-item">
              <h5>Submission Number:</h5>
              <h4>5</h4>
            </div>
            <br>
            <div class="media-item">
              <h5>Submitted on:</h5>
              <h4>10/10/16</h4>
            </div>

          </div>
        </div>
      </div>

      <div class="panel panel-default another-state">
        <div class="media">
          <div class="media-left">
            <img class="media-object" src="images/profile-pic-daenerys.jpg">
          </div>
          <div class="media-body">
            <a href="brand-submission-detail-revised.html">
              <h4 class="media-heading">
                  Daenerys Targaryen
                  <span class="pull-right">Status: Posted</span>
              </h4>
            </a>

            <div class="media-item">
              <h5>Submission Number:</h5>
              <h4>6</h4>
            </div>
            <br>
            <div class="media-item">
              <h5>Submitted on:</h5>
              <h4>10/10/16</h4>
            </div>
            <div class="media-item">
              <h5>Post by:</h5>
              <h4>20/10/16</h4>
            </div>
            <div class="media-item">
              <h5>Post on:</h5>
              <h4>20/10/16</h4>
            </div>

          </div>
        </div>
      </div>

    </div>