<div class="container">

      <div class="page-header">
        <h2 class="pull-left">Campaign Detail (PRODUCTION)</h2>
        <div class="pull-right">
          <a  href="/brand#/campaign" class="btn btn-default">
            Back to Campaign List
          </a>
        </div>
        <div class="clear"></div>
      </div>

      <scientific-card card-type="brand-my-campaign" ng-model="formDataArray"></scientific-card>


      <div class="panel panel-default">
        <div class="media">
          <div class="media-body">
            <div class="media-item">
              <h5>Selected Proposals:</h5>
              <h4>{{ formData.campaignProposals.length }}</h4>
            </div>
            <div class="media-item">
              <h5>Posted:</h5>
              <h4>{{ formData.campaignSubmissions.length }}</h4>
            </div>
            <div class="media-item">
              <h5>Budget:</h5>
              <h4>{{ formData.budget }}</h4>
            </div>
            <div class="media-item">
              <h5>Potential Reach</h5>
              <h4>2.5 Million+ Users</h4>
            </div>

          </div>
        </div>
      </div>


      <div class="page-header">
        <h3 class="pull-left">Submissions</h3>
        <div class="clear"></div>
      </div>

      <div class="filter">
        Filter: <a href="#" class="active">All (2)</a> | <a href="#">Wait for Submission (0)</a> | <a href="#">Need Revision (1)</a> | <a href="#">Wait for Review (1)</a> | <a href="#">Wait for Post (0)</a> | <a href="#">Posted (0)</a>
        <br><br>
      </div>

      <div class="panel panel-default" ng-repeat="card in formData.campaignSubmissions">
        <div class="media">
          <div class="media-left">
            <img class="media-object" src="{{ card.influencer.user.profilePicture.url }}">
          </div>
          <div class="media-body">
            <a href="brand-submission-detail.html">
              <h4 class="media-heading">
                  {{ card.influencer.user.name }}
                  <span class="pull-right">Status: {{ card.status }}</span>
              </h4>
            </a>

            <div class="media-item">
              <h5>Submission Number:</h5>
              <h4>1</h4>
            </div>
            <br>
            <div class="media-item">
              <h5>Submitted on:</h5>
              <h4>{{ card.updatedAt | date: 'd/m/y' }}</h4>
            </div>

          </div>
        </div>
      </div>



    </div>
