   <div class="container">
    <nc-alert nc-model="alert"></nc-alert>
      <div class="page-header">
        <h2 class="pull-left">Submission Detail</h2>
        <div class="pull-right">
          <a ui-sref="^">
            <button type="button" name="button" class="btn btn-default">Back to Campaign Detail</button>
          </a>
        </div>
        <div class="clear"></div>
      </div>

      <scientific-card ng-model="influencerArray" card-type="influencer"></scientific-card>

      <div class="panel panel-default">
        <div class="panel-body">
          <h4>
            Proposal Detail
          </h4>
          {{ formData.campaignProposal.description }}
          <br><br>
          <h4>Proposed Price: {{formData.campaignProposal.proposePrice | number }} <small>Baht</small></h4>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-body">
          <h3>
            {{formData.influencer.user.name}}'s Submission</i>
            <span class="pull-right"

            >Status: <span ng-class="{'color-red': formData.status == 'need revision'}">{{ formData.status }}</span>
            </span>
          </h3>
          {{ formData.description }}
          <br><br>
          <img ng-repeat="res in formData.resources" src="{{res.url}}" width="500" alt="" />
          <br><br>
          <div class="pull-left" ng-if="formData.status != 'posted'">
            <a ng-click="waitForPost(formData)" class="btn btn-primary" data-toggle="modal" data-target="#modal-approve-submission">
              Approve Proposal
            </a>
            <a ng-click="askForRevision(formData)" class="btn btn-default">
              Ask for Revision
            </a>
          </div>
        </div>
      </div>

    <div class="panel panel-default">

      <div class="panel-body">
          <h3>Your Feedback</h3>
          <blockquote>
            {{  formData.comment }}
          </blockquote>
          <h4>Posting Time: {{ formData.proof[0].updatedAt  | date: 'd/M/y H:m'}}</h4>
        </div>
    </div>

    </div>
