<div class="container">

    <div class="page-header">
        <h2 class="pull-left">Review & Pay</h2>
        <div class="pull-right">
            <a ng-click="goBack()">
                <button type="button" name="button" class="btn btn-default">Back to Campaign Detail</button>
            </a>
        </div>
        <div class="clear"></div>
    </div>

    <div class="panel panel-default">
        <div class="media">
            <div class="media-body">
                <div class="media-item">
                    <h5>All Proposals:</h5>
                    <h4>{{ allProposals }}</h4>
                </div>
                <div class="media-item">
                    <h5>Selected:</h5>
                    <h4>{{ countSelected }}</h4>
                </div>
                <div class="media-item">
                    <h5>Budget:</h5>
                    <h4>{{ countBudget }}</h4>
                </div>
                <div class="media-item">
                    <h5>Potential Reach</h5>
                    <h4>{{countReach}} People</h4>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <table class="table table-price">
                        <thead>
                            <tr>
                                <th>Proposal</th>
                                <th class="table-item-price">Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="cam in campaign.selectedProposals">
                                <td>{{ cam.influencer.user.name }}</td>
                                <td class="table-item-price">{{ cam.proposePrice | number: 2 }}</td>
                            </tr>
                            <tr>
                                <td>Fee</td>
                                <td class="table-item-price">0.00</td>
                            </tr>
                            <tr>
                                <td>Total</td>
                                <td class="table-item-price"><strong>{{ sumFee  | number: 2}}</strong></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default" ng-if="campaign.paymentTransactions.length == 0" >
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <form class="form-horizontal" action="" method="POST">
                        <fieldset>

                            <div class="control-group">
                                <h3>Payment Method</h3>
                                <p>
                                    Only bank transfer option is available in your region at this time.
                                </p>

                            </div>

                        </fieldset>
                    </form>

                    <br>

                    <div class="controls">
                        <a ng-click="readyToPay()"><button class="btn btn-success">Ready to Pay</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="campaign.paymentTransactions.length > 0" class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <form class="form-horizontal" action="" method="POST">
                        <fieldset>

                            <div class="control-group">

                                <h3>Confirm Payment</h3>

                                <label class="control-label">Remaining Time</label><br>
                                <h4 class="color-red">3 Days 1 hour 46 minutes left</h4>

                                <label class="control-label">Upload your slip</label>
                                <br/>
                                <image-thumb width="250" height="250" ng-model="paymentObject"></image-thumb>

                            </div>

                        </fieldset>
                    </form>

                    <br>

                    <div class="controls">
                        <a ng-click="sendSlip(paymentObject)"><button class="btn btn-success">Confirm Payment</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>
