<div class="container">
  <div class="page-header">
    <h2 class="pull-left">Brand Profile</h2>
    <div class="clear"></div>
  </div>
  <nc-alert nc-model="alert"></nc-alert>
  <div class="panel panel-default">
    <div class="panel-body container">
      <image-thumb width="250" height="250" ng-model="formData.profilePicture"></image-thumb>
      <form name="form"
        ng-submit="submit(form)"
        novalidate>
        <fieldset>
          <div class="row">
          <div class="col-md-6">
          <div class="control-group">
            <label class="control-label" for="brandname">Brand Name</label>
            <div class="controls">
              <input required md-no-asterisk name="brandName" class="form-control" ng-model="formData.brand.brandName">
            </div>
          </div>
          <div class="control-group">
            <label>Name</label>
            <div class="controls">
              <input required md-no-asterisk name="name" class="form-control" ng-model="formData.name">
            </div>
          </div>
          <div class="control-group">
            <label>Contact Number</label>
            <div class="controls">
              <input required md-no-asterisk name="contactNumber" class="form-control" ng-model="formData.contactNumber">
            </div>
          </div>
          <div class="control-group">
            <label>Email</label>
            <div class="controls">
              <input required md-no-asterisk name="email" class="form-control" ng-model="formData.email">
            </div>
          </div>
          <div class="control-group">
            <label>Confirm Email</label>
            <div class="controls">
              <input required md-no-asterisk name="email" class="form-control" ng-model="formData.emailConfirm">
            </div>
          </div>
          <br/>
          </div>
          </div>

        </fieldset>
      </form>
    </div>


  </div>
   <button class="btn btn-default "><i class="fa fa-lock"></i> Change Password</button>
  <button class="btn btn-primary " ng-click="saveProfile()">Save Profile</button>
</div>
