<!-- will move this to landing -->
<div class="container"><br>
  <h2 class="form-signin-heading">Please sign in</h2>
    <div class="md-padding" flex>
      <form name="form"
        class="form-horizontal"
        ng-submit="submit(form)"
        novalidate>
        <fieldset>
            <md-input-container class="md-block">
              <label>Email</label>
              <input required md-no-asterisk name="email" class="form-control" ng-model="formData.email">
            </md-input-container>
            <md-input-container class="md-block">
              <label>Password</label>
              <input type="password" class="form-control"  required md-no-asterisk name="password" ng-model="formData.password">
            </md-input-container>
            <div layout="column" layout-align="center center">
              <button class="btn btp-primary" type="submit">Sign-in</button>
            </div>
        </fieldset>
      </form>
    </div>
</div>
