  <md-card-content class="md-padding" layout-xs="column" layout="row" layout-align-xs="center none" layout-align="left none">
      <image-thumb width="250" height="250" ng-model="formData.profilePicture"></image-thumb>
      <div class="md-padding" flex="100">
        <form name="form"
          class="form-horizontal"
          ng-submit="submit(form)"
          novalidate>
          <fieldset>
              <md-input-container class="md-block">
                <label>Brand Name</label>
                <input required md-no-asterisk name="brandName" ng-model="formData.brandName">
              </md-input-container>
              <md-input-container class="md-block">
                <label>Name</label>
                <input required md-no-asterisk name="name" ng-model="formData.name">
              </md-input-container>
               <md-input-container class="md-block">
                <label>Contact Number</label>
                <input md-maxlength="10" required md-no-asterisk name="contactNumber" ng-model="formData.contactNumber">
              </md-input-container>
               <md-input-container class="md-block">
                <label>E-mail</label>
                <input required md-no-asterisk name="email" ng-model="formData.email">
              </md-input-container>
              <md-input-container class="md-block">
                <label>Confirm E-mail</label>
                <input required md-no-asterisk name="emailConfirm" ng-model="formData.emailConfirm">
              </md-input-container>

                <md-button type="submit" class="md-raised pull-right" ng-disabled="true">Change Password</md-button>
               <md-button type="submit" class="md-raised md-primary pull-right" ng-disabled="true">Save</md-button>
          </fieldset>
        </form>
      </div>
  </md-card-content>
</md-card>
