   <div class="container">

      <div class="page-header">
        <h2 class="pull-left">Submission Detail</h2>
        <div class="pull-right">
          <a ui-sref="^">
            <button type="button" name="button" class="btn btn-default">Back to Campaign Detail</button>
          </a>
        </div>
        <div class="clear"></div>
      </div>

      <scientific-card ng-model="influencerArray" card-type="influencer"></scientific-card>

      <div class="panel panel-default">
        <div class="panel-body">
          <h4>
            Proposal Detail
          </h4>
          Very unusually, Eddard announced that he would raise Jon at his home castle Winterfell, alongside his trueborn children with Catelyn. Robb was always treated as Eddard's heir, but otherwise, Jon wasn't treated much differently than his younger half-brothers Bran and Rickon. Jon's mere presence at Winterfell was an understandable source of friction between Eddard and his wife Catelyn.
          <br><br>
          <h4>Proposed Price: 1,000 Baht</h4>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-body">
          <h3>
            Jon Snow's Submission #1
            <span class="pull-right">Status: Wait for Review</span>
          </h3>
          Here is me and my pikachu trying to conquer the north back. Hope you like it.
          <br><br>
          <img src="images/submission-jon.jpg" alt="" />
          <br><br>
          <div class="pull-left">
            <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#modal-approve-submission">
              Approve Proposal
            </a>
            &nbsp
            <a href="#" class="btn btn-default" data-toggle="modal" data-target="#modal-revision-submission">
              Ask for Revision
            </a>
          </div>
        </div>
      </div>

    </div>
