<div class="container">
      <div class="page-header">
        <h2 class="pull-left">My Campaign</h2>
        <div class="pull-right">
          <a href="/brand#/campaign/create" class="btn btn-primary">
            + Create New Campaign
          </a>
        </div>
        <div class="clear"></div>
      </div>

      <div class="filter">
        Filter: <a href="#" class="active">All (3)</a> | <a href="#">Draft (1)</a> | <a href="#">Open (1)</a> | <a href="#">Production (1)</a> | <a href="#">Complete (0)</a>
        <br><br>
      </div>

      <div class="alert alert-success">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Success!</strong> you have done something positive.
      </div>


      <div class="panel panel-default">
        <div class="panel-body text-center">
          You do not have any campaign. <a href="brand-campaign-detail-draft.html">Click here to create campaign</a>
        </div>
      </div>

      <scientific-card card-type="brand-my-campaign" ng-model="[{
        title: 'Ich bin frao',
        status: 'Open'
      }]"></scientific-card>
      
    </div>
