<div class="container">
      <div class="page-header">
        <h2 class="pull-left">My Campaign</h2>
        <div class="pull-right">
          <a href="/brand#/campaign/create" class="btn btn-primary">
            + Create New Campaign
          </a>
        </div>
        <div class="clear"></div>
      </div>

      <div class="filter">
        Filter: <a href="#" class="active">All (3)</a> | <a href="#">Draft (1)</a> | <a href="#">Open (1)</a> | <a href="#">Production (1)</a> | <a href="#">Complete (0)</a>
        <br><br>
      </div>

      <div class="alert alert-success">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Success!</strong> you have done something positive.
      </div>


      <div class="panel panel-default">
        <div class="panel-body text-center">
          You do not have any campaign. <a href="brand-campaign-detail-draft.html">Click here to create campaign</a>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="media">
          <div class="media-left">
            <img class="media-object" src="images/placeholder-draft.jpg">
          </div>
          <div class="media-body">
            <a href="brand-campaign-detail-draft.html">
              <h4 class="media-heading">Pokeland Summer Campaign <i class="fa fa-instagram"></i><span class="pull-right">Status: Draft</span></h4>
            </a>
            <div class="media-item">
              <h5>Reward:</h5>
              <h4>-</h4>
            </div>
            <div class="media-item">
              <h5>Deadline:</h5>
              <h4>-</h4>
            </div>
            <div class="media-item">
              <h5>Wait for Review:</h5>
              <h4>-</h4>
            </div>
            <div class="media-item">
              <h5>Selected:</h5>
              <h4>-</h4>
            </div>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="media">
          <div class="media-left">
            <img class="media-object" src="images/campaign-pokeland.jpg">
          </div>
          <div class="media-body">
            <a href="brand-campaign-detail-open.html">
              <h4 class="media-heading">Pokeland Summer Campaign <i class="fa fa-instagram"></i><span class="pull-right">Status: Open</span></h4>
            </a>
            <div class="media-item">
              <h5>Reward:</h5>
              <h4>500-1,5000</h4>
            </div>
            <div class="media-item">
              <h5>Deadline:</h5>
              <h4>16/06/2016 (30 Days left)</h4>
            </div>
            <div class="media-item">
              <h5>Wait for Review:</h5>
              <h4>20</h4>
            </div>
            <div class="media-item">
              <h5>Selected:</h5>
              <h4>20</h4>
            </div>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="media">
          <div class="media-left">
            <img class="media-object" src="images/campaign-pokeland.jpg">
          </div>
          <div class="media-body">
            <a href="brand-campaign-detail-production.html">
              <h4 class="media-heading">Pokeland Summer Campaign <i class="fa fa-instagram"></i><span class="pull-right">Status: Production</span></h4>
            </a>
            <div class="media-item">
              <h5>Reward:</h5>
              <h4>500-1,5000</h4>
            </div>
            <div class="media-item">
              <h5>Deadline:</h5>
              <h4>16/06/2016 (30 Days left)</h4>
            </div>
            <div class="media-item">
              <h5>Wait for Review:</h5>
              <h4>20</h4>
            </div>
            <div class="media-item">
              <h5>Posted:</h5>
              <h4>20</h4>
            </div>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="media">
          <div class="media-left">
            <img class="media-object grayscale" src="images/campaign-pokeland.jpg">
          </div>
          <div class="media-body">
            <a href="brand-campaign-detail-complete.html">
              <h4 class="media-heading">Pokeland Summer Campaign <i class="fa fa-instagram"></i><span class="pull-right">Status: Complete</span></h4>
            </a>
            <div class="media-item">
              <h5>Reward:</h5>
              <h4>500-1,5000</h4>
            </div>
            <div class="media-item">
              <h5>Deadline:</h5>
              <h4>16/06/2016</h4>
            </div>
            <div class="media-item">
              <h5>Posted:</h5>
              <h4>20</h4>
            </div>
          </div>
        </div>
      </div>

    </div>
