<div class="container">
      <div class="page-header">
        <h2 class="pull-left">Campaign Detail ({{  formData.status }})</h2>
        <div class="pull-right">
          <a href="/brand#/campaign" class="btn btn-default">
            Back to Campaign List
          </a>
        </div>
        <div class="clear"></div>
      </div>

      <div class="panel panel-default">
          <div class="panel-body">
            <div class="row">
              <div class="col-md-6">
                <form class="form-horizontal" action="" method="POST">
                    <fieldset>
                      <div class="control-group">
                        <label class="control-label">Campaign Name</label>
                        <div class="controls">
                          <input type="text" ng-model="formData.title" class="form-control">
                        </div>
                      </div>
                      <fs-campaign-category-selector ng-model="formData.category">
                      </fs-campaign-category-selector>
                      <fs-media-selector ng-model="formData.media[0]"></fs-media-selector>
                      <div class="control-group">
                        <label class="control-label" disabled for="budget">Budget per Influencer</label>
                          <select class="form-control" ng-model="formData.budget" id="budget">
                            <option disabled>- Select Budget -</option>
                            <option>500-1,000</option>
                            <option>1,000-5,000</option>
                            <option>5,000-10,000</option>
                            <option>10,000+</option>
                          </select>
                      </div>
                      <div class="control-group">
                        <label class="control-label">Campaign Image</label>
                        <p>
                        <image-thumb width="auto" height="200"
                        no-image-url="https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/No_image_available_600_x_200.svg/600px-No_image_available_600_x_200.svg.png"
                        ng-model="formData.resources[0]"></image-thumb>
                        </p>
                      </div>
                      <div class="control-group">
                        <label class="control-label">Campaign Description</label>
                        <div class="controls">
                          <textarea type="text" placeholder="" ng-model="formData.description" class="form-control" rows="3"></textarea>
                        </div>
                      </div>
                      <div class="control-group">
                        <label class="control-label">Additional Image 1 (Optional)</label>

                        <image-thumb width="auto" height="200"
                        no-image-url="https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/No_image_available_600_x_200.svg/600px-No_image_available_600_x_200.svg.png"
                        ng-model="formData.resources[1]"></image-thumb>

                      </div>
                      <div class="control-group">
                        <label class="control-label">Additional Image 2 (Optional)</label>

                        <image-thumb width="auto" height="200"
                        no-image-url="https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/No_image_available_600_x_200.svg/600px-No_image_available_600_x_200.svg.png"
                        ng-model="formData.resources[2]"></image-thumb>

                      </div>
                      <div class="control-group">
                        <label class="control-label">Additional Image 3 (Optional)</label>

                        <image-thumb width="auto" height="200"
                        no-image-url="https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/No_image_available_600_x_200.svg/600px-No_image_available_600_x_200.svg.png"
                        ng-model="formData.resources[3]"></image-thumb>

                      </div>

                      <br>

                      <div class="control-group">
                        <label class="control-label" >Proposal Deadline</label>
                        <div class="controls">
                          <input type="date" ng-model="formData.proposalDeadline" class="form-control">
                        </div>
                      </div>
                      <div class="control-group">
                        <label class="control-label">Submission Deadline</label>
                        <div class="controls">
                          <input type="date" ng-model="formData.submissionDeadline" class="form-control">
                        </div>
                      </div>

                    </fieldset>
                  </form>

                  <br>
                  <br>

                  <div class="controls">
                    <a ng-click="savePublish()" class="btn btn-success">
                      Publish
                    </a>
                    <a ng-click="saveDraft()" class="btn btn-default">
                      Save as Draft
                    </a>
                  </div>
              </div>
            </div>
          </div>
      </div>






    </div>
