<div class="container">
  <div class="page-header">
    <h2><i class="fa fa-pied-piper"></i>  ReachRabbit <small>A/B Team</small></h2>
    <div class="clear"></div>
  </div>

  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <span ng-if="campaigns.length ==0">No Campaign for you to review</span>
          <table class="table" ng-if="campaigns.length > 0">
            <thead>
              <tr>
                <th>Campaign</th>
                <th>Status</th>
                <th>Date & Time</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="row in campaigns">
                <td>{{row.title}}</td>
                <td>{{row.status}}</td>
                <td>{{row.createdAt | date}}</td>
                <td><button class="btn btn-primary" ng-click="confirmPayment(row)" ng-disabled="row.status !== 'wait for confirm'">Confirm payment</button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <span ng-if="submissions.length == 0">No submission for you to review</span>
          <table class="table" ng-if="submissions.length > 0">
            <thead>
              <tr>
                <th>Submission</th>
                <th>Status</th>
                <th>Date & Time</th>
                <th>Proof</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="row in submissions">
                <td>{{row.title}}</td>
                <td>{{row.status}}</td>
                <td>{{row.createdAt | date}}</td>
                <td><img ng-if="row.proof.length > 0" ng-src="{{row.proof[0].url}}"/><span ng-if="row.proof.length == 0">Not yet</span></td>
                <td><button class="btn btn-primary" ng-click="approveSubmission(row)" ng-disabled="row.status != 'posted'">Confirm post</button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <span ng-if="payments.length == 0">No payment for you to review</span>
          <table class="table" ng-if="payments.length > 0">
            <thead>
              <tr>
                <th>Campaign</th>
                <th>From</th>
                <th>To</th>
                <th>Status</th>
                <th>Date & Time</th>
                <th class="table-item-price">Price</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="row in payments">
                <td>{{row.campaign.title}}</td>
                <td>{{row.source.name}}</td>
                <td>{{row.target.name}}</td>
                <td>{{row.status}}</td>
                <td>{{row.createdAt | date}}</td>
                <td class="table-item-price">{{row.amount}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>