<div class="container">
  <div class="page-header">
    <h2 class="pull-left">Transaction List</h2>
    <div class="clear"></div>
  </div>

  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <table class="table">
            <thead>
              <tr>
                <th>Campaign</th>
                <th>Status</th>
                <th>Date & Time</th>
                <th class="table-item-price">Price</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="row in campaigns">
                <td>{{row.title}}</td>
                <td>{{row.status}}</td>
                <td>{{row.createdAt | date}}</td>
                <td class="table-item-price">{{getPrice(row)}}</td>
                <td><button ng-click="confirmPayment(row)" ng-disabled="row.status !== 'wait for confirm'">Approve</button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <table class="table">
            <thead>
              <tr>
                <th>Submission</th>
                <th>Status</th>
                <th>Date & Time</th>
                <th>Proof</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="row in submissions">
                <td>{{row.title}}</td>
                <td>{{row.status}}</td>
                <td>{{row.createdAt | date}}</td>
                <td class="table-item-price"><img ng-if="row.proofs.length > 0" src="{{row.proofs[0].url}}"/><span ng-if="row.proofs.length == 0">Not yet</span></td>
                <td><button ng-click="approveSubmission(row)" ng-disabled="row.proofs.length == 0">Approve</button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>